doctype html
html(lang="en")
	head
		title MXML
	body
		.panel
		.script
		.remoteobject
		.method
		.method
		.method
		.method
		.method
		.method
		.method
		.method
		.method
		.method
		.remoteobject
		.method
		.remoteobject
		.method
		.method
		.states
		.state
		.addchild
		.state
		.removechild
		.removechild
		.removechild
		.removechild
		.state
		.addchild
		.state
		.addchild
		.state
		.addchild
		.vbox
		.hbox
		.hbox
		label.mx#lblContrato {resourceManager.getString('recursos','repmoral.lblcontrato')}
		.textinput
		button.mx#btnConsultar 
		label.mx#lblNombre {resourceManager.getString('recursos','repmoral.lblnombre')}
		.textinput
		label.mx#lblPerfil {resourceManager.getString('recursos','repmoral.lblperfil')}
		.textinput
		.hbox
		.hbox
		.hbox
		.image
		label.mx#lblCaracteristicas {strCaracteristicas}
		.hbox
		.hbox
		label.mx#lblFirmasAutorizadas {resourceManager.getString('recursos','repmoral.lblFirmasAutorizadas')}
		.formitem
		.combobox
		.vbox
		label.mx#lblMsgAsesorInver {resourceManager.getString('recursos','repmoral.lblAsesorInver')}
		label.mx#lblMsgAsesorInverPDF {resourceManager.getString('recursos','repmoral.lblAsesorInverPDF')}
		button.mx#btnImprimeReporte 
		.canvas
		.vbox
		.hbox
		.tabbar
		.hbox
		.viewstack
		.hbox
		.hbox
		button.mx#btnPaginaAnterior {resourceManager.getString('recursos','repmoral.btnAnterior')}
		.hbox
		button.mx#btnCalcularPerfil {resourceManager.getString('recursos','repmoral.btnCalcular')}
		button.mx#btnRestart {resourceManager.getString('recursos','repmoral.btnReiniciar')}
		button.mx#btnEnviar {resourceManager.getString('recursos','repmoral.btnEnviar')}
		button.mx#btnCancelar {resourceManager.getString('recursos','repmoral.btnCancelar')}
		.hbox
		button.mx#btnPaginaSiguiente {resourceManager.getString('recursos','repmoral.btnSiguiente')}
	style.
		.controlBarContent {
		  border: 1px solid gray;
		  background: lightgray;
		}
		.hbox {
		  display: flex;
		  flex-direction: row;
		}
		.vbox {
		  display: flex;
		  flex-direction: column;
		}
