.content {
  #alinearinputs {
    display: flex;
    flex-wrap: wrap;
  }
  #tab_captura_de_capitales {
    display: flex;
  }
  #tab_ordenes {
    display: flex;

    #grid_toolbar {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
#botones-final {
  display: flex;
  justify-content: center;
  .field-control{
    border: 0.5px solid #D3D3D3;
    border-radius: 8px;
    padding: 5px;
    }
}
#boton-reset {
  display: flex;
  justify-content: flex-end;
}
#ordenaElementos  {
  flex-wrap: wrap;
  .field-label {
    width: 8.5em;
  }
  overflow-y: auto !important;
  max-height: 500px !important;
  width: 300px !important; 
  overflow-x: disabled !important; 
  
  }
  #elementosOcultos{
  display: none;
  flex-wrap: wrap;
  .field-label {
    width: 8.5em;
  }
  }

#elementosJuntos{
  display: flex;
  }
#elementosJuntos2{
    display: flex;
   // display: none;
    .field-label {
      width: 6em !important;
    }
  }
#elementosJuntos3{
    display: flex;
    .field-label {
      width: 5em;
    }
  }
  
#posicionlabel{
    display: flex;
    .field-label {
      width: 5em;
    }
  } 

#field_Posicion{
  display: none; 
}
#field_digito{ 
  display: none;      
  .field-label {
    width: 1em !important;
  }
}
#field_red{
  display: none;
}
#field_precMdo{
  display: none;
}
#field_PrecCierre{
  display: none;
}
  #field_titular{ 
    display: none;      
    .field-label {
      width: 1em !important;
    }
    }
#field_perfilC{ 
    display: none; 
    .field-label {
      position: relative; 
      top: 0.8em; 
    }         
} 
#field_IPContrato{ 
  display: none;      
  .field-label {
    width: 1em !important;
  }
} 
  #field_pemisora{ 
    display: none;
  }
  #field_Mensajes{ 
    display: none;      
    .field-label {
      width: 0em !important;
    }
  } 
  #field_CapturarDA{
    .field-label {
      width: 0em !important;
    } 
  }
  
  .verde{ color: white;background-color: lightgreen}; 
 // .mySelect option[value="--Seleccione--"] { color: black;background-color: #D3D3D3; } 
  .rojo{ color: white ;background-color: red}; 

  .pemisoranew {
    display: flex !important;
    flex-wrap: wrap !important;
  }

.autoTamano{
  overflow-y: auto !important;
  max-height: 80px !important;
  width: 200px !important; 
  overflow-x: disabled !important;
}

}