include /mixins/mixins


+tab-group("cotitular2_clasificacion_contrato_tab_group",
    {id: "clasificacion_contrato", label: "Clasificación Contrato"},
    {id: "conocimiento_experiencia", label: "Conocimiento y Experiencia"},
    {id: "limitantes_invertir", label: "Limitantes a Invertir"},
    {id: "relacion_emisor", label: "Relación Emisor"}
)
    +tab-item("clasificacion_contrato")
        form#datos-generales-header(data-parsley-validate="")
            +field-input("asesor_inversion",
                {
                label: "Asesor de Inversión:",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("tipo_manifiesto",
                {
                label: "Tipo de Manifiesto:",
                size: "5em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("servicio_inversion",
                {
                label: "Servicio de Inversión:",
                size: "5em",
                disabled: true,
                orientation: "horizontal"
                })
            .row
                +field-input("carta_ejecucion",
                    {
                    label: "Carta Ejecución:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("fecha_carta_ejecucion",
                    {
                    label: "Fecha:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
            .row
                +field-input("carta_ejecucion_2",
                    {
                    label: "Carta Ejecución:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("fecha_carta_ejecucion_2",
                    {
                    label: "Fecha:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
            .row
                +field-input("institucional_pract_vta",
                    {
                    label: "Institucional/Institucional Pract. Vta.:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("justificacion_institucional_pract_vta",
                    {
                    label: "Justificación:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("fecha_institucional_pract_vta",
                    {
                    label: "Fecha:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
            .row
                +field-input("sofisticado_nosofisticado",
                    {
                    label: "Sofisticado/No Sofisticado:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("justificacion_sofisticado_nosofisticado",
                    {
                    label: "Justificación:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("fecha_sofisticado_nosofisticado",
                    {
                    label: "Fecha:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
            .row
                +field-input("elegible_noelegible",
                    {
                    label: "Elegible/No Elegible:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("justificacion_elegible_noelegible",
                    {
                    label: "Justificación:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("fecha_elegible_noelegible",
                    {
                    label: "Fecha:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
            .row
                +field-input("calificado_nocalificado",
                    {
                    label: "Calificado/No Calificado:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("justificacion_calificado_nocalificado",
                    {
                    label: "Justificación:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("fecha_calificado_nocalificado",
                    {
                    label: "Fecha:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
            .row
                +field-input("discrecional_nodiscrecional",
                    {
                    label: "Discrecional/No Discrecional:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("justificacion_discrecional_nodiscrecional",
                    {
                    label: "Justificación:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
                +field-input("fecha_discrecional_nodiscrecional",
                    {
                    label: "Fecha:",
                    size: "5em",
                    disabled: true,
                    orientation: "horizontal"
                    })
            .row
                +field-input("anexo_descriptivo",
                    {
                    label: "Anexo Descriptivo:",
                    size: "15em",
                    disabled: true,
                    orientation: "horizontal"
                    })


    +tab-item("conocimiento_experiencia")
        .row
            +quiz("encuesta2", {name: "6. Seleccione la opción que corresponde a la situación financiera actual del cliente.", size: "40em"}, [
                {question: "6.1. Porcentaje del total del Patrimonio que el Cliente designa a invertir en productos de inversión (diferentes de bienes raíces, etc.):", required: true},
                {question: "6.2. Porcentaje del ingreso anual que el cliente destina a invertir en instrumentos de inversión", required: true},
                {question: "6.3. Porcentaje de las inversiones del cliente que mantendrá en esta institución", required: true}
                ], [
                    {answer: "0-20%", type: "option"},
                    {answer: "20-40%", type: "option"},
                    {answer: "40-60%", type: "option"},
                    {answer: "60-80%", type: "option"}
                ])

    +tab-item("limitantes_invertir")
        +grid("limitantes_invertir_grid")

    +tab-item("relacion_emisor")
        +grid("relacion_emisor_grid")