@import "../vars";

.field {
  .tag-list {
    border: 1px solid $input_border-color;
    max-height: 7em;
    overflow: auto;

    &:empty {
      display: none;
    }

    li {
      padding: 5px;
    }

    li:nth-of-type(odd) {
      background-color: $color-sky-light;
    }
  }
}

.button-noborder {
  width: 30px;
  height: 30px;
  padding: 0.5px;

  img {
    width: 28px;

    &.plus-icon {
      content: url("../../assets/images/btn-add.png");
    }

    &.minus-icon {
      content: url("../../assets/images/btn-remove.png");
    }
  }
}
