@import "../vars";

.button {
  background: $button_background_color;
  // background: linear-gradient(
  //   to bottom,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(235, 235, 235, 1) 48%,
  //   rgba(224, 224, 224, 1) 62%,
  //   rgba(242, 242, 242, 1) 100%
  // );
  color: $button_font_color;
  border: 1px solid $button_border_color;
  border-radius: 3px 3px 8px 8px;
  box-shadow: 1px 1px $button_shadow_color;
  cursor: pointer;
  margin: 0 3px 0 3px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    font-weight: 600;
  }

  &.big-button {
    width: 70px;
    height: 60px;
    padding: 0;
  }

  &.medium-button {
    height: 45px;
    padding-left: 5px;
    padding-right: 8px;
    border-radius: 8px;

    span {
      margin-left: 5px;
    }
  }

  &.small-button {
    width: 35px;
    height: 35px;
    padding: 0.5px;

    img {
      width: 22px;
    }
  }

  &.is-icon {
    color: $color-ink-lighter;
    border: none;
    background: none;
    border-radius: none;
    box-shadow: none;
    font-size: 18px;
    padding: 0 2px;

    &.is-green {
      color: $color-green;
    }

    &.is-red {
      color: $color-red-dark;
    }
  }

  &:disabled {
    cursor: default;
    color: $font_disabled_color;
    border-color: $font_disabled_color;
    background: $color_white;
  }
}
