.amListSwapWrapper {
  padding: 2px;
  width: 60em;

  .amTitle {
    text-align: center;
    border-bottom: 1px solid black;
    font-weight: bold;
    width: 22em;
  }

  .amSourceControl {
    width: 3em;
    float: left;
    vertical-align: middle;
    padding: 0.5em;
    margin-top: 2em;
  }

  ul.amColumn > li.portlet.selected {
    background: $color-blue-lighter;
  }

  li {
    cursor: pointer;
  }

  li.portlet:nth-child(odd) {
    background: $color-sky-light;
    height: 22px;
    padding: 5px;
  }
  li.portlet:nth-child(even) {
    background: $color-white;
    height: 22px;
    padding: 5px;
  }

  .amColumn {
    float: left;
    overflow: auto;
    height: 200px;
    width: 22em;
  }
  .portlet {
    padding: 0.3em;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 20px;
  }

  #divSwapListButtons {
    width: 20em;
    float: left;
    margin-left: 34em;
  }
  #divSwapListSource {
    width: 22em;
    float: left;
    height: 20em;
  }

  #divSwapListDestination {
    width: 22em;
    float: left;
    height: 20em;
  }

  #divSwapList li:hover {
    background-color: #b4e1fa;
    color: $font_color;
  }
}
