.listswap_wrapper {
  padding: 10px;
}

.source,
.destination {
  float: left;
  width: 20em;
}

.title {
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.source_control {
  float: left;
  width: 4em;
  padding: 10px;
}

.selected {
  background: beige;
}

li {
  cursor: pointer;
}
