@import "../vars";

label {
  &.amSelect {
    position: relative;

    &:after {
      content: "\f0dd";
      font-family: "FontAwesome";
      font-size: 1.3em;
      color: $button_font_color;
      right: 8px;
      top: 1px;
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
    }

    &:before {
      content: "";
      right: 4px;
      top: 6px;
      width: 23px;
      height: 16px;
      background: $color-white;
      position: absolute;
      pointer-events: none;
      display: block;
    }
  }
}

.amSelectbox {
  display: block;
  padding: 0.5em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $button_border_color;
  // box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
  background-color: $color-white;
  font-size: 1em;
  color: $font_color;
  // background-image: $background_image;
  // background-repeat: $background_repeat;
  // background-position: $background_position;
  // background-size: $background_size;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    border-color: $button_border_color;
  }

  &:focus {
    border-color: $button_border_color;
    // box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    // box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: $button_font_color;
    outline: none;
  }

  & option {
    font-weight: normal;
  }
}
