@import "../vars";

.amHasToggleInput {
  label {
    height: 28px;
    color: $color-ink-lightest;

    &.amLeft {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &.amRight {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &.active {
      background-image: linear-gradient(
        to bottom,
        rgb(54, 114, 219),
        rgb(114, 171, 252)
      );
      border-color: $color-ink-lightest;
    }
  }
}
