.contextMenu.hidden#menu-pdf
    ul
        li#pdf-reporte-asignacion
            span PDF Reporte de Asignación
        li#pdf-confirmacion-global
            span PDF Confirmación Global
        li#pdf-confirmacion-detallada
            span PDF Confirmación Detallada

.contextMenu.hidden#menu-xls
    ul
        li#xls-reporte-asignacion
            span Excel Reporte de Asignación
        li#xls-confirmacion-global
            span Excel Confirmación Global
        li#xls-confirmacion-detallada
            span Excel Confirmación Detallada

.contextMenu.hidden#contextMenu
    ul
        li#cierre-definitivo
            span Cierre definitivo
        li#detalle-captacion
            span Detalle de captación
        li#cancela-notae
            span Cancelar nota estructurada
        li#reenvio-cierre
            span Reenvío de cierre