extends /layouts/html5
block styles
   link(rel="stylesheet" href="/assets/css/accimarket/107-asignacion-y-flujo-de-ordenes/styles.css")

   .ui-dialog.hidden(id="columnas")

         .row.p-6
             +field-swaplist("listado",{title_source:"Columnas Disponibles",title_destination:"Columnas Seleccionadas"})
                                                               
         
      
block scripts
   script(src="/assets/scripts/accimarket/107-asignacion-y-flujo-de-ordenes/scripts.js")