@import "../../../styles/vars";

.content {
  #search-actions-column {
    width: 15em;
    height: 25em;
  }

  #field_estatus {
    flex-wrap: wrap;
    width: 23em;
    height: 5em;

    label[for="chk_estatus"] {
      width: 19em;
      text-align: center;
      font-weight: bold;
    }

    .field-control {
      .flex {
        label {
          display: flex;
          width: 11em;
        }
        width: 30em;
        flex-wrap: wrap;
      }
    }
    

    #field_mayor {
      .field-control {
        margin-top: 1em;
      }
    }
  }
  #field_id {
    .field-control {
      margin-top: 0.5em;
    }
  }
}
#field_totalreg {
  font-weight: 700;
  justify-content: flex-end;

  input {
    text-align: center;
  }
}

.field-control1 {
  .flex {
    label {
      display: flex;
      width: 11em;
    }
    width: 30em;
    flex-wrap: wrap;
  }
}
.field-control2 {
  .flex {
    label {
      display: flex;
      width: 11em;
    }
    width: 30em;
    flex-wrap: wrap;
  }
}
#grupo3 {
  display: flex;
  flex-wrap: wrap;
  width: 40em;
}
#grupo4 {
  display: flex;
  flex-wrap: wrap;
}

#cancelarasignacionyflujo {
  label {
    width: 100px;
  }

  #grupo1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5em;
    width: 40em;
  }
  #grupo2 {
    display: flex;
    flex-wrap: wrap;
  }
}

.desconocido {
  background: pink;
}
.asignado {
  background: green;
}
.sin-asignar {
  background: yellow;
}
.distribuidas {
  background: teal;
}
.pendientes {
  background: blue;
}
.canceladas {
  background: red;
}
.bloqueadas {
  background: black;
}

.table-row-compra {
  color: $color-green !important;
}

.table-row-venta {
  color: $color-red !important;
}

#modificar {
  label {
    width: 100px;
  }

  #grupo3 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5em;
    // width: 40em;
  }
  #grupo4 {
    display: flex;
    flex-wrap: wrap;
  }
  #row.flex {
    display: flex;
  }
}
#botones{
  position: relative;
  top: 25em;
  right: 12em;
}

#cancelarasignacionyflujo {
  label {
    width: 100px;
  }

  #grupo3 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5em;
    // width: 40em;
  }
  #grupo4 {
    display: flex;
    flex-wrap: wrap;
  }
  #row.flex {
    display: flex;
  }
}
#botones{
  position: relative;
  top: 25em;
  right: 12em;
}
 



#field_segundos-actualizar {
  label {
    padding-top: 6px;
  }
}

#field_mayor {
  span.currency-prefix {
    padding-top: 6px;
  }
}

#jqContextMenu {
  ul {
    width: 200px !important;
    padding: 5px !important;
  }
}

#gbox_table_busquedaFlujo {
  display: flex;
  flex-direction: column-reverse;
}

#pager_busquedaFlujo {
  display: flex;
  justify-content: flex-end;
}

#field_excluir{
  .field-control{
    right: 95px;
    top: 45px;
    bottom: 30%;
    height: 1px;
    width: 1px;
    margin-top: 2px;
    z-index: 4;
  }
}

#field_exclu{
  .field-control{
    right: 95px;
    top: 45px;
    bottom: 30%;
    height: 1px;
    width: 1px;
    margin-top: 2px;
    z-index: 4;
  }
}

