extends /layouts/html5

block title
   title Listas

block styles
   //- link(rel="stylesheet" href="/assets/css/accimarket/listado/style.scss")

block content
   .row.p-6
      +field-swaplist("listado",{title_source:"Columnas Disponibles",title_destination:"Columnas Seleccionadas"})
      
block scripts
   script(src="/assets/scripts/accimarket/listado/scripts.js")