extends /layouts/html5

block title
   title Graficos

block styles
   link(rel="stylesheet" href="/assets/css/accimarket/listado/styles.css")

block content
   .row.p-6
      +field-listswap("source",
         {label:'Columnas Disponibles'}
         )
      +field-listswap("destination",
         {label:'Columnas Seleccionadas'})

block scripts
   script(src="/assets/scripts/accimarket/listado/scripts.js")