extends /layouts/html5

block title
   title Graficos

block styles
   link(rel="stylesheet" href="/assets/css/accimarket/listado/styles.css")

block content
   .row.p-6
      +field-listswap("source",
         {label:'Columnas Disponibles'},
         {key: "1", value:"option_1_2", label:"Valor 1"},
         {key: "2", value:"option_1_3", label:"Valor 2"},
         {key: "3", value:"option_1_4", label:"Valor 3"}
         )
      +field-listswap("destination",
         {label:'Columnas Seleccionadas'},
         {key: "4", value:"option_1_5", label:"Valor 4"},
         {key: "5", value:"option_1_6", label:"Valor 5"})

block scripts
   script(src="/assets/scripts/accimarket/listado/scripts.js")