@import "../vars";

.amField {
  padding: 6px;

  &.amIsHorizontal {
    display: flex;
    flex-flow: row;
    // align-items: center;

    // .field-label {
    //   // width: 5em;
    //   &:after {
    //     content: ":";
    //   }
    // }

    .amRadioButton {
      padding-right: 1.5em;
    }

    // .field-label {
    //   label,
    //   span {
    //     padding-top: 5px;
    //   }
    // }

    .amFieldControl {
      margin-left: 8px;
    }

    .amFieldValidated {
      position: relative;
    }
  }

  &.amIsVertical {
    display: flex;
    flex-flow: column;
  }

  label {
    display: block;
    // font-weight: bold;
    padding-bottom: 5px;
  }

  span {
    &.amRequired {
      padding-left: 3px;
      color: $color-red-dark;
      font-size: 1em;
    }
  }

  .amInput {
    //display: block;
    background-color: $input_background_color;
    border: 1px solid rgb(196, 190, 190);
    border-radius: 6px;
    color: $font_color;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1em;

    &:disabled {
      background-color: $input_background-color_disabled;
      font-weight: bold;
      color: $darkblue;
    }

    &.amIsExtraSmall {
      width: 64px;
    }

    &.amIsSmall {
      width: 128px;
    }

    &.amIsMedium {
      width: 256px;
    }

    &.amIsLarge {
      width: 512px;
    }

    &.amHasError {
      border: 1px solid $color-red-dark;
    }
  }

  input {
    height: 28px;
  }

  p {
    &.amHelpText {
      color: $color-ink-lighter;
      font-size: 90%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  ul {
    &.amErrorList {
      list-style: none;
      padding-inline-start: 0;
      margin-block-start: 0.3em;

      li {
        color: $color-red-dark;
      }
    }
  }

  .amFieldControl {
    box-sizing: border-box;
    clear: both;
    // font-size: 1rem;
    position: relative;
    text-align: left;

    &.amHasAddons {
      display: flex;
      justify-content: flex-start;

      & > button:first-child {
        padding-left: 5px;
      }
    }
  }
}
