@import "../vars";

.amIsSearchForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .amIsHorizontal {
    flex-direction: row;
  }

  .amIsVertical {
    flex-direction: column;
  }

  .amIsStart {
    justify-content: flex-start;
  }

  .amIsCenter {
    justify-content: center;
  }

  .amIsEnd {
    justify-content: flex-end;
  }

  // Small devices (landscape phones, 576px and up)
  // @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  }
}
