.amQuiz {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow-x: auto;

  .amQuestion {
    text-align: left;
    padding: 8px;

    span {
      &.amRequired {
        padding-left: 3px;
        color: $color-red-dark;
        font-size: 1.5em;
      }
    }
  }

  .amAnswer {
    text-align: center;
    padding: 8px;
  }
}
