@import "../vars";

.amSidebarWrapper {
  display: flex;

  .amSidebar {
    display: flex;
    flex-grow: 2;
    transition: all 0.3s;

    &.amIsClosed {
      flex-grow: 0;

      .amSidebarContent {
        display: none;
      }

      .amSidebarCollapsibleButton {
        cursor: pointer;
        width: 1.5em;
        border: 1px solid darkgray;
        border-radius: 1em;
        height: 100%;
        background-image: url("../../../../assets/images/arrow-right.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .amSidebarCollapsibleButton {
      cursor: pointer;
      width: 1.5em;
      border: 1px solid darkgray;
      border-radius: 1em;
      height: 100%;
      background-image: url("../../../../assets/images/arrow-left.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .amSidebarContent {
    flex-grow: 8;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
  }
}
