@import "../vars";

.wizard {
  .steps {
    ul {
      li {
        width: 20em;
      }
    }
    .current {
      a {
        background: $color-blue-dark;
      }
    }
    .disabled {
      a {
        background: $color-sky;
      }
    }
    .done {
      a {
        opacity: 1;
      }
    }
  }

  .content {
    border: 1px solid $button_border_color;
    background: $color-white;
  }

  .actions {
    
    ul {
      display: flex;
      justify-content: space-between;
    }

    a {
      background: $color_white;
      border: 1px solid $button_border_color;
      border-radius: 8px 8px 8px 8px;
      box-shadow: 1px 1px $button_shadow_color;
      cursor: pointer;
      margin: 0 3px 0 3px;
      text-align: center;
      width: 70px;
      height: 60px;
      color: black;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    a:active{
      background: $color_white;
      color: black;
      border-radius: 8px 8px 8px 8px;
    }

    a:hover{
      background: $color_white;
      color: black;
      border-radius: 8px 8px 8px 8px;
    }

    .disabled {
      a {
        cursor: default;
        color: $font_disabled_color;
        border-color: $font_disabled_color;
        color: black;
      }

      a:active{
        color: black;
      }
  
      a:hover{
        color: black;
      }
    }
  }
}
