extends /layouts/html5

block styles
    link(rel="stylesheet" href="/assets/css/accimarket/simulador-practicas-ventas/styles.css")

block content
    .content.p-4
        +tab-group("grupo_simulacion_practicas_ventas",
            {id: "tab_simulacion", label: "Simulacion"},
            {id: "tab_resultados", label: "Resultados del dia"})
                +tab-item("tab_simulacion")
                    include _criteriosSimulacion
                    .row
                        .row.overflow-auto
                            +grid("simulador")
                        #search-action-tabla
                            +button-validate({size: "large", disabled: false})
                            +button-reset({size: "large", disabled: false})
                +tab-item("tab_resultados")
                    .row.justify-end.mb-12
                        +button-reset({size: "large", disabled: false})
                    .row
                        .row.w-full.overflow-auto
                            +grid("resultadosDia")

block scripts
    script(src="/assets/scripts/accimarket/simulador-practicas-ventas/scripts.js")