.amContent {
  .amRow {
    flex-wrap: wrap;
  }

  #criteriosBusquedaRendimientos {
    display: flex;
  }

  #divGroupRendimiento {
    flex-wrap: wrap;
    width: 62em;

    input {
      text-align: center;
      font-weight: bold;
    }
  }

  #divFieldPerfilContrato {
    label[for="perfilContrato"] {
      width: 3.5em;
    }
  }

  #divFieldFechaInicial {
    label {
      width: 7.5em;
    }
  }

  #divFieldFechaFinal {
    label {
      width: 6.5em;
    }
  }

  #divFieldOpcionesRendi {
    width: 20em;

    .amFieldControl {
      div {
        label {
          width: 12em;
        }

        width: 24em;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  #divFieldModelosCalculoCombo {
    justify-content: flex-end;
  }
}

#resizable {
  background-position: top left;
  // border: 1px;
  width: 100%;
  height: 100%;
}
#resizable,
#also {
  width: 150px;
  height: 120px;
  padding: 0.5em;
}
#resizable h3,
#also h3 {
  text-align: center;
  margin: 0;
}
#also {
  margin-top: 1em;
}

#splitter-container {
  float: left;
  width: 100%;
  height: 700px;
  // top: 100px;
  // left: 100px;
  position: relative;
  // background: #888;
}
.ui-resizable-e {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  // background: #333;
  cursor: e-resize;
}

#divSimple {
  width: 100%;
  height: 700px;
  // top: 100px;
  // left: 100px;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  // background: #888;
}

#divSimple > div {
  height: 450px !important;
}
