extends /layouts/html5

block title
   title 00. Distribución de Instrucciones

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/09-distribucion-de-instrucciones/styles.css")

block content
  .content.p-4
    include _sidebar
    .content#contenido
      .row#criterios-busqueda
        include _accordion
      .row.has_border.w-full.overflow-auto
        +tab-group("tabs_resultados_busqueda",
                    {id: "tab_promocion", label: "Promoción"},
                    {id: "tab_administrativas", label: "Administrativas"},
                    {id: "tab_fiduciario", label: "Fiduciario"})
          +tab-item("tab_promocion")
            +grid("grid_promocion")
          +tab-item("tab_administrativas")
            +grid("grid_administrativas")
          +tab-item("tab_fiduciario")
            +grid("grid_fiduciario")
block scripts
   script(src="../../assets/scripts/accimarket/09-distribucion-de-instrucciones/scripts.js")