@import "src/views/styles/vars";

.container {
  display: flex;

  #barra-lateral {
    flex-direction: column;
  }

  #contenido {
    display: flex;
    flex-direction: column;
    padding-left: $sidebar_closed_width;
    flex: 1;

    #criterios-busqueda {
      .accordion {
        display: flex;
        flex-direction: column;

        .accordion-content {
          // display: flex;

          #criterios-seleccion-01 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            #botones_accion {
            }
          }

          #criterios-seleccion-02 {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    #resultados-busqueda {
    }

    &.is_sidebar_open {
      padding-left: $sidebar_content_width + $sidebar_closed_width + 14px;
    }
  }
}
