include /mixins/mixins

.row
    +field-input("contrato",
        {
        label: "Contrato",
        orientation: "horizontal"
        })
    +field-input("digito",
        {
        label: "Dígito",
        size: "5em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("dv",
        {
        label: "DV",
        size: "5em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("estatus",
        {
        label: "Estatus",
        size: "5em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("perfil",
        {
        label: "Perfil",
        size: "12em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("perfil2",
        {
        size: "12em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("portafolio",
        {
        label: "Portafolio",
        size: "13em",
        disabled: true,
        orientation: "horizontal"
        })
    +button-search({size: "large", disabled: false})
    +button-pdf({size: "large", disabled: false})
    +button-xls({size: "large", disabled: false})
.row
    +field-input("portafolio2",
        {
        size: "41em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("clabe",
        {
        label: "CLABE",
        size: "11em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("clabe2",
        {
        size: "12em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("stipo-port",
        {
        label: "STipo Port",
        size: "12em",
        disabled: true,
        orientation: "horizontal"
        })
.row
    +field-input("libro",
        {
        label: "Libro",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
