include /mixins/mixins


+tab-group("consultas_tab_group",
    {id: "tab_titular_contrato", label: "TITULAR DEL CONTRATO"},
    {id: "tab_cotitular_2", label: "COTITULAR 2"}
)
    +tab-item("tab_cotitular_2")
        +button-custom({size: "large", disabled: false})
        //- +button-clean({size: "small", disabled: false})
        //- +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
        //- +field-plus-minus("emisora", {label: "Tipo Asamblea"})
        //- +field-plus-minus("estatus", {label: "Tipo Asamblea"})