.is-search-form {
  display: flex;
  justify-content: space-between;
}
#field_negocios {
  margin-top: 1em;
}
#field_totalreg {
  font-weight: 700;
  justify-content: flex-end;

  input {
    text-align: center;
  }
}

#field_dateRangeVencimiento,
#field_dateRangeVencimiento_end_date {
  label {
    width: 10em;
  }
}

#field_msgText {
  .field-control {
    #msgText {
      width: 25em !important;
      height: 15em !important;
    }
  }
}
