include /mixins/mixins

.row.w-full
    p#pregunta6_4 6.4 Selecciona el origen de los ingresos del Cliente destinados a invertir
    +field-checks("origen_uno",
        {
            label: "",
        },
        {key: "3", value:"Venta de Activos", color:"blue"},
        {key: "3", value:"Venta de Bienes", color:"blue"},
        {key: "3", value:"Premios", color:"blue"},
        {key: "3", value:"Herencia", color:"blue"},
        {key: "1", value:"Prestamos", color:"blue"},
        {key: "1", value:"Patrimonio/Ahorro", color:"blue"},
        {key: "1", value:"Salario Anual", color:"blue"},
        {key: "2", value:"Traspaso/Cancelacion de cuentas de otro banco", color:"blue"},
        {key: "2", value:"Pago de Dividendos", color:"blue"},
        {key: "1", value:"Otro", color:"blue"})
.row.w-full
    +field-input("perfilDoc",
        {
            label: "Perfil",
            size: "15em",
            orientation: "horizontal"
        })
    +button-import({size: "small", disabled: false})
.row.w-full
    p#preguntas Inconsistencias
.row
    include _grupo6_1