include /mixins/mixins

.row
    p Selecciona el origen de los ingresos .....
.row
    +field-checks("origen-uno",
                {
                    label: "",
                },
                {key: "SI", value:"Venta de Activos", color:"blue"},
                {key: "NO", value:"Premios", color:"blue"},
                {key: "N/A", value:"Prestamos", color:"blue"},
                {key: "N/A", value:"Salario Anual", color:"blue"})
.row
    +field-checks("origen-dos",
                {
                    label: "",
                },
                {key: "SI", value:"Venta de Bienes", color:"blue"},
                {key: "NO", value:"Herencia", color:"blue"},
                {key: "N/A", value:"Patrimonio/Ahorro", color:"blue"},
                {key: "N/A", value:"Traspaso/Cancelacion de cuentas de otro banco", color:"blue"})