include /mixins/mixins

.amRow
    +field-input("contrato",
        {
            label: "Contrato",
            size: "11em",
            orientation: "horizontal",
            required: true,
            max_length: "9",
            type: "digits"
        })
    +field-input("nombre",
        {
            label: "Nombre",
            size: "35em",
            disabled: true,
            orientation: "horizontal"
        })
    +field-input("perfil",
        {
            label: "Perfil Actual",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
        })

.amRow#divRowPerfilar
    +field-select("personaPerfilar",
        {
            label: "Seleccione la persona que desea perfilar",
            size: "35em",
            required: false,
            orientation: "horizontal"
        })
    label.font-bold.pt-4.pl-4#divFechaNacimiento