include /mixins/mixins

+quiz("encuesta2", "6. Seleccione la opción que corresponde a la situación financiera actual del cliente.", [
        {question: "6.1. Porcentaje del total del Patrimonio que el Cliente designa a invertir en productos de inversión (diferentes de bienes raíces, etc.):", required: true},
        {question: "6.2. Porcentaje del ingreso anual que el cliente destina a invertir en instrumentos de inversión", required: true},
        {question: "6.3. Porcentaje de las inversiones del cliente que mantendrá en esta institución", required: true}
    ], [
        {answer: "0-20%", type: "option"},
        {answer: "20-40%", type: "option"},
        {answer: "40-60%", type: "option"},
        {answer: "60-80%", type: "option"}
    ])
