include /mixins/mixins

.row
    +field-input("contrato",
        {
            label: "Contrato",
            size: "11em",
            orientation: "horizontal"
        })
    +field-input("nombre",
        {
            label: "Nombre",
            size: "35em",
            required: true,
            disabled: true,
            orientation: "horizontal"
        })
    +field-input("perfil",
        {
            label: "Perfil Actual",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
        })

.row
    +field-select("personaPerfilar",
        {
            label: "Seleccione la persona que desea perfilar",
            size: "35em",
            required: true,
            orientation: "horizontal"
        })