include /mixins/mixins

.row
    p#preguntas Descripcion del Perfil:
    table#descripcionPerfil
        tr.text-center.font-bold
            td
                p Perfil de Inversion
            td
                p Tolerancia al Riesgo
            td
                p Objetivo de Invesion
            td
                p Perfiles de Inversion 
                p (Riesgo del Inversionista)
            td
                p Perfil de Riesgo de los Productos
        tr.text-justify
            td
                p Conservador (IR2)
            td
                p Conservador
            td
                p Defensivo
            td
                p.pt-3 El inversionista / Persona Moral con una estrategia conservadora busca una combincaionentre liquidez, seguridad y rendimiento, esto es invierte en valores con rendimientos ligeramente por encima de la tasa libre de riesgo* incluyendo perdidas anualizadas de un rango de 5 al 20% sobre el capital invertido. Invierte con una vision de corto plazo y mediano plazo(menos a 2 a単os).
                p.pt-4 Estos inversionista esperan experimentar no mas que peque単as minusvalas en su portafolio durante el transcurso de un periodo de un a単o y general
            td
                p Productos conservadores la mayoria con mercado secundario* y un volumen alto de opreacion, que pueden ser liquidos en el corto plazo (1 a 365 dias) y mediano plazo (1 a 2 a単os), con un bajo riesgo anualizado de perdida entre el 5 y 20% sobre el capital invertido.
                p.pt-4 *Los Titulos Bancarios Estrucutrados no tienen mercado secundario.