include /mixins/mixins

+field-group("grupoCuatro")
    +field-select("proposito",
        {
            label: "3. Seleccionar el Proposito de Inversion del Cliente (Estrategia)",
            orientation: "horizontal",
            required: true,
            size: "15em"
        })
    +field-select("tolerancia",
        {
            label: "4. Seleccionar la Tolerancia de Riesgo del Cliente.",
            orientation: "horizontal",
            required: true,
            size: "35em"
        })
    include _grupo4_1
    +field-options("limitantes",
        {
            label: "5.1 El cliente tiene alguna limitante y/o restriccion para invertir",
            orientation: "horizontal",
            required: true
        },
        {key:"false", value:"Ninguna"},
        {key:"true", value:"Si"})
    .amRow
        +field-group("grupoInstrumentos")
            .amRow
                p#preguntas Especificar
            .amRow
                p#preguntas Seleccione Independiente
            .amRow
                +field-select-plus-minus("grupoInstrumento",{
                    label:"Grupo Instrumento",
                    size:"18em"
                },
                {key:"1",value:"Ejemplo Instrumentos"},
                {key:"2",value:"Ejemplo Dos Instrumentos"})
                +field-select-plus-minus("grupoInstrumentoValor",{
                    label:"Tipo Valor",
                    size:"12em"
                },
                {key:"1",value:"Valor Instrumentos"},
                {key:"2",value:"Valor Dos Instrumentos"})
            .amRow
                p#preguntas Seleccione Dependiente
            .amRow#divRowEmisoras
                +field-select-plus-minus("emisoras",{
                    label:"Emisoras",
                    size:"18em"
                },
                {key:"1",value:"Ejemplo Emisoras"},
                {key:"2",value:"Ejemplo Dos Emisoras"})
                p#boton BOTON
                +grid("emisora")