include /mixins/mixins

+quiz("informativo","Texto Informativo",
                [
                    {question:""},
                    {question:""},
                    {question:""},
                    {question:""}
                ],
                [
                    {answer:"%", type:"select", options: [{key: "PL1", value: "Valor Plazo 1"}, {key: "PL2", value: "Valor Plazo 2"}]},
                    {answer:"Monto%", type:"select", options: [{key: "PL1", value: "Valor Plazo 1"}, {key: "PL2", value: "Valor Plazo 2"}]},
                    {answer:"Horizonte", type:""},
                    {answer:"Proposito", type:""}
                ])