include /mixins/mixins

+quiz("informativo","Mapa de Liquidez",
                [
                    {question:""},
                    {question:""},
                    {question:""},
                    {question:""}
                ],
                [
                    {answer:"%", type:""},
                    {answer:"Monto%", type:""},
                    {answer:"Horizonte", type:""},
                    {answer:"Proposito", type:""}
                ])