include /mixins/mixins

.row
    p 6. Seleccione la que corresponde a la situacion financiera actual del Cliente
    p 6.1 Porcentaje del total de Patrimonio que el Cliente designa a invertir en productos de inversion (diferentes de bienes raices, etc);
    p 6.2 Porcentaje del ingreso anual que el Cliente destina a invertir en instrumentos de inversion:
    p 6.3 Porcentaje de las inversiones del Cliente que mantendra en esta institucion:
.row
    p 0-20% 
    +field-options("opcion6-1",
                    {},
                    {key:"0-20", value:""})
    +field-options("opcion6-2",
                    {},
                    {key:"0-20", value:""})
    +field-options("opcion6-3",
                    {},
                    {key:"0-20", value:""})
.row
    p 20-40% 
    +field-options("opcion6-1",
                    {},
                    {key:"20-40", value:""})
    +field-options("opcion6-2",
                    {},
                    {key:"20-40", value:""})
    +field-options("opcion6-3",
                    {},
                    {key:"20-40", value:""})
.row
    p 40-60% 
    +field-options("opcion6-1",
                    {},
                    {key:"40-60", value:""})
    +field-options("opcion6-2",
                    {},
                    {key:"40-60", value:""})
    +field-options("opcion6-3",
                    {},
                    {key:"40-60", value:""})
.row
    p 60-80% 
    +field-options("opcion6-1",
                    {},
                    {key:"60-80", value:""})
    +field-options("opcion6-2",
                    {},
                    {key:"60-80", value:""})
    +field-options("opcion6-3",
                    {},
                    {key:"60-80", value:""})
.row
    p 80-100% 
    +field-options("opcion6-1",
                    {},
                    {key:"80-100", value:""})
    +field-options("opcion6-2",
                    {},
                    {key:"80-100", value:""})
    +field-options("opcion6-3",
                    {},
                    {key:"80-100", value:""})
