extends /layouts/html5

block title
    title Reperfilamiento de Personas Fisicas

block styles
    link(rel="stylesheet", href="/assets/css/accimarket/31-reperfilamiento-persona-fisica/styles.css")

block content
    .container
        .row
            +accordion("reperfilamiento-pf")
                +accordion-item("reperfilamiento-pf-item", "Perfilamiento de Personas Fisicas")
                    form.is-search-form#criterios-busqueda(data-parsley-validate="")
                        .column#search-criterias-column
                            .row
                                +field-input("contrato",
                                            {
                                                label: "Contrato",
                                                size: "11em",
                                                orientation: "horizontal"
                                            })
                            .row
                                +field-input("nombre",
                                            {
                                                label: "Nombre",
                                                size: "35em",
                                                required: true,
                                                orientation: "horizontal"
                                            })
                            .row
                                +field-input("perfil",
                                            {
                                                label: "Perfil Actual",
                                                size: "15em",
                                                orientation: "horizontal"
                                            })
                        .column#search-criterias-column
                            .row
                                +field-select("personaPerfilar",
                                            {
                                                label: "Seleccione la persona que desea perfilar",
                                                size: "35em",
                                                required: true,
                                                orientation: "horizontal"
                                            })  
                    include _liquidaciones
                    +field-group("busqueda_contrato")
                            p 1. Para cada una de las siguiente preguntas
                            +field-select("edad",
                                            {
                                                label: "1.1 Intervalo de Edad",
                                                orientation: "horizontal",
                                                required: true,
                                                size: "15em"
                                            })
                            +field-select("estudios",
                                            {
                                                label: "1.2 Nivel de estudios",
                                                orientation: "horizontal",
                                                required: true,
                                                size: "15em"
                                            })
                            +field-select("ocupacion",
                                            {
                                                label: "1.3 Ocupacion",
                                                orientation: "horizontal",
                                                required: true,
                                                size: "15em"
                                            })
                    .column#search-criterias-column
                        .row
                            p 1.4 Actividad Profesional
                        .row
                            +field-select("anterior",
                                        {
                                            label: "Anterior",
                                            orientation: "horizontal",
                                            size: "15em"
                                        })
                            +field-select("actual",
                                        {
                                            label: "Actual",
                                            orientation: "horizontal",
                                            required: true,
                                            size: "15em"
                                        })
                            +field-options("inversiones",
                                        {
                                            label: "Relacionada con Inversiones",
                                            orientation: "horizontal",
                                            required: true
                                        },
                                        {key:"SI", value:"SI"},
                                        {key:"NO", value:"NO"})
                    +field-select("estrategia",
                                {
                                    label: "1.5 Estrategia de inversion del Cliente generalmente utilizada",
                                    orientation: "horizontal",
                                    required: true,
                                    size: "15em"
                                })
                    +field-select("asesoria",
                                {
                                    label: "1.6 El Cliente ha usuado asesoria para la toma de decisiones de inversion",
                                    orientation: "horizontal",
                                    required: true,
                                    size: "15em"
                                })
                    include _primerEncuesta
                    +field-select("proposito",
                                {
                                    label: ". Seleccionar el Proposito de Inversion .....",
                                    orientation: "horizontal",
                                    required: true,
                                    size: "15em"
                                })
                    +field-select("tolerancia",
                                {
                                    label: ". Seleccionar la Tolerancia de Riesgo del Cliente .....",
                                    orientation: "horizontal",
                                    required: true,
                                    size: "35em"
                                })
                    +field-select("horizonte-Inversion",
                                {
                                    label: ". Seleccionar el Horizonte de Inversion del Cliente",
                                    orientation: "horizontal",
                                    required: true,
                                    size: "15em"
                                })
                    +field-options("limitantes",
                                {
                                    label: "El cliente tiene alguna limitante .......",
                                    orientation: "horizontal",
                                    required: true
                                },
                                {key:"NINGUNA", value:"Ninguna"},
                                {key:"SI", value:"Si"})
                    .column#search-criterias-column
                        include _segundaEncuesta
                    .column#search-criterias-column
                            .row
                                p Selecciona el origen de los ingresos .....
                            .row
                                +field-checks("origen-uno",
                                            {
                                                label: "",
                                            },
                                            {key: "SI", value:"Venta de Activos", color:"blue"},
                                            {key: "NO", value:"Premios", color:"blue"},
                                            {key: "N/A", value:"Prestamos", color:"blue"},
                                            {key: "N/A", value:"Salario Anual", color:"blue"}
                                            )
                            .row
                                +field-checks("origen-dos",
                                            {
                                                label: "",
                                            },
                                            {key: "SI", value:"Venta de Bienes", color:"blue"},
                                            {key: "NO", value:"Herencia", color:"blue"},
                                            {key: "N/A", value:"Patrimonio/Ahorro", color:"blue"},
                                            {key: "N/A", value:"Traspaso/Cancelacion de cuentas de otro banco", color:"blue"}
                                            )
        #search-actions-column
          +button-send({size: "large", disabled: false})
                    


block scripts
    script(src="/assets/scripts/accimarket/31-reperfilamiento-persona-fisica/scripts.js")