extends /layouts/html5

block title
    title Reperfilamiento de Personas Fisicas
    - var page = "31-reperfilamiento-persona-fisica"
    - var styles = "/assets/css/accimarket/" + page + "/styles.css"
    - var scripts = "/assets/scripts/accimarket/" + page +"/main.js"

block styles
    link(rel="stylesheet" href=styles)

block content
    .content.p-4
        +accordion("reperfilamiento-pf")
            +accordion-item("reperfilamiento-pf-item", "Perfilamiento de Personas Fisicas")
                form#criterios-busqueda(data-parsley-validate="")
                    include _grupo1
                    include _liquidaciones
                    include _grupo2
                    include _grupo3
                    include _grupo4
                    include _grupo5
                    include _grupo6
                    .row#sticky-action-bar
                        +button-send({size: "large", disabled: false})

block scripts
   script(data-main=scripts src="/assets/scripts/require.js")