@import "src/views/styles/vars";

.amContent {
  .amRow {
    display: flex;
  }

  #preguntas {
    padding-left: 0.7em;
  }

  .amInformativoE {
    margin-top: 3.5em;
    margin-left: 25em;
    height: 36em;
  }

  #dtgInformativo {
    margin-left: 1em;
    width: 70em;
    height: 40em;

    tr {
      border: 2px solid blue;
    }

    td {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1.5rem;
    }
  }

  .amEstiloColumnaB {
    border-width: 3px;
    border-style: solid none none solid;
    border-color: blue;
    width: 1em;
  }

  .amEstiloColumnaD {
    border-width: 3px;
    border-style: none none solid solid;
    border-color: blue;
  }

  .amEstiloColumnaA {
    border-width: 3px;
    border-style: solid none none solid;
    border-color: blue;
    width: 1em;
    height: 4em;
  }

  .amEstiloColumnaC {
    border-width: 3px;
    border-style: none none solid solid;
    border-color: blue;
    height: 5em;
  }

  #divGrupoTodo {
    flex-wrap: wrap;
  }

  #divGrupoDos {
    width: 48em;
    flex-wrap: wrap;

    #divFieldEstudios {
      label {
        width: 12.5em;
      }
    }

    #divFieldOcupacion {
      label {
        width: 12.5em;
      }
    }

    #divFieldEstrategia {
      label {
        width: 35em;
      }
    }

    #divActividad {
      width: 29em;
    }

    #divFieldActual {
      label {
        width: 4.9em;
      }
    }

    #divGrupoActividadProfesional {
      flex-wrap: wrap;
    }
  }

  #divGrupoTres {
    flex-wrap: wrap;

    #divGrupoParrafo {
      width: 112em;
    }
  }

  #divGrupoCuatro {
    flex-wrap: wrap;
    width: 85em;

    #divFieldTolerancia {
      label {
        width: 33.5em;
      }
    }

    #divFieldHorizonteInversion {
      align-items: baseline;

      label {
        width: 33.5em;
      }
    }

    #divDatosInfoGroup {
      flex-wrap: wrap;

      #textoPortafolio {
        width: 24em;
      }
    }
  }

  #divGrupoInstrumentos {
    flex-wrap: wrap;
    width: 80em;
    padding-left: 30em;

    label {
      font-weight: 700;
    }
  }

  #divFieldOrigenUno {
    .amFieldControl {
      div {
        display: flex;
        flex-wrap: wrap;
        width: 34em;
      }
    }

    .amCheckboxInput {
      width: 15em;
    }
  }

  #divFieldOtros {
    position: absolute;
    z-index: 1;
    margin-top: 12em;
    margin-left: 60em;
  }

  #preguntaSeisCuatro {
    padding-left: 0.8em;
    padding-right: 2em;
  }

  #dtgInformativo {
    //margin-left: 30em;
    width: 70em;

    tr {
      // border-collapse: collapse;
      // border-radius: 7px;
      // border-style: hidden;
      // box-shadow: 0 0 0 1px blue;
      border: 2px solid $color-blue;
    }

    td {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1.5rem;
    }
  }

  #dtgDescripcionPerfil {
    margin-left: 20em;
    width: 65em;

    tr {
      border: 2px solid blue;
    }

    td {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  #divGrupoAsesor {
    flex-wrap: wrap;
  }

  #divRowEmisoras {
    display: -webkit-box;
  }
}

//Estilos para el  dialogo
#dialogText {
  height: 15em;
}

table {
  font-size: 1em;
}
