extends /layouts/html5

block title
    title Ejemplo

block styles
    link(rel="stylesheet" href="/assets/css/accimarket/ejemplo/styles.css")

block content
    .content.p-4
        .row
            +accordion("criterios_busqueda_accordion")
                +accordion-item("busqueda_item")
block scripts
    script(src="/assets/scripts/accimarket/ejemplo/scripts.js")