extends /layouts/html5

block title
    title Ejemplo

block styles
    link(rel="stylesheet" href="../../assets/css/accimarket/ejemplo/styles.css")

block content
    .amContent.p-4
        .amRow
            +accordion("criteriosBusquedaAccordion")
                +accordion-item("busquedaItem")
                    form.amIsSearchForm#criteriosBusqueda(data-parsley-validate="")
                        +field-group("fechaGroup")
                            +field-date("fechaInicial",
                                {
                                    label: "Fecha Inicial",
                                    required: true,
                                    orientation: "horizontal"
                                })
                            +field-date("fechaFinal",
                                {
                                    label: "Fecha Final",
                                    required: true,
                                    orientation: "horizontal"
                                })
                        +field-group("negocioGroup")
                            +field-select("lineaNegocio",
                                {
                                    label: "Linea de Negocio"
                                },
                                {key: "ALL", value: "TODAS"},
                                {key: "CB", value: "CB"}
                                )

                        +field-switch("switch",
                            {
                                label: "Tipo", 
                                tooltip: "Tipo"
                            },
                            {key: "N", value:"NORMAL"},
                            {key:"E", value:"ESPECIAL"}
                        )

                        +field-group("botonesGroup")
                            +button-search({size: "large", disabled: false})
                            +button-clean({size: "large", disabled: false})

                            +button-add({size:"large", disabled: false})
                            +button-send({size:"large", label: "Enviar", disabled: false})
                            +button-validate({size:"large", disabled: false})
                            +button-import({size:"large", disabled: false})
                            +button-delete({size:"large", disabled: false})
                            +button-reset({size:"large", disabled: false})
                            +button-filter({size:"large", disabled: false})

                        +field-group("botonesGroupMd")
                            +button-search({size: "medium", disabled: false})
                            +button-clean({size: "medium", disabled: false})

                            +button-add({size:"medium", disabled: false})
                            +button-send({size:"medium", label: "Enviar", disabled: false})
                            +button-validate({size:"medium", disabled: false})
                            +button-import({size:"medium", disabled: false})
                            +button-delete({size:"medium", disabled: false})
                            +button-reset({size:"medium", disabled: false})
                            +button-filter({size:"medium", disabled: false})


                        +field-group("botonesGroupSm")
                            +button-search({size: "small", disabled: false})
                            +button-clean({size: "small", disabled: false})

                            +button-add({size:"small", disabled: false})
                            +button-send({size:"small", label: "Enviar", disabled: false})
                            +button-validate({size:"small", disabled: false})
                            +button-import({size:"small", disabled: false})
                            +button-delete({size:"small", disabled: false})
                            +button-reset({size:"small", disabled: false})
                            +button-filter({size:"small", disabled: false})
        .amRow
            p#textoInformativo Listado de Órdenes
        .amRow.has_border.w-full.overflow-auto
            +splitter("simple")
                .pane
                    +grid("Ventas")
                    +canvas("averageChart", {width:'600px', height:'400px'})
                .pane
                    +grid("Contratos")
                    +canvas("averageRightChart", {width:'600px', height:'400px'})
        .amRow
            +field-input("totalreg",
                {
                    label: "Total de registros",
                    orientation: "horizontal",
                    size: "8em"
                })
        br
        p Ejemplo de Panel Horizontal (arrastrar la linea que divide a los 2 paneles)
        .amRow
            +splitter("horizontal-splitter", {orientation: "horizontal"})
                .pane
                    p Panel 1
                .pane
                    p Panel 2

        .amRow
            include _acordeon

block scripts
    script(src="../../assets/scripts/accimarket/ejemplo/scripts.js")