extends /layouts/html5

block title
    title Ejemplo

block styles
    link(rel="stylesheet" href="../../assets/css/accimarket/ejemplo/styles.css")

block content
    .content.p-4
        .row
            +accordion("criterios_busqueda_accordion")
                +accordion-item("busqueda_item")
                    form.is-search-form#criterios-busqueda(data-parsley-validate="")
                        +field-group("fecha-group")
                            +field-date("fechaInicial",
                                {
                                    label: "Fecha Inicial",
                                    required: true,
                                    orientation: "horizontal"
                                })
                            +field-date("fechaFinal",
                                {
                                    label: "Fecha Final",
                                    required: true,
                                    orientation: "horizontal"
                                })
                        +field-group("negocio-group")
                            +field-select("lineaNegocio",
                                {
                                    label: "Linea de Negocio"
                                },
                                {key: "ALL", value: "TODAS"},
                                {key: "CB", value: "CB"}
                                )

                        +field-switch("switch",
                            {
                                label: "Tipo"
                            },
                            {key: "N", value:"NORMAL"},
                            {key:"E", value:"ESPECIAL"}
                        )

                        +field-group("botones-group")
                            +button-search({size: "large", disabled: false})
                            +button-clean({size: "large", disabled: false})

                            +button-add({size:"large", disabled: false})
                            +button-send({size:"large", label: "Enviar", disabled: false})
                            +button-validate({size:"large", disabled: false})
                            +button-import({size:"large", disabled: false})
                            +button-delete({size:"large", disabled: false})
                            +button-reset({size:"large", disabled: false})
                            +button-filter({size:"large", disabled: false})

                        +field-group("botones-group-md")
                            +button-search({size: "medium", disabled: false})
                            +button-clean({size: "medium", disabled: false})

                            +button-add({size:"medium", disabled: false})
                            +button-send({size:"medium", label: "Enviar", disabled: false})
                            +button-validate({size:"medium", disabled: false})
                            +button-import({size:"medium", disabled: false})
                            +button-delete({size:"medium", disabled: false})
                            +button-reset({size:"medium", disabled: false})
                            +button-filter({size:"medium", disabled: false})


                        +field-group("botones-group-sm")
                            +button-search({size: "small", disabled: false})
                            +button-clean({size: "small", disabled: false})

                            +button-add({size:"small", disabled: false})
                            +button-send({size:"small", label: "Enviar", disabled: false})
                            +button-validate({size:"small", disabled: false})
                            +button-import({size:"small", disabled: false})
                            +button-delete({size:"small", disabled: false})
                            +button-reset({size:"small", disabled: false})
                            +button-filter({size:"small", disabled: false})
        .row
            p#textoInformativo Listado de Órdenes
        .row.has_border.w-full.overflow-auto
            +splitter("simple")
                .pane
                    +grid("ventas")
                    +canvas("averageChart", {width:'600px', height:'400px'})
                .pane
                    +grid("contratos")
                    +canvas("average1Chart", {width:'600px', height:'400px'})
        .row
            +field-input("totalreg",
                {
                    label: "Total de registros",
                    orientation: "horizontal",
                    size: "8em"
                })
        br
        p Ejemplo de Panel Horizontal (arrastrar la linea que divide a los 2 paneles)
        .row
            +splitter("horizontal-splitter", {orientation: "horizontal"})
                .pane
                    p Panel 1
                .pane
                    p Panel 2

        .row
            include _acordeon

block scripts
    script(src="../../assets/scripts/accimarket/ejemplo/scripts.js")