include /mixins/mixins

+field-date("date",
    {
        label: "Fecha",
        orientation: "horizontal"
    })
+field-plus-minus("contrato",
    {
        label: "Contrato: ",
        size: "11em",
        orientation: "horizontal"
    })
+field-select-plus-minus("digito",
    {
        label: "Digito",
        size: "11em",
        maxsize: 3,
        orientation: "horizontal"},
    {key: "", value:""}
    )