include /mixins/mixins

#search-actions-column
    +button-search({size: "large", disabled: false})
    +button-search({size: "large", disabled: false})
    +button-pdf({size: "large", disabled: false})
    +button-xls({size: "large", disabled: false})