include /mixins/mixins

+field-input("fecha",
    {
        label: "Fecha:",
        required: true,
        size: "11em",
        orientation: "horizontal"
    })
+field-plus-minus("contrato",
    {
        label: "Contrato: ",
        size: "11em",
        orientation: "horizontal"
    })
+field-plus-minus("digito",
    {
        label: "Digito: ",
        size: "11em",
        orientation: "horizontal"
    })