include /mixins/mixins

+field-checks("servicio_inversion",
    {
        label: "Servicio de Inversión",
    },
    {key: "S01", value:"Asesoría", color:"green"},
    {key: "S02", value:"Gestión", color:"yellow"},
    {key: "S03", value:"Comercialización", color:"blue"},
    {key: "S04", value:"Ejecución", color:"cyan"},
    {key: "S05", value:"N/A", color:"gray"}
    )
+field-checks("rompe",
    {
        label: "Rompe",
    },
    {key: "SI", value:"Si", color:"red"},
    {key: "NO", value:"No", color:"green"},
    {key: "N/A", value:"N/A", color:"gray"}
    )