include /mixins/mixins

#search-actions-column
    +button-search({size: "large", tooltip: "Consultar", disabled: false})
    +button-clean({size: "large", tooltip: "Limpiar", disabled: false})
    +button-pdf({size: "large", tooltip: "PDF", disabled: false})
    +button-xls({size: "large", tooltip: "XLS", disabled: false})