+accordion("accordion")
    +accordion-item("accordion-item","Paso 1 de 3 Ingreso en Cuenta Medio Electrónico")
        p Contenido Acordeon 1
    +accordion-item("accordion-item","Paso 2 de 3")
        p Contenido Acordeon 2
    +accordion-item("accordion-item","Paso 3 de 3")
        p Contenido Acordeon 2