//- +button-accept({size: "large", tooltip: "Aceptar", disabled: false})
//- +button-accept({size: "large", tooltip: "Aceptar", disabled: true})
//- +button-accept({size: "small", tooltip: "Aceptar", disabled: false})
//- +button-accept({size: "medium", tooltip: "Aceptar", disabled: false})

//- +button-add({size: "large", tooltip: "Agregar", disabled: false})
//- +button-add({size: "large", tooltip: "Agregar", disabled: true})
//- +button-add({size: "small", tooltip: "Agregar", disabled: false})
//- +button-add({size: "medium", tooltip: "Agregar", disabled: false})

//- +button-cancel({size: "large", tooltip: "Cancelar", disabled: false})
//- +button-cancel({size: "large", tooltip: "Cancelar", disabled: true})
//- +button-cancel({size: "small", tooltip: "Cancelar", disabled: false})
//- +button-cancel({size: "medium", tooltip: "Cancelar", disabled: false})

//- +button-clean({size: "large", tooltip: "Limpiar", disabled: false})
//- +button-clean({size: "large", tooltip: "Limpiar", disabled: true})
//- +button-clean({size: "small", tooltip: "Limpiar", disabled: false})
//- +button-clean({size: "medium", tooltip: "Limpiar", disabled: false})

//- +button-custom({size: "large", tooltip: "Custom", disabled: false})
//- +button-custom({size: "large", tooltip: "Custom", disabled: true})
//- +button-custom({size: "small", tooltip: "Custom", disabled: false})
//- +button-custom({size: "medium", tooltip: "Custom", disabled: false})

//- +button-delete({size: "large", tooltip: "Delete", disabled: false})
//- +button-delete({size: "large", tooltip: "Delete", disabled: true})
//- +button-delete({size: "small", tooltip: "Delete", disabled: false})
//- +button-delete({size: "medium", tooltip: "Delete", disabled: false})

//- +button-edit({size: "large", tooltip: "Edit", disabled: false})
//- +button-edit({size: "large", tooltip: "Edit", disabled: true})
//- +button-edit({size: "small", tooltip: "Edit", disabled: false})
//- +button-edit({size: "medium", tooltip: "Edit", disabled: false})

//- +button-export({size: "large", tooltip: "Export", disabled: false})
//- +button-export({size: "large", tooltip: "Export", disabled: true})
//- +button-export({size: "small", tooltip: "Export", disabled: false})
//- +button-export({size: "medium", tooltip: "Export", disabled: false})

//- +button-filter-clean({size: "large", tooltip: "Filter Clean", disabled: false})
//- +button-filter-clean({size: "large", tooltip: "Filter Clean", disabled: true})
//- +button-filter-clean({size: "small", tooltip: "Filter Clean", disabled: false})
//- +button-filter-clean({size: "medium", tooltip: "Filter Clean", disabled: false})

//- +button-filter({size: "large", tooltip: "Filter", disabled: false})
//- +button-filter({size: "large", tooltip: "Filter", disabled: true})
//- +button-filter({size: "small", tooltip: "Filter", disabled: false})
//- +button-filter({size: "medium", tooltip: "Filter", disabled: false})

//- +button-import({size: "large", tooltip: "Import", disabled: false})
//- +button-import({size: "large", tooltip: "Import", disabled: true})
//- +button-import({size: "small", tooltip: "Import", disabled: false})
//- +button-import({size: "medium", tooltip: "Import", disabled: false})

//- +button-pdf({size: "large", tooltip: "PDF", disabled: false})
//- +button-pdf({size: "large", tooltip: "PDF", disabled: true})
//- +button-pdf({size: "small", tooltip: "PDF", disabled: false})
//- +button-pdf({size: "medium", tooltip: "PDF", disabled: false})

//- +button-reset({size: "large", tooltip: "Reset", disabled: false})
//- +button-reset({size: "large", tooltip: "Reset", disabled: true})
//- +button-reset({size: "small", tooltip: "Reset", disabled: false})
//- +button-reset({size: "medium", tooltip: "Reset", disabled: false})

//- +button-save({size: "large", tooltip: "Save", disabled: false})
//- +button-save({size: "large", tooltip: "Save", disabled: true})
//- +button-save({size: "small", tooltip: "Save", disabled: false})
//- +button-save({size: "medium", tooltip: "Save", disabled: false})

//- +button-search({size: "large", tooltip: "Search", disabled: false})
//- +button-search({size: "large", tooltip: "Search", disabled: true})
//- +button-search({size: "small", tooltip: "Search", disabled: false})
//- +button-search({size: "medium", tooltip: "Search", disabled: false})

//- +button-validate({size: "large", tooltip: "Validate", disabled: false})
//- +button-validate({size: "large", tooltip: "Validate", disabled: true})
//- +button-validate({size: "small", tooltip: "Validate", disabled: false})
//- +button-validate({size: "medium", tooltip: "Validate", disabled: false})

//- +button-xls({size: "large", tooltip: "XLS", disabled: false})
//- +button-xls({size: "large", tooltip: "XLS", disabled: true})
//- +button-xls({size: "small", tooltip: "XLS", disabled: false})
//- +button-xls({size: "medium", tooltip: "XLS", disabled: false})

+field-group("botones-ejemplo")
    +button-custom({size: "large", tooltip: "Custom", disabled: false})
    +button-edit({size: "large", tooltip: "Edit", disabled: false})
    +button-export({size: "large", tooltip: "Export", disabled: false})
    +button-import({size: "large", tooltip: "Import", disabled: false})