//- +field-search("testSearchHorizontal", { label: "testSearchHorizontal", orientation: "horizontal", size:"30em"})
//- +field-search("testSearchVertical", { label: "testSearchVertical", orientation: "vertical"})
//- +field-search("testSearchRequired", { label: "testSearchRequired", required: true})
//- +field-search("testSearchOptional", { label: "testSearchOptional", required: false})

+field-search("busqueda", { label: "Search", required: true, orientation:"vertical"})
+field-search("busqueda", { label: "Search", required: false, orientation:"horizontal"})