+field-fileupload("archivo",
            { label: "Adjuntar archivo", orientation:"horizontal" })

+field-fileupload("archivo",
            { label: "Adjuntar archivo", orientation:"vertical" })

+field-fileupload("archivo",
            { label: "Adjuntar archivo", required:false })

+field-fileupload("archivo",
            { label: "Adjuntar archivo", required:true })

//- +field-group("testFieldGroup")

//- +form("testForm", {class: "is-search-form"})