//- +field-switch("testSwitchHorizontal",
//-         { label: "testSwitchHorizontal", orientation: "horizontal"},
//-         {key:"OPC1", value:"VALUE1"},
//-         {key:"OPC2", value:"VALUE2"}
//- )

//- +field-switch("testSwitchVertical",
//-         { label: "testSwitchVertical", orientation: "vertical"},
//-         {key:"OPC3", value:"VALUE3"},
//-         {key:"OPC4", value:"VALUE4"}
//- )

//- +field-switch("testSwitchOptional",
//-         { label: "testSwitchOptional", required: false},
//-         {key:"OPC5", value:"VALUE5"},
//-         {key:"OPC6", value:"VALUE6"}
//- )

//- +field-switch("testSwitchRequired",
//-         { label: "testSwitchRequired", required: true},
//-         {key:"OPC7", value:"VALUE7"},
//-         {key:"OPC8", value:"VALUE8"}
//- )


//- +field-switch("tipo",
//-         { label: "Tipo", required: false},
//-         {key:"N", value:"NORMAL"},
//-         {key:"E", value:"ESPECIAL"}
//- )