//- +field-plus-minus("testopcional", {label: "Testopcional", required:false})
//- +field-plus-minus("testrequerido", {label: "Testrequerido", required:true})
//- +field-plus-minus("testhorizontal", {label: "Testhorizontal", required:false, orientation:"horizontal"})
//- +field-plus-minus("testvertical", {label: "Testvertical", required:false, orientation: "vertical"})

+field-plus-minus("contrato", {label: "Contrato", required:true, orientation:"horizontal"})