//- +field-multiselect("multiselect",
//-             {
//-               label: "Multiselect",
//-               required: false,
//-               size: "12em",
//-               orientation: "vertical"
//-             },
//-             {key: "O1", value: "Opción 1"},
//-             {key: "O2", value: "Opción 2"},
//-             {key: "O3", value: "Opción 3"}
//-           )

//- +field-multiselect("multiselect",
//-             {
//-               label: "Multiselect",
//-               required: false,
//-               size: "12em",
//-               orientation: "horizontal"
//-             },
//-             {key: "O1", value: "Opción 1"},
//-             {key: "O2", value: "Opción 2"},
//-             {key: "O3", value: "Opción 3"}
//-           )


+field-multiselect("multiselect",
            {
              label: "Multiselect",
              required: true,
              size: "12em", 
              orientation: "vertical"
            },
            {key: "O1", value: "Opción 1"},
            {key: "O2", value: "Opción 2"},
            {key: "O3", value: "Opción 3"},
            {key: "O4", value: "Opción 4"},
            {key: "O5", value: "Opción 5"},
            {key: "O6", value: "Opción 6"}
          )


+field-multiselect("multiselect",
            {
              label: "Multiselect",
              required:false,
              size: "12em", 
              orientation: "horizontal"
            },
            {key: "O1", value: "Opción 1"},
            {key: "O2", value: "Opción 2"},
            {key: "O3", value: "Opción 3"},
            {key: "O4", value: "Opción 4"},
            {key: "O5", value: "Opción 5"},
            {key: "O6", value: "Opción 6"}
          )