//- +field-timepicker("testTimepickerHorizontal",
//-         {
//-             label: "testTimepickerHorizontal",
//-             orientation: "horizontal",
//-             disabled: false
//-         }
//-     )


//- +field-timepicker("testTimepickerVertical",
//-         {
//-             label: "testTimepickerVertical",
//-             orientation: "vertical",
//-             disabled: false
//-         }
//-     )



//- +field-timepicker("testTimepickerRequired",
//-         {
//-             label: "testTimepickerRequired",
//-             disabled: false, 
//-             required: true
//-         }
//-     )

+field-timepicker("ejemplo",
        {
            label: "Hora",
            orientation: "horizontal",
            required: false, 
            disabled: false
        }
    )

//- +field-timepicker("timepickerv",
//-         {
//-             label: "Hora",
//-             orientation: "horizontal",
//-             required: false, 
//-             disabled: false
//-         }
//-     )