//- +field-select-plus-minus("testSelectPlusMinusHorizontal", {label: "testSelectPlusMinusHorizontal", size: "10em", orientation:"horizontal"},
//-                       {key: "", value:""},
//-                       {key: "C001", value:"Contrato 01"},
//-                       {key: "C002", value:"Contrato 02"}
//-       )


//- +field-select-plus-minus("testSelectPlusMinusVertial", {label: "testSelectPlusMinusVertial", size: "10em", orientation:"vertical"},
//-                       {key: "", value:""},
//-                       {key: "C001", value:"Contrato 01"},
//-                       {key: "C002", value:"Contrato 02"}
//-       )


//- +field-select-plus-minus("testSelectPlusMinusOptional", {label: "testSelectPlusMinusOptional", disabled:true, size: "10em", required: false},
//-                       {key: "", value:""},
//-                       {key: "C001", value:"Contrato 01"},
//-                       {key: "C002", value:"Contrato 02"}
//-       )


//- +field-select-plus-minus("testSelectPlusMinusRequired", {label: "testSelectPlusMinusRequired", size: "10em", required: true},
//-                       {key: "", value:""},
//-                       {key: "C001", value:"Contrato 01"},
//-                       {key: "C002", value:"Contrato 02"}
//-       )


//- +field-select-plus-minus("contrato", {label: "Contrato", size: "10em", orientation:"vertical", required:true}, {key: "", value:""}
      )

     