//- +field-date("testclearhorizontal", {label: "TestClearRequired", clear:true, orientation: "horizontal", required: true})
//- +field-date("testclearFalse", {label: "TestClearVertical", clear:true, orientation: "horizontal", required: false})
//- +field-date("testhorizontal", {label: "Testhorizontal", clear:false, orientation: "vertical", required: false})
//- +field-date("testvertical", {label: "Testvertical", clear:false, orientation: "vertical", required: false})
//- +field-date("testoptional", {label: "Testoptional", clear:false, orientation: "vertical", required: false})
//- +field-date("testrequired", {label: "Testrequired", clear:false, orientation: "vertical", required: true})


//- +field-date("fecha", {label: "Fecha", clear:false, required:true, orientation: "horizontal"})

//- +field-date("fecha", {label: "Fecha", clear:true, required:true, orientation: "horizontal"})


            