//- +field-options("testOptionsHorizontal",
//-     {label: "testOptionsHorizontal", orientation: "horizontal"},
//-     {key: "OPC1", value:"VALOR1"},
//-     {key:"OPC2", value:"VALOR2"}
//- )

//- +field-options("testOptionsVertical",
//-     {label: "testOptionsVertical", orientation: "vertical"},
//-     {key: "OPC1", value:"VALOR1"},
//-     {key:"OPC2", value:"VALOR2"}
//- )

//- +field-options("testOptionsRequired",
//-     {label: "testOptionsRequired", required: true},
//-     {key: "OPC1", value:"VALOR1"},
//-     {key:"OPC2", value:"VALOR2"}
//- )

//- +field-options("testOptionsOptional",
//-     {label: "testOptionsOptional", required: false},
//-     {key: "OPC1", value:"VALOR1"},
//-     {key:"OPC2", value:"VALOR2"}
//- )

//- +field-options("testOptionsOptional",
//-     {label: "testOptionsOptional", required: false},
//-     {key: "OPC1", value:"VALOR1"},
//-     {key:"OPC2", value:"VALOR2"}
//- )

//- +field-options("negocio",
//-     {label: "Negocio", required: true},
//-     {key: "CB", value:"Casa de Bolsa"},
//-     {key:"B", value:"Banco"}
//- )