//- +field-checks("testChecksHorizontal",
//-     {
//-         label: "Test Checks Horizontal",
//-         orientation: "horizontal"
//-     },
//-     {key: "V01", value:"Opción 1"},
//-     {key: "V02", value:"Opción 2"},
//-     {key: "V03", value:"Opción 3"}
//- )

//- +field-checks("testChecksVertical",
//-     {
//-         label: "Test Checks Vertical",
//-         orientation: "vertical"
//-     },
//-     {key: "V01", value:"Opción 1", color:"yellow"},
//-     {key: "V02", value:"Opción 2", color:"green"},
//-     {key: "V03", value:"Opción 3", color:"black"}
//- )

//- +field-checks("testChecksOptional",
//-     {
//-         label: "Test Checks Optional",
//-         required: false
//-     },
//-     {key: "V01", value:"Opción 1", color:"yellow"},
//-     {key: "V02", value:"Opción 2", color:"green"},
//-     {key: "V03", value:"Opción 3", color:"black"}
//- )

//- +field-checks("testChecksRequired",
//-     {
//-         label: "Test Checks Required",
//-         required: true
//-     },
//-     {key: "V01", value:"Opción 1", color:"yellow"},
//-     {key: "V02", value:"Opción 2", color:"green"},
//-     {key: "V03", value:"Opción 3", color:"black"}
//- )

//- +field-checks("rompe",
//-     {
//-         label: "",
//-         orientation: "vertical", 
//-         required:false
//-     },
//-     {key: "OPC0", value:"Red", color:"red"},
//-     {key: "OPC1", value:"Green", color:"green"}, 
//-     {key: "OPC2", value:"Yellow", color:"yellow"},
//-     {key: "OPC3", value:"Blue", color:"blue"},
//-     {key: "OPC4", value:"Teal", color:"teal"},
//-     {key: "OPC5", value:"Cyan", color:"cyan"},
//-     {key: "OPC6", value:"Grey", color:"grey"},
//-     {key: "OPC7", value:"Black", color:"black"},
//-     {key: "OPC8", value:"Orange", color:"orange"},
//-     {key: "OPC8", value:"Purple", color:"purple"}
//- )