+field-email("testRequired", {label: "E-mail", required: true})
+field-email("testOptional", {label: "E-mail", required: false})
+field-email("correo", {label: "Correo electrónico", required: false, orientation:"horizontal"})
+field-email("correo", {label: "Correo electrónico", required: true, orientation: "vertical"})