//- +field-textarea("testTextareaHorizontal", {label: "testTextareaHorizontal", orientation: "horizontal"})

//- +field-textarea("testTextareaHorizontal", {label: "testTextareaHorizontal", orientation: "vertical"})

//- +field-textarea("testTextareaOptional", {label: "testTextareaOptional", required: false})

//- +field-textarea("testTextareaRequired", {label: "testTextareaRequired", required: true})

+field-textarea("ejemplo", {label: "Textarea", required: true, orientation:"vertical"})

+field-textarea("ejemplo", {label: "Textarea", required: false, orientation: "horizontal"})