+field-select("testSelectHorizontal",
                { label: "testSelectHorizontal", size: "8em", orientation: "horizontal"},
                {key: "OPT1", value:"OPTION1"},
                {key:"OPT2", value:"OPTION2"}
            )

+field-select("testSelectVertical",
                { label: "testSelectVertical", size: "8em", orientation: "vertical" },
                {key: "OPT1", value:"OPTION1"},
                {key:"OPT2", value:"OPTION2"}
            )

+field-select("testSelectOptional",
                { label: "testSelectOptional", size: "8em", required: false },
                {key: "OPT1", value:"OPTION1"},
                {key:"OPT2", value:"OPTION2"}
            )

+field-select("testSelectRequired",
                { label: "testSelectRequired", size: "8em", required: true },
                {key: "OPT1", value:"OPTION1"},
                {key:"OPT2", value:"OPTION2"}
            )