+field-date-range("fecha", {begin_label: "Fecha inicial", end_label: "Fecha final", required: true, size:"10em",  clear:true, orientation:"vertical"})

//- +field-date-range("fecha", {begin_label: "Fecha inicial", end_label: "Fecha final", required: true, size:"10em",  clear:false, orientation:"horizontal"})

//- +field-date-range("fecha", {begin_label: "Fecha inicial", end_label: "Fecha final", required: true, size:"10em",  clear:true, orientation:"vertical"})

//- +field-date-range("testClearOptl", {begin_label: "Fecha inicial", end_label: "Fecha final", required: false, size:"10em",  clear:true, orientation:"vertical"})
//- +field-date-range("testOptional", {begin_label: "Fecha inicial", end_label: "Fecha final", required: false, size:"10em",  clear:false, orientation:"horizontal"})
//- +field-date-range("testRequired", {begin_label: "Fecha inicial", end_label: "Fecha final", required: true, size:"10em",  clear:false, orientation:"horizontal"})