//- +field-input("input-testopcional", {label: "Input opcional", required: false} )
//- +field-input("input-testrequerido", {label: "Input requerido", required: true} )
//- +field-input("input-testhorizontal", {label: "Input horizontal", required: false, orientation:"horizontal"} )
//- +field-input("input-testvertical", {label: "Input vertical", required: false, orientation: "vertical"} )


+field-input("id", {label: "ID", required: true, orientation: "vertical", tooltip:"ID"} )
//- +field-input("name", {label: "Name", required: true, orientation: "horizontal"} )
//- +field-input("digito", {label: "Digito", required: false, orientation:"horizontal", disabled:true} )

