+scrolling_menu
    +menu_item("tab01", {label: "Mapa de Liquidez", active: true})
    +menu_item("tab02", {label: "I.- Conocimiento del cliente y su Experiencia en productos financieros"})
    +menu_item("tab03", {label: "I.- Conocimiento del cliente y su Experiencia en productos financieros"})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})
    +menu_item("tab04", {label: "II.- TAB EXAMPLE "})

