+splitter("testHorizontalSplitter", {orientation: "horizontal"})
    .pane
        p Panel 1
    .pane
        p Panel 2

+splitter("testVerticalSplitter", {orientation: "vertical"})
    .pane
        p Panel 3
    .pane
        p Panel 4