+tab-group("test_variantes_tab_group",
        {id: "tab4", label: "Tab 4", img:'male_user.png'},
        {id: "tab5", label: "Tab 5", img:'male_user.png'}, 
        {id: "tab6", label: "Tab 6", img:'credit_cart.png'}
    )
    +tab-item("tab4")
        p Tab Content 4
    +tab-item("tab5")
        p Tab Content 5
    +tab-item("tab6")
        p Tab Content 6