include /mixins/mixins

table#tablaMovimientos
    thead.text-white
        th Movimientos
    tbody
        tr
            td
                p Subtipo de Portalfolio
            td
                p#subTipoPortaFolio
        tr
            td
                p Fecha de Vencimiento
            td
                p#fechaVenci
        tr#otros
            td
                p Fecha de Captura
            td
                p#fechaCaptu
        tr
            td
                p ID de la Emisora
            td
                p#idEmisora
        tr
            td
                p Tipo de Mercado
            td
                p#tipoMercado
        tr#otros
            td
                p Tipo de Operacion
            td
                p#tipoOperacion