extends /layouts/html5

block content
   h1.pl-10.text-4xl Ejemplos
   .p-10.flex
      .col
         h2.text-2xl Accimarket
         ul.text-lg.text-blue-700.underline
            li
               a(href="accimarket/01-caucion-bursatil/index.html") 01. Causión Bursátil
            li
               a(href="accimarket/02-movimientos-por-contrato/index.html") 02. Movimientos por Contrato
            li
               a(href="accimarket/03-seguimiento-de-ordenes-historico/index.html") 03. Seguimiento de Órdenes - Históricos
            li
               a(href="accimarket/04-consulta-mercado-dinero/index.html") 04. Consulta de Mercado de Dinero
            li
               a(href="accimarket/05-consulta-mercado-dinero-listado-ordenes-directo/index.html") 05. Consulta de Mercado de Dinero (Listado de Ordenes en Directo)
            li
               a(href="accimarket/06-ejercicios-derechos-corporativos/index.html") 06. Ejercicio de Derechos Corporativos
            li
               a(href="accimarket/09-distribucion-de-instrucciones/index.html") 09. Distribución de Instrucciones
            li
               a(href="accimarket/31-reperfilamiento-persona-fisica/index.html") 31. Reperfilamiento Personas Fisicas
            li
               a(href="accimarket/27-administracion-datos-generales/index.html") 27. Administracion Datos Generales
            li
               a(href="accimarket/22-movimientos-por-contrato/index.html") 22. Mov Contrato
            li
               a(href="accimarket/23-seguimiento-de-ordenes/index.html") 23. Seguimiento de Ordenes
            li
               a(href="accimarket/25-negatividad-perfilamiento-persona-fisica/index.html") 25. Negatividad Perfilamiento Personas Fisicas
            li
               a(href="accimarket/30-reperfilamiento-persona-moral/index.html") 30. Reperfilamiento Personas Morales

         h2.mt-6.text-2xl Otros
         ul.text-lg.text-blue-700.underline
            li
               a(href="accimarket/form-validation/index.html") Form Validation
            li
               a(href="accimarket/ejemplo/index.html") Ejemplo Page
            li
               a(href="accimarket/graphics") Graficos
            li
               a(href="accimarket/10-Test/index.html") Wizard
            li
               a(href="accimarket/99-mxml/index.html") MXML

      .col.ml-12
         h2.text-2xl Generados con RDL
         ul.text-lg.text-blue-700.underline
