extends ../layouts/html5

block content
   ul
      li
         a(href="accimarket/01-caucion-bursatil/index.html") 01. Causión Bursátil
      li
         a(href="accimarket/02-movimientos-por-contrato/index.html") 02. Movimientos por Contrato
      li
         a(href="accimarket/03-seguimiento-de-ordenes-historico/index.html") 03. Seguimiento de Órdenes - Históricos
      li
         a(href="accimarket/04-consulta-mercado-dinero/index.html") 04. Consulta de Mercado de Dinero
      li
         a(href="accimarket/05-consulta-mercado-dinero-listado-ordenes-directo/index.html") 05. Consulta de Mercado de Dinero (Listado de Ordenes en Directo)
      li
         a(href="accimarket/06-ejercicios-derechos-corporativos/index.html") 06. Ejercicio de Derechos Corporativos
      li
         a(href="accimarket/09-distribucion-de-instrucciones/index.html") 09. Distribución de Instrucciones
      li
         a(href="accimarket/form-validation/index.html") Form Validation