mixin button-search(disabled=false)
  - var tooltip = ""
  button.button.big-button(type="submit" id="btn_search" title=tooltip disabled=disabled value="validate")
      span.fa-stack.fa-lg
        i.fa.fa-search.fa-2x
      br
      span Consultar