mixin button-pdf(disabled=false)
  - var tooltip = ""
  button.button.big-button(id="btn_pdf" title=tooltip disabled=disabled)
      span.fa-stack.fa-lg
        i.fa.fa-file-pdf-o.fa-2x
      br
      span PDF