mixin canvas(id,params)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  - var _style = "max-width: " + (params.width ? params.width : "600px") + ";" + "max-height: " + (params.height ? params.height : "600px") + "; padding: 30px;"
  div(style=_style)
    canvas(id="divCanvas" + _uppc_id)