mixin field-select(id, parms, ...items)
  - var style = "width: " + (parms.size ? parms.size : "8em") + ";"
  .field
    label= parms.label
    label.select
      select.selectbox(required=parms.required
                       style=style)
        option(value="")
        each item in items
          option(value=item.key)= item.value