mixin scrolling_menu()
  nav.arrow#menuContainer
    #btnNavPrevious(style="fill: #fff")
        img(src="../../assets/images/arrow-left.png")
    #btnNavNext(style="fill: #fff")
        img(src="../../assets/images/arrow-right.png")
    .amMenuInnerBox
        ul.amMenu
          block

mixin menu_item(id, params)
  - var _label = (params.label ? params.label : "")
  - var _active = (params.active ? params.active : false)
  if _active
    - var _class = "amCurrent"

  li.amMenuItem(id=id)
      a(href="" class=_class)= _label