mixin sidebar-wrapper(id)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  - var _id = "divSidebarWrapper" + _uppc_id

  .amSidebarWrapper(id=_id)
    block

mixin sidebar(parms)
  - var _parms = parms ? parms : { expanded: true }
  - var _expanded = _parms.expanded ? "" : "amIsClosed"
  - var _class = _expanded
  .amSidebar(class=_class)
    .amSidebarContent
      block
    .amSidebarCollapsibleButton

mixin sidebar-content()
  .amSidebarContent()
    block