mixin sidebar-wrapper(id)
  - var _id = "sidebar_wrapper_" + id

  .sidebar-wrapper(id=_id)
    block

mixin sidebar(parms)
  - var _parms = parms ? parms : { expanded: true }
  - var _expanded = _parms.expanded ? "" : "isClosed"
  - var _class = _expanded
  .sidebar(class=_class)
    .sidebar-content
      block
    .sidebar-collapsible-button

mixin sidebar-content()
  .sidebar-content()
    block