mixin tab-group(id, ...items)
  - var _uppc_id = id[0].toUpperCase() + id.substr(1)
  div.amTabGroup(id="div" + _uppc_id)
    ul
      each item in items
        - var tab_item_ref = (item.id != null && item.id != undefined) ? "#div" + item.id.charAt(0).toUpperCase() + item.id.substr(1) : "#div" + item.id
                
        li
          a(href=tab_item_ref)
            if item.img != null
              .container-imgtxt
                img.container-img_image(src="../../assets/images/"+item.img align="middle")
                .container-img_text=item.label
            else 
              //- i.fas.fa-user.pr-3
              =item.label

    block

mixin tab-item(id)
  div(id="div" + id[0].toUpperCase() + id.substr(1))
    block