.ui-jqgrid .ui-jqgrid-labels th.ui-th-column:hover {
  font-weight: bold;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%
  );
}
.selected-group {
  border-style: solid !important;
  border-width: 5px;
  border-color: #009dff #bdbdbd #009dff #bdbdbd !important;
}

.hoverContrato:hover {
  background: #a8ddf5 !important;
}

/* Para los titulos de la tabla*/
th {
  color: #000064 !important;
}

/* Para los titulos que se despliegan y repliegan*/
.list2ghead_0 td {
  border-right: 0px !important;
}

/* Para los TD de la fila TR oscuros*/
.myAltRowClassOdd td {
  border-right-width: 1px !important;
  border-right-color: blue !important;
}

/* Para los TD de la fila TR claros*/
.myAltRowClassEven td {
  border-right-width: 1px !important;
  border-right-color: blue !important;
}
