.row
    .ui-dialog.hidden(id="dialogo_contrato")
        .row.flex
            .column.w-32
                img.w-16.mt-4(src="../../assets/images/msgInfo.png")
            .column.ml-4
                p El contrato ya existe en la lista
        .row.pt-4.flex.justify-center
            +button-accept