.row
    .ui-dialog.hidden(id="dialogo_numfolios")
        .row.flex
            .column.w-32
                img.w-16.mt-4(src="../../assets/images/msgInfo.png")
            .column.ml-4
                p La consulta solo puede ser realizada por 8 folios.
        .row.pt-4.flex.justify-center
            +button-accept