include /mixins/mixins

+accordion("criterios_busqueda_accordion")
  +accordion-item("criterios_busqueda_accordion_item")
    .row
      +button-search({size: "large", disabled: false})
    .row
      +field-group("busqueda_contrato")
        +field-input("contrato", { label: "Contrato", required: true, orientation: "horizontal" })
        +field-input("digito", { label: "Digito", required: true, orientation: "horizontal", disabled: "true" })
        +field-input("estatus", { label: "Estatus", required: true, orientation: "horizontal", disabled: "true" })
        +field-input("perfil", { label: "Perfil", required: true, orientation: "horizontal", disabled: "true" })
        +field-input("clabe", { label: "CLABE", required: true, orientation: "horizontal", disabled: "true" })
        +field-input("titular", { label: "Titular", required: true, orientation: "horizontal", disabled: "true" })
+accordion("liquidacion_accordion")
  +accordion-item("liquidacion_accordion_item")
    p Liquidaciones: