extends /layouts/html5

block title
    title Saldos de Efectivo

block styles
    link(rel="stylesheet" href="../../assets/css/accimarket/79-saldos-de-efectivo/styles.css")

block content
    .content.p-4
        +tab-group("saldos_de_efectivo",
            {id: "tab_consulta_por_contrato", label: "Consulta por contrato"},
            {id: "tab_consulta_general", label: "Consulta general"})
            +tab-item("tab_consulta_por_contrato")
                include _consulta_por_contrato
            +tab-item("tab_consulta_general")

block scripts
  script(src="../../assets/scripts/accimarket/79-saldos-de-efectivo/scripts.js")
            