include /mixins/mixins
.row#boton-reset
    +field-checks("reset",
        {
            label: "",
            name: "reset",
            orientation: "horizontal"
            },
            {key: "true", value:"reset"}
        )
.row#ordenaElementos
    .row#elementosJuntos
        +field-input("contrato",
            {
                label: "Contrato",
                size: "17.5em",
                orientation: "horizontal",
                required: true,
                max_length: "9",
                type: "alphanum",
                align: "left"
            })
        +field-input("digito",
        {
            size: "5em",
            orientation: "horizontal",
            type: "text",
            disabled: true,
            align: "center"
            })
    +field-input("titular",
    {
        size: "25.5em",
        orientation: "horizontal",
        align: "left",
        disabled: true
        })
    .row#elementosJuntos2
        +field-input("perfilC",
        {
            label: "Perfil Contrato",
            size: "8em",
            orientation: "horizontal",
            align: "left",
            disabled: true
        })
        +field-input("IPContrato",
        {
            size: "4em",
            orientation: "horizontal",
            align: "left",
            disabled: true
        })
    +field-input("emisora",
        {
            label: "Emisora",
            required: true,
            size: "17.5em",
            orientation: "horizontal",
            align: "left"
        })
    +field-input("pemisora",
    {
        label: "Perfil Emisora",
        size: "17.5em",
        orientation: "horizontal",
        align: "left",
        disabled: true
        })
    +field-select("Operacion",
        {
            label: "Operación",
            size: "17.5em",
            orientation: "horizontal",
            required: true,
        },
            {key: "C", value:"compra"},
            {key: "CPA", value:"Cpa"},
            {key:"V", value:"Venta"},
            {key:"VTA", value:"Vta"},
            {key:"VC", value:"Venta en corto"},
            {key:"VCD", value:"Venta en corto dinámica"}
        )
    +field-input("cantidad",
        {
            label: "Cantidad",
            required: true,
            size: "17.5em",
            orientation: "horizontal",
            max_length: "22",
            type: "number"
        })
    +field-input("precio",
        {
            label: "Precio",
            required: true,
            size: "17.5em",
            orientation: "horizontal",
            max_length: "25",
            type: "digits"
        })
    +field-select("Vigencia",
        {
            label: "Vigencia",
            size: "17.5em",
            orientation: "horizontal",
            required: true,
        },
        {key:"D", value:"Diaria"}
        )
    +field-options("opciones",
        {label: "Envio",
        required: true,
        orientation: "horizontal"
        },
        {key: "LIBRO", value:"Libro"},
        {key: "MESA", value:"Mesa"}
        )
    +field-select("ServicioI",
        {
            label: "Servicio de Inv.",
            size: "17.5em",
            orientation: "horizontal",
        required: true
        },
            {key: "A", value:"activa"},
                {key: "P", value:"pasiva"},
                {key: "O", value:"sentido opuesto"})
    +field-select("TitulosAP",
        {
            label: "Titulos a afectar de posición",
            size: "17.5em",
            orientation: "horizontal",
        required: true
        },
            {key: "A", value:"activa"},
                {key: "P", value:"pasiva"},
                {key: "O", value:"sentido opuesto"})
    +field-select("ModoC",
        {
            label: "Modo Cierre",
            size: "17.5em",
            orientation: "horizontal",
        required: true
        },
        {key:"R", value:"Red"},
        {key:"O", value:"Otros"})
    +field-input("red",
        {
            label: "Numero de red/telefono",
            size: "15em",
            orientation: "horizontal",
            max_length: "10",
            type: "number",
            align: "left"
        })
    .row
    +field-checks("CapturarDA",
        {
            orientation: "horizontal"
            },
            {key: "true", value:"Capturar Datos Avanzados"}
            )
    .row
        +field-switch("switch",
            {
                label: "Modalidad",
                orientation: "horizontal"
            },
            {key: "N", value:"NORMAL"},
            {key:"E", value:"ESPECIAL"}
)
    .row#elementosOcultos
        +field-select("MPL",
            {
                label: "MPL",
                size: "17.5em",
                orientation: "horizontal",
                align: "left"
            },
            {key: "A", value:"activa"},
            {key: "P", value:"pasiva"},
            {key: "O", value:"sentido opuesto"})
        +field-select("difPujas",
            {
                label: "Diferencia de pujas",
                size: "17.5em",
                orientation: "horizontal",
                align: "left"
            },
                {key: "UN", value:".01"},
                {key: "DO", value:".02"},
                {key:"TR", value:".03"},
                {key:"CU", value:".04"},
                {key:"CI", value:".05"}
            )
        +field-input("PorcentajeVO",
            {
                label: "Porcentaje VO",
                size: "17.5em",
                orientation: "horizontal",
                max_length: "5",
                type: "digits",
                align: "left"
            })
    .row
        +field-textarea("Mensajes",
        {
            size: "26em",
            orientation: "horizontal",
            disabled: true
        })
    .row
        +field-input("Posicion",
            {
                label: "Posicion",
                size: "21em",
                orientation: "horizontal",
                max_length: "2",
                align: "rigth",
                disabled: true
            })
    .row#elementosJuntos3
        +field-input("precMdo",
            {
                label: "Prec Mdo",
                size: "6em",
                orientation: "horizontal",
                max_length: "6",
                type: "digits",
                align: "left",
                disabled: true
            })
        +field-input("PrecCierre",
        {
            label: "Prec Cierre",
            size: "5.5em",
            orientation: "horizontal",
            type: "text",
            disabled: true
            })
.row#botones-final_tab
    +button-add({label: "Agregar",size: "large", disabled: false})
    +button-clean({label: "Limpiar",size: "large", disabled: false})


