include /mixins/mixins
.row#boton-reset    
    +field-checks("reset",
        {
            label: "",
            name: "reset",
            orientation: "horizontal"
            },
            {key: "true", value:"reset"}
        )
.row#ordenaElementos
        .row#elementosJuntos
            +field-input("contrato",
                {
                    label: "Contrato",
                    size: "15em",
                    orientation: "horizontal",
                    required: true,
                    max_length: "9",
                    type: "alphanum",
                    align: "left"
                })
            +field-input("digito",
            {
                    size: "5em",
                    orientation: "horizontal",
                    type: "text",
                    disabled: true,
                    align: "center"
                })
        +field-input("titular",
        {
                size: "23em",
                orientation: "horizontal",
                align: "left",
                disabled: true
            })
        .row#elementosJuntos2
            +field-input("perfilC",
            {
                    label: "Perfil Contrato",
                    size: "8em",
                    orientation: "horizontal",
                    align: "left",
                    disabled: true
                })
            +field-input("IPContrato",
            {
                    size: "4em",
                    orientation: "horizontal",
                    align: "left",
                    disabled: true
                })
        +field-input("emisora",
            {
                label: "emisora",
                required: true,
                size: "15em",
                orientation: "horizontal",
                align: "left"
            })
        +field-input("pemisora",
        {
                label: "Perfil Emisora",
                size: "14em",
                orientation: "horizontal",
                align: "left",
                disabled: true
            })
        +field-select("Operacion",
            {
                label: "Operación",
                size: "15em",
                orientation: "horizontal",
                required: true,
            },
                {key: "C", value:"compra"},
                {key: "CPA", value:"Cpa"},
                {key:"V", value:"Venta"},
                {key:"VTA", value:"Vta"},
                {key:"VC", value:"Venta en corto"},
                {key:"VCD", value:"Venta en corto dinámica"}
            )
        +field-input("cantidad",
            {
                label: "cantidad",
                required: true,
                size: "15em",
                orientation: "horizontal",
                max_length: "22",
                type: "number"
            })
        +field-input("precio",
            {
                label: "precio",
                required: true,
                size: "15em",
                orientation: "horizontal",
                max_length: "25",
                type: "digits"
            })
        +field-select("Vigencia",
            {
                label: "Vigencia",
                size: "15em",
                orientation: "horizontal",
                required: true,
            },
            {key:"D", value:"Diaria"}
            )
        +field-options("opciones",
            {label: "Envio",
            required: true,
            orientation: "horizontal"
            },
            {key: "LIBRO", value:"Libro"},
            {key: "MESA", value:"Mesa"}
            )
        +field-select("ServicioI",
            {
                label: "Servicio de Inv.",
                size: "15em",
                orientation: "horizontal",
            required: true
            })
        +field-select("TitulosAP",
            {
                label: "Titulos a afectar de posición",
                size: "15em",
                orientation: "horizontal",
            required: true
            })
        +field-select("ModoC",
            {
                label: "Modo Cierre",
                size: "15em",
                orientation: "horizontal",
            required: true
            },
            {key:"R", value:"Red"},
            {key:"O", value:"Otros"})
        +field-input("red",
                {
                    label: "Numero de red/telefono",
                    size: "15em",
                    orientation: "horizontal",
                    max_length: "10",
                    type: "number",
                    align: "left"
                })
        .row
        +field-checks("CapturarDA",
            {
                orientation: "horizontal"
                },
                {key: "true", value:"capturar datos Avanzados"}
                )
        .row#elementosOcultos
            +field-select("MPL",
                {
                    label: "MPL",
                    size: "15em",
                    orientation: "horizontal",
                    align: "left"
                },
                {key: "A", value:"activa"},
                {key: "P", value:"pasiva"},
                {key: "O", value:"sentido opuesto"})
            +field-select("difPujas",
                {
                    label: "Diferencia de pujas",
                    size: "15em",
                    orientation: "horizontal",
                    align: "left"
                },
                    {key: "UN", value:".01"},
                    {key: "DO", value:".02"},
                    {key:"TR", value:".03"},
                    {key:"CU", value:".04"},
                    {key:"CI", value:".05"}
                )
            +field-input("PorcentajeVO",
                {
                    label: "Porcentaje VO",
                    size: "15em",
                    orientation: "horizontal",
                    max_length: "5",
                    type: "digits",
                    align: "left"
                })
        .row#posicionlabel
            +field-input("Posicion",
                {
                    label: "Posicion",
                    size: "15em",
                    orientation: "horizontal",
                    max_length: "2",
                    align: "rigth",
                    disabled: true
                })
        +field-textarea("Mensajes",
            {
                size: "25em",
                orientation: "horizontal",
                max_length: "2",
                disabled: true
            })
        .row#elementosJuntos3
            +field-input("precMdo",
                {
                    label: "Prec Mdo",
                    size: "5em",
                    orientation: "horizontal",
                    max_length: "6",
                    type: "digits",
                    align: "left",               
                    disabled: true
                })
            +field-input("PrecCierre",
            {
                    label: "Prec Cierre",
                    size: "5em",
                    orientation: "horizontal",
                    type: "text",
                    disabled: true
                })
.row#botones-final
    +button-add({label: "Agregar",size: "large", disabled: false})
    +button-clean({label: "Limpiar",size: "large", disabled: false})


