extends /layouts/html5

block title
  title Form Validation

block styles

block content
  .amContainer#form-validation
    .callout.callout-warning(hidden)
      h4 Invalid Form
      p Erros was found!

    .callout.callout-info(hidden)
      h4 Valid Form
      p Everything seems ok!

    +form("new-customer")
      .amFormGroup
        .amRow
          +field-input("id", {label: "ID", tooltip: "Tooltip ID", required: true, max_length: "6"})
          +field-input("id1", {label: "Nombre"})
          +field-input("name", {label: "Nombre", required: true, orientation: "horizontal"})
          +field-input("name2", {label: "Nombre", orientation: "horizontal"})
        .amRow
          +field-email("email", {label: "E-mail", required: true})
          +field-email("email2", {label: "E-mail", required: true, orientation: "horizontal"})
        .amRow
          +field-date("fecha1", {label: "Fecha"})
          +field-date("fecha2", {label: "Fecha", required: true})
          +field-date("fecha3", {label: "Fecha", orientation: "horizontal"})
          +field-date("fecha4", {label: "Fecha", orientation: "horizontal", required: true})
        .amRow
          +field-plus-minus("contrato1", {label: "Contrato"})
          +field-plus-minus("contrato2", {label: "Contrato", required: true})
          +field-plus-minus("contrato3", {label: "Contrato", orientation: "horizontal"})
          +field-plus-minus("contrato4", {label: "Contrato", orientation: "horizontal", required: true})
        .amRow
          +field-select-plus-minus("contrato5", {label: "Contrato", size: "10em"},
                          {key: "", value:""},
                          {key: "C001", value:"Contrato 01"},
                          {key: "C002", value:"Contrato 02"},
                          {key: "C003", value:"Contrato 03"},
                          {key: "C004", value:"Contrato 04"},
                          {key: "C005", value:"Contrato 05"}
          )
          +field-select-plus-minus("contrato6", {label: "Contrato", size: "10em", required: true},
                          {key: "", value:""},
                          {key: "C001", value:"Contrato 01"},
                          {key: "C002", value:"Contrato 02"},
                          {key: "C003", value:"Contrato 03"},
                          {key: "C004", value:"Contrato 04"},
                          {key: "C005", value:"Contrato 05"}
          )
          +field-select-plus-minus("contrato7", {label: "Contrato", size: "10em", orientation: "horizontal"},
                          {key: "", value:""},
                          {key: "C001", value:"Contrato 01"},
                          {key: "C002", value:"Contrato 02"},
                          {key: "C003", value:"Contrato 03"},
                          {key: "C004", value:"Contrato 04"},
                          {key: "C005", value:"Contrato 05"}
          )
          +field-select-plus-minus("contrato8", {label: "Contrato", size: "20em", orientation: "horizontal", required: true},
                          {key: "", value:""},
                          {key: "C001", value:"Contrato 01"},
                          {key: "C002", value:"Contrato 02"},
                          {key: "C003", value:"Contrato 03"},
                          {key: "C004", value:"Contrato 04"},
                          {key: "C005", value:"Contrato 05"}
          )
        .amRow
          +field-options("banco",
            {label: "Tipo de Persona", required: true},
            {key: "P", value:"Persona Moral"}, {key:"C", value:"Persona Física"}
          )
          +field-options("banco1",
            {label: "Tipo de Persona", required: true, orientation: "horizontal"},
            {key: "P", value:"Persona Moral"}, {key:"C", value:"Persona Física"}
          )
        .amRow
          +field-input("description", {label: "Description"})
          +field-input("description2", {label: "Description", orientation: "horizontal"})
        .amRow
          +field-checks("products",
            {
              label: "Product Type",
              required: true
            },
            {key: "P01", value:"Product 1"},
            {key: "P02", value:"Product 2"},
            {key: "P03", value:"Product 3"}
          )

          +field-checks("products3",
            {orientation: "horizontal"},
            {key: "P01", value:"Product 1", color: "red"},
            {key: "P02", value:"Product 2", color: "yellow"},
            {key: "P03", value:"Product 3", color: "green"}
          )
          +field-checks("products2",
            {
              label: "Product Type",
              required: true,
              orientation: "horizontal"
            },
            {key: "P01", value:"Product 1"},
            {key: "P02", value:"Product 2"},
            {key: "P03", value:"Product 3"}
          )
          +field-checks("products3",
            {
              label: "Product Type",
              orientation: "horizontal"
            },
            {key: "P01", value:"Product 1"},
            {key: "P02", value:"Product 2"},
            {key: "P03", value:"Product 3"}
          )
        .amRow
          +field-checks("servicio_inversion",
            {
                label: "Servicio de Inversión",
            },
            {key: "S01", value:"Aplicados", color:"green"},
            {key: "S02", value:"Cancelados", color:"red"},
            {key: "S03", value:"Pendientes", color:"orange"},
            {key: "S04", value:"En Revisión", color:"blue"},
            {key: "S05", value:"En Proceso", color:"grey"},
            {key: "S05", value:"En Revisión Sans", color:"cyan"}
            )
          +field-checks("servicio_inversion_2",
            {
                label: "Servicio de Inversión",
            },
            {key: "S01", value:"Asignadas", color:"green"},
            {key: "S02", value:"Cancelados", color:"red"},
            {key: "S03", value:"Pendientes", color:"orange"},
            {key: "S04", value:"En Revisión", color:"blue"},
            {key: "S05", value:"En Proceso", color:"grey"},
            {key: "S05", value:"En Revisión Sans", color:"cyan"}
            )
        .amRow
          +field-select("payment",
            {
              label: "Método de pago",
              size: "12em"
            },
            {key: "ET", value:"Electronic transfer"},
            {key:"CHK", value:"Check"}
          )
          +field-select("payment2",
            {
              label: "Payment method",
              required: true,
              size: "12em"
            },
            {key: "ET", value:"Electronic transfer"},
            {key:"CHK", value:"Check"}
          )
          +field-select("payment3",
            {
              label: "Payment method",
              required: true,
              size: "12em",
              orientation: "horizontal"
            },
            {key: "ET", value:"Electronic transfer"},
            {key:"CHK", value:"Check"}
          )
        .amRow
          +field-input("amount", {label: "Amount", required: true, type: "digits"})
        .amRow
          +field-fileupload("adjuntar_archivo",
            {
              label: "Adjuntar Archivo",
              required: true
            }
          )
        .amRow
          +field-search("buscar", {})
        .amRow
          +field-multiselect("multi",
            {
              label: "Multiselect",
              required: true,
              size: "12em",
              orientation: "horizontal"
            },
            {key: "O1", value: "Opción 1"},
            {key: "O2", value: "Opción 2"},
            {key: "O3", value: "Opción 3"},
            {key: "O4", value: "Opción 4"},
            {key: "O5", value: "Opción 5"},
            {key: "O6", value: "Opción 6"},
            {key: "O7", value: "Opción 7"},
            {key: "O8", value: "Opción 8"}
          )
        .amRow
          +button-send({size: "large", disabled: false})

block scripts
  script(src="../../assets/scripts/accimarket/form-validation/scripts.js")