extends /layouts/html5

block title
   title Form Validation
   - var page = "form-validation"
   - var styles = "/assets/css/accimarket/" + page + "/styles.css"
   - var scripts = "/assets/scripts/accimarket/" + page +"/main.js"

block styles

block content
  .container#form-validation
    .callout.callout-warning(hidden)
      h4 Invalid Form
      p Erros was found!

    .callout.callout-info(hidden)
      h4 Valid Form
      p Everything seems ok!

    +form("new-customer")
      +field-input("id", {label: "ID", required: true, max_length: "6"})
      +field-input("name", {label: "Name", required: true, orientation: "horizontal"})
      +field-email("email", {label: "E-mail", required: true})
      +field-email("email2", {label: "E-mail", required: true, orientation: "horizontal"})
      +field-options("banco",
                    {label: "Person Type", required: true},
                    {key: "P", value:"Person"}, {key:"C", value:"Company"}
      )
      +field-options("banco1",
                    {label: "Person Type", required: true, orientation: "horizontal"},
                    {key: "P", value:"Person"}, {key:"C", value:"Company"}
      )
      +field-input("description", {label: "Description"})
      +field-input("description2", {label: "Description", orientation: "horizontal"})
      +field-checks("products",
            {
              label: "Product Type",
              required: true
            },
            {key: "P01", value:"Product 1"},
            {key: "P02", value:"Product 2"},
            {key: "P03", value:"Product 3"}
      )
      +field-checks("products2",
            {
              label: "Product Type",
              required: true,
              orientation: "horizontal"
            },
            {key: "P01", value:"Product 1"},
            {key: "P02", value:"Product 2"},
            {key: "P03", value:"Product 3"}
      )
      +field-checks("products3",
            {
              label: "Product Type",
              orientation: "horizontal"
            },
            {key: "P01", value:"Product 1"},
            {key: "P02", value:"Product 2"},
            {key: "P03", value:"Product 3"}
      )
      +field-select("payment",
                    {
                      label: "Payment method",
                      size: "12em"
                    },
                    {key: "ET", value:"Electronic transfer"},
                    {key:"CHK", value:"Check"}
      )
      +field-select("payment2",
                    {
                      label: "Payment method",
                      required: true,
                      size: "12em"
                    },
                    {key: "ET", value:"Electronic transfer"},
                    {key:"CHK", value:"Check"}
      )
      +field-select("payment3",
                    {
                      label: "Payment method",
                      required: true,
                      size: "12em",
                      orientation: "horizontal"
                    },
                    {key: "ET", value:"Electronic transfer"},
                    {key:"CHK", value:"Check"}
      )
      +field-input("amount", {label: "Amount", required: true, type: "digits"})
      +field-fileupload("adjuntar_archivo",
                        {
                          label: "Adjuntar Archivo",
                          required: true
                        }
      )

      +button-send({size: "large", disabled: false})

block scripts
   script(data-main=scripts src="/assets/scripts/require.js")