include /mixins/mixins

.row
    +field-select("graficosOpcionD",
        {
            label: "4.¿Cual seria la reaccion* de la Persona Moral si invirtio un porcentaje de su portafolio en determinado instrumento, habiendo entrado en el punto A de la grafica y que actualmete se ubica en el punto B con una minusvalia de 40%?",
            size: "30em",
            required: true,
            orientation: "horizontal"
        })
+canvas("lineChart", {width:'800px', height:'800px'})