include /mixins/mixins

.row
    +field-select("graficosOpcionU",
        {
            label: "Los siguientes graficos muestran el comportamiento de cinco diferentes estrategias de de inversion con propositos especificos, considerando rendimientos teoricos de largo plazo. Dado al potencial de plusvalia o minusvalia de cada alternativa y tomando en cuenta ambos grafico. ¿Donde invertira su dinero?, basandose en la explicacion del Mapa de Liquidez. Seleccione una sola opcion de las cinco alternativas abajo propuestas.",
            size: "30em",
            required: true,
            orientation: "horizontal"
        })