include /mixins/mixins

.row
    +field-select("graficosOpcionT",
        {
            label: "5.",
            size: "15em",
            required: true,
            orientation: "horizontal"
        })