extends /layouts/html5

block title
    title Reperfilamiento Persona Fisica

block styles
    link(rel="stylesheet" href="../../assets/css/accimarket/30-reperfilamiento-persona-moral/styles.css")

block content
    .content.p-4
        +accordion("ReperfilamientoPersonaMoral")
            +accordion-item("ReperfilamientoPersonaMoralItem", "Reperfilamiento para Personas Morales")
                form#reperfilamientoPM
                    include _criteriosBusqueda
                    +tab-group("ReperfilamientoPersonaMoralTabGroup",
                        {id: "TabMapaLiquidaciones", label: "Mapa de Liquidez"},
                        {id: "TabConocimientoClienUno", label: "Conocimiento del cliente y su Experencia en productos financieros"},
                        {id: "TabConocimientoClienDos", label: "Conocimiento del cliente y su Experencia en productos financieros"},
                        {id: "TabObjetivosInversioUno", label: "Objetivos de Inversion"},
                        {id: "TabObjetivosInversioDos", label: "Objetivos de Inversion"},
                        {id: "TabObjetivosInversioTres", label: "Objetivos de Inversion"},
                        {id: "TabSituacionCapacitacion", label: "Situacion y Capa..."})
                        +tab-item("TabMapaLiquidaciones")
                            include _tabMapaLiquide
                        +tab-item("TabConocimientoClienUno")
                            include _tabConocimientoUno
                        +tab-item("TabConocimientoClienDos")
                            include _tabConocimientoDos
                        +tab-item("TabObjetivosInversioUno")
                            include _tabObjetivosInvUno
                        +tab-item("TabObjetivosInversioDos")
                            include _tabObjetivosInvDos
                        +tab-item("TabObjetivosInversioTres")
                            include _tabObjetivosInvTres
                        +tab-item("TabSituacionCapacitacion")
                            include _tabSituacionCapa
                    .row#sticky-action-bar
                        +button-reset({size: "large", disabled: false})
                        +button-send({size: "large", disabled: false})
                        +button-cancel({size: "large", disabled: false})

block scripts
    script(src="../../assets/scripts/accimarket/30-reperfilamiento-persona-moral/scripts.js")
    script(src="../../assets/scripts/accimarket/30-reperfilamiento-persona-moral/scriptsGraficas.js")