extends /layouts/html5

block title
    title Reperfilamiento Persona Fisica

block styles
    link(rel="stylesheet" href="../../assets/css/accimarket/30-reperfilamiento-persona-moral/styles.css")

block content
    .content.p-4
        +accordion("ReperfilamientoPersonaMoral")
            +accordion-item("ReperfilamientoPersonaMoralItem", "Reperfilamiento para Personas Morales")
                form#reperfilamientoPM
                    include _criteriosBusqueda
                    +tab-group("ReperfilamientoPersonaMoralTabGroup",
                        {id: "tabMapaLiquidaciones", label: "Mapa de Liquidez"},
                        {id: "tabConocimientoClienUno", label: "Conocimiento del cliente y su Experencia en productos financieros"},
                        {id: "tabConocimientoClienDos", label: "Conocimiento del cliente y su Experencia en productos financieros"},
                        {id: "tabObjetivosInversioUno", label: "Objetivos de Inversion"},
                        {id: "tabObjetivosInversioDos", label: "Objetivos de Inversion"},
                        {id: "tabObjetivosInversioTres", label: "Objetivos de Inversion"},
                        {id: "tabSituacionCapacitacion", label: "Situacion y Capa..."})
                        +tab-item("tabMapaLiquidaciones")
                            include _tabMapaLiquide
                        +tab-item("tabConocimientoClienUno")
                            include _tabConocimientoUno
                        +tab-item("tabConocimientoClienDos")
                            include _tabConocimientoDos
                        +tab-item("tabObjetivosInversioUno")
                            include _tabObjetivosInvUno
                        +tab-item("tabObjetivosInversioDos")
                            include _tabObjetivosInvDos
                        +tab-item("tabObjetivosInversioTres")
                            include _tabObjetivosInvTres
                        +tab-item("tabSituacionCapacitacion")
                            include _tabSituacionCapa
                    .row#sticky-action-bar
                        +button-reset({size: "large", disabled: false})
                        +button-send({size: "large", disabled: false})
                        +button-cancel({size: "large", disabled: false})

block scripts
    script(src="../../assets/scripts/accimarket/30-reperfilamiento-persona-moral/scripts.js")
    script(src="../../assets/scripts/accimarket/30-reperfilamiento-persona-moral/scriptsGraficas.js")