<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <table class="quiz">
    <thead>
      <tr>
        <th class="question" style="width: 40em;">Instrumento de Inversi칩n</th>
        <th>No conoce ni ha invertido</th>
        <th>S칩lo conoce</th>
        <th>Conoce y ha invertido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="question">Instrumentos de Deuda Gubernamental<div class="field-error">
            <div id="field_error_block_encuesta2_0"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_0_0" name="encuesta2_0"
              data-parsley-errors-container="#field_error_block_encuesta2_0" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_0_1" name="encuesta2_0"
              data-parsley-errors-container="#field_error_block_encuesta2_0" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_0_2" name="encuesta2_0"
              data-parsley-errors-container="#field_error_block_encuesta2_0" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Instrumentos de Deuda Corporativa<div class="field-error">
            <div id="field_error_block_encuesta2_1"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_1_0" name="encuesta2_1"
              data-parsley-errors-container="#field_error_block_encuesta2_1" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_1_1" name="encuesta2_1"
              data-parsley-errors-container="#field_error_block_encuesta2_1" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_1_2" name="encuesta2_1"
              data-parsley-errors-container="#field_error_block_encuesta2_1" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Sociedades de Inversi칩n<div class="field-error">
            <div id="field_error_block_encuesta2_2"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_2_0" name="encuesta2_2"
              data-parsley-errors-container="#field_error_block_encuesta2_2" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_2_1" name="encuesta2_2"
              data-parsley-errors-container="#field_error_block_encuesta2_2" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_2_2" name="encuesta2_2"
              data-parsley-errors-container="#field_error_block_encuesta2_2" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Valores Estructurados<div class="field-error">
            <div id="field_error_block_encuesta2_3"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_3_0" name="encuesta2_3"
              data-parsley-errors-container="#field_error_block_encuesta2_3" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_3_1" name="encuesta2_3"
              data-parsley-errors-container="#field_error_block_encuesta2_3" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_3_2" name="encuesta2_3"
              data-parsley-errors-container="#field_error_block_encuesta2_3" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Certificados Burs치tiles Fiduciarios(Cebures,Cedevis) y Fideicomisos Privados<div
            class="field-error">
            <div id="field_error_block_encuesta2_4"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_4_0" name="encuesta2_4"
              data-parsley-errors-container="#field_error_block_encuesta2_4" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_4_1" name="encuesta2_4"
              data-parsley-errors-container="#field_error_block_encuesta2_4" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_4_2" name="encuesta2_4"
              data-parsley-errors-container="#field_error_block_encuesta2_4" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Titulos Opcionales (Warrants)<div class="field-error">
            <div id="field_error_block_encuesta2_5"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_5_0" name="encuesta2_5"
              data-parsley-errors-container="#field_error_block_encuesta2_5" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_5_1" name="encuesta2_5"
              data-parsley-errors-container="#field_error_block_encuesta2_5" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_5_2" name="encuesta2_5"
              data-parsley-errors-container="#field_error_block_encuesta2_5" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Acciones<div class="field-error">
            <div id="field_error_block_encuesta2_6"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_6_0" name="encuesta2_6"
              data-parsley-errors-container="#field_error_block_encuesta2_6" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_6_1" name="encuesta2_6"
              data-parsley-errors-container="#field_error_block_encuesta2_6" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_6_2" name="encuesta2_6"
              data-parsley-errors-container="#field_error_block_encuesta2_6" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Valores Extranjeros<div class="field-error">
            <div id="field_error_block_encuesta2_7"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_7_0" name="encuesta2_7"
              data-parsley-errors-container="#field_error_block_encuesta2_7" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_7_1" name="encuesta2_7"
              data-parsley-errors-container="#field_error_block_encuesta2_7" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_7_2" name="encuesta2_7"
              data-parsley-errors-container="#field_error_block_encuesta2_7" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Trackers TRACs o ETFs<div class="field-error">
            <div id="field_error_block_encuesta2_8"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_8_0" name="encuesta2_8"
              data-parsley-errors-container="#field_error_block_encuesta2_8" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_8_1" name="encuesta2_8"
              data-parsley-errors-container="#field_error_block_encuesta2_8" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_8_2" name="encuesta2_8"
              data-parsley-errors-container="#field_error_block_encuesta2_8" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
      <tr>
        <td class="question">Certificados de Capital de Desarrollo (CKDs)<div class="field-error">
            <div id="field_error_block_encuesta2_9"></div>
          </div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_9_0" name="encuesta2_9"
              data-parsley-errors-container="#field_error_block_encuesta2_9" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_9_1" name="encuesta2_9"
              data-parsley-errors-container="#field_error_block_encuesta2_9" data-points="1"><span
              class="checkmark"></span></div>
        </td>
        <td>
          <div class="answer"><input type="radio" id="encuesta2_9_2" name="encuesta2_9"
              data-parsley-errors-container="#field_error_block_encuesta2_9" data-points="1"><span
              class="checkmark"></span></div>
        </td>
      </tr>
    </tbody>
  </table>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js"></script>
</body>

</html>