.contextMenu.hidden#menu_ordenes
    ul
        li#personalizar
            span Personalizar
        li#editOrden
            span Editar Orden
        li#copiOrden
            span Copiar Orden
        li#borrarOrden
            span Borrar Orden
        li#validaOrden
            span Validar Orden
        li#enviarOrden
            span Enviar Orden
        li#copiaExcel
            span Copiar Excel