include /mixins/mixins

.amRow.w-full.justify-center.pt-40
    p.font-bold.text-base#mesaggePerfil
.amRow.w-full.justify-center.py-32
    p.text-gray-500#downloadPerfil
    +button-import({size: "small", disabled: false})