extends /layouts/html5

block title
   title 02. Movimientos por Contrato

block styles
  link(rel="stylesheet" href="/assets/css/accimarket/02-movimientos-por-contrato/styles.css")

block content
  .container
    +tab-group("movimientos_por_contrato_tab_group",
                {id: "tab_movimientos_por_contrato", label: "Movimientos por Contrato"},
                {id: "tab_reporte_agbc", label: "Reporte AGBC"},
                {id: "tab_cartas_masivas", label: "Cartas Masivas"})
      +tab-item("tab_movimientos_por_contrato")
        +accordion("criterios_busqueda_accordion")
          +accordion-item("criterios_busqueda_accordion_item")
            .column#search-criterias-column
              +field-group("busqueda_contrato")
                +field-input("contrato",
                            {
                              label: "Contrato",
                              required: true,
                              orientation: "horizontal"
                            })
                +field-date("fecha_inicial",
                            {
                              label: "Fecha inicial",
                              required: true,
                              size: "6em",
                              orientation: "horizontal"
                            })
                +field-date("fecha_final",
                            {
                              label: "Fecha final",
                              required: true,
                              size: "6em",
                              orientation: "horizontal"
                            })
                +field-input("operaciones_mayores_a",
                            {
                              label: "Operaciones mayores a",
                              orientation: "horizontal"
                            })
                +field-input("plazo",
                            {
                              label: "Plazo",
                              orientation: "horizontal"
                            })
                #search-actions-column
                  +button-search({size: "large", disabled: false})
                  +button-clean({size: "large", disabled: false})
                  +button-pdf({size: "large", disabled: true})
                  +button-xls({size: "large", disabled: true})
              +tab-group("datos_contrato_movimientos_tab_group",
                          {id: "datos_contrato", label: "Datos del contrato"},
                          {id: "filtro_movimientos", label: "Filtro de movimientos"})
                +tab-item("datos_contrato")
                  .row
                    +field-input("cliente",
                                {
                                  label: "Cliente",
                                  size: "48em",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                  .row
                    +field-input("digito",
                                {
                                  label: "Digito",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("digito_verif",
                                {
                                  label: "Digito Verif",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                  .row
                    +field-input("perfil",
                                {
                                  label: "Perfil",
                                  size: "16em",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("libro",
                                {
                                  label: "Libro",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                  .row
                    +field-input("status",
                                {
                                  label: "Status",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("area",
                                {
                                  label: "Area",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("division",
                                {
                                  label: "División",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("direccion",
                                {
                                  label: "Dirección",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                  .row
                    +field-input("region",
                                {
                                  label: "Región",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("sucursal",
                                {
                                  label: "Sucursal",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("zona",
                                {
                                  label: "Zona",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                    +field-input("gerencia",
                                {
                                  label: "Gerencia",
                                  disabled: true,
                                  orientation: "horizontal"
                                })
                +tab-item("filtro_movimientos")
                  p Filtro de Movimientos
      +tab-item("tab_reporte_agbc")
        p Reporte AGBC
      +tab-item("tab_cartas_masivas")
        p Cartas Masivas
    .row.has_border#search-results-section
      +grid("movimientos_contrato")

block scripts
  script(src="/assets/scripts/accimarket/02-movimientos-por-contrato/scripts.js")