include /mixins/mixins

+field-group("personaFI")
    +field-input("pfiNombre",
        {
        label: "Nombre",
        size: "40em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiActividad",
        {
        label: "Act",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiRfc",
        {
        label: "RFC",
        size: "10em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiSexo",
        {
        label: "Sexo",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiNacionalidad",
        {
        label: "Nacionalidad",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiCuenta",
        {
        label: "Cto. Bnmx",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiFechaNacimiento",
        {
        label: "Fec Nac",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiCurp",
        {
        label: "CURP",
        size: "10em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiCalidadMigratoria",
        {
        label: "Calidad Migratoria",
        size: "16.5em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiPaisnac",
        {
        label: "Pais Nac",
        size: "16.5em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfiEdonac",
        {
        label: "Edo Nac",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    .row.w-full.overflow-auto.amHeigtTabla 
        +grid("personaFisicaInt")