include /mixins/mixins

+field-group("personaFN")
    +field-input("nombre",
        {
        label: "Nombre:",
        size: "35em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("actividad",
        {
        label: "Actividad:",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("rfc",
        {
        label: "RFC:",
        size: "10em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("sexo",
        {
        label: "Sexo:",
        size: "10em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("curp",
        {
        label: "CURP:",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("fechaNacimiento",
        {
        label: "Fecha de Nacimiento:",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("cuenta",
        {
        label: "Cto. Bnmx:",
        size: "6.7em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("nacionalidad",
        {
        label: "Nacionalidad:",
        size: "10em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("calidadMigratoria",
        {
        label: "Calidad Migratoria:",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    .row.w-full.overflow-auto.heigtTabla 
        +grid("persona_fisica_nac")