include /mixins/mixins

+field-group("personaFI")
    +field-input("pfi_nombre",
        {
        label: "Nombre",
        size: "40em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_actividad",
        {
        label: "Act",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_rfc",
        {
        label: "RFC",
        size: "10em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_sexo",
        {
        label: "Sexo",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_nacionalidad",
        {
        label: "Nacionalidad",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_cuenta",
        {
        label: "Cto. Bnmx",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_fechaNacimiento",
        {
        label: "Fec Nac",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_curp",
        {
        label: "CURP",
        size: "10em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_calidadMigratoria",
        {
        label: "Calidad Migratoria",
        size: "16.5em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_paisnac",
        {
        label: "Pais Nac",
        size: "16.5em",
        disabled: true,
        orientation: "horizontal"
        })
    +field-input("pfi_edonac",
        {
        label: "Edo Nac",
        size: "14em",
        disabled: true,
        orientation: "horizontal"
        })