include /mixins/mixins


+tab-group("cotitular2_clasificacion_contrato_tab_group",
    {id: "clasificacion_contrato", label: "Clasificación Contrato"},
    {id: "conocimiento_experiencia", label: "Conocimiento y Experiencia"},
    {id: "limitantes_invertir", label: "Limitantes a Invertir"},
    {id: "relacion_emisor", label: "Relación Emisor"}
)
    +tab-item("clasificacion_contrato")
        .row.flex.flex-wrap
            +field-input("asesor_inversion",
                {
                label: "Asesor de Inversión:",
                size: "60em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.flex-wrap
            +field-input("tipo_manifiesto",
                {
                label: "Tipo de Manifiesto:",
                size: "29em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.flex-wrap
            +field-input("servicio_inversion",
                {
                label: "Servicio de Inversión:",
                size: "60em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("carta_ejecucion",
                {
                label: "Carta Ejecución:",
                size: "45em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fecha_carta_ejecucion",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("carta_ejecucion_2",
                {
                label: "Carta Ejecución:",
                size: "45em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fecha_carta_ejecucion_2",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("institucional_pract_vta",
                {
                label: "Institucional/Institucional Pract. Vta.:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacion_institucional_pract_vta",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fecha_institucional_pract_vta",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("sofisticado_nosofisticado",
                {
                label: "Sofisticado/No Sofisticado:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacion_sofisticado_nosofisticado",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fecha_sofisticado_nosofisticado",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("elegible_noelegible",
                {
                label: "Elegible/No Elegible:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacion_elegible_noelegible",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fecha_elegible_noelegible",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("calificado_nocalificado",
                {
                label: "Calificado/No Calificado:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacion_calificado_nocalificado",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fecha_calificado_nocalificado",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("discrecional_nodiscrecional",
                {
                label: "Discrecional/No Discrecional:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacion_discrecional_nodiscrecional",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fecha_discrecional_nodiscrecional",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.flex-wrap
            +field-input("anexo_descriptivo",
                {
                label: "Anexo Descriptivo:",
                size: "60em",
                disabled: true,
                orientation: "horizontal"
                })


    +tab-item("conocimiento_experiencia")
        .row.flex.inline-flex
            +quiz("encuesta2", {name: "Instrumento de Inversión", size: "40em"}, [
                {question: "Instrumentos de Deuda Gubernamental"},
                {question: "Instrumentos de Deuda Corporativa"},
                {question: "Sociedades de Inversión"},
                {question: "Valores Estructurados"},
                {question: "Certificados Bursátiles Fiduciarios(Cebures,Cedevis) y Fideicomisos Privados"},
                {question: "Titulos Opcionales (Warrants)"},
                {question: "Acciones"},
                {question: "Valores Extranjeros"},
                {question: "Trackers TRACs o ETFs"},
                {question: "Certificados de Capital de Desarrollo (CKDs)"}
                ], [
                    {answer: "No conoce ni ha invertido", type: "option"},
                    {answer: "Sólo conoce", type: "option"},
                    {answer: "Conoce y ha invertido", type: "option"}
                ])

    +tab-item("limitantes_invertir")
        .row.overflow-auto.heigthTablaM
            +grid("cotitular2_clasificacion_contrato_limitantes_intervenir")

    +tab-item("relacion_emisor")
        .row.overflow-auto.heigthTablaM
            +grid("cotitular2_clasificacion_contrato_relacion_emisor")