include /mixins/mixins


+tab-group("CotitularDosClasificacionContratoTabGroup",
    {id: "ClasificacionContrato", label: "Clasificación Contrato"},
    {id: "ConocimientoExperiencia", label: "Conocimiento y Experiencia"},
    {id: "LimitantesInvertir", label: "Limitantes a Invertir"},
    {id: "RelacionEmisor", label: "Relación Emisor"}
)
    +tab-item("ClasificacionContrato")
        .row.flex.flex-wrap
            +field-input("asesorInversion",
                {
                label: "Asesor de Inversión:",
                size: "60em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.flex-wrap
            +field-input("tipoManifiesto",
                {
                label: "Tipo de Manifiesto:",
                size: "29em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.flex-wrap
            +field-input("servicioInversion",
                {
                label: "Servicio de Inversión:",
                size: "60em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("cartaEjecucion",
                {
                label: "Carta Ejecución:",
                size: "45em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fechaCartaEjecucion",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("cartaEjecucionDos",
                {
                label: "Carta Ejecución:",
                size: "45em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fechaCartaEjecucionDos",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("institucionalPractVta",
                {
                label: "Institucional/Institucional Pract. Vta.:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacionInstitucionalPractVta",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fechaInstitucionalPractVta",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("sofisticadoNosofisticado",
                {
                label: "Sofisticado/No Sofisticado:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacionSofisticadoNosofisticado",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fechaSofisticadoNosofisticado",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("elegibleNoelegible",
                {
                label: "Elegible/No Elegible:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacionElegibleNoelegible",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fechaElegibleNoelegible",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("calificadoNocalificado",
                {
                label: "Calificado/No Calificado:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacionCalificadoNocalificado",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fechaCalificadoNocalificado",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.inline-flex
            +field-input("discrecionalNodiscrecional",
                {
                label: "Discrecional/No Discrecional:",
                size: "17em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("justificacionDiscrecionalNodiscrecional",
                {
                label: "Justificación:",
                size: "20em",
                disabled: true,
                orientation: "horizontal"
                })
            +field-input("fechaDiscrecionalNodiscrecional",
                {
                label: "Fecha:",
                size: "10em",
                disabled: true,
                orientation: "horizontal"
                })
        .row.flex.flex-wrap
            +field-input("anexoDescriptivo",
                {
                label: "Anexo Descriptivo:",
                size: "60em",
                disabled: true,
                orientation: "horizontal"
                })


    +tab-item("ConocimientoExperiencia")
        .row.flex.inline-flex
            +quiz("AdministracionDatosGenerales", {name: "Instrumento de Inversión", size: "40em"}, [
                {question: "Instrumentos de Deuda Gubernamental", required: true},
                {question: "Instrumentos de Deuda Corporativa"},
                {question: "Sociedades de Inversión"},
                {question: "Valores Estructurados"},
                {question: "Certificados Bursátiles Fiduciarios(Cebures,Cedevis) y Fideicomisos Privados"},
                {question: "Titulos Opcionales (Warrants)"},
                {question: "Acciones"},
                {question: "Valores Extranjeros"},
                {question: "Trackers TRACs o ETFs"},
                {question: "Certificados de Capital de Desarrollo (CKDs)"}
                ], [
                    {answer: "No conoce ni ha invertido", type: "option"},
                    {answer: "Sólo conoce", type: "option"},
                    {answer: "Conoce y ha invertido", type: "option"}
                ])

    +tab-item("LimitantesInvertir")
        .row.overflow-auto.heigthTablaM
            +grid("CotitularDosClasificacionContratoLimitantesIntervenir")

    +tab-item("RelacionEmisor")
        .row.overflow-auto.heigthTablaM
            +grid("CotitularDosClasificacionContratoRelacionEmisor")