.row.flex.justify-end
    +field-checks("documentacion_flags",
        {orientation: "horizontal", disabled:true},
        {key: "entregada", value:"Entregada", color: "green"},
        {key: "pendiente", value:"Pendiente", color: "yellow"},
        {key: "vencido", value:"Vencido", color: "red"},
        {key: "noaplica", value:"No Aplica", color: "black"}
    )

p Contrato
.row.w-full.overflow-auto.heigthTablaC
    +grid("cotitular2_documentacion_contrato")
p Cliente
.row.w-full.overflow-auto.heigthTablaC
    +grid("cotitular2_documentacion_cliente")
