include /mixins/mixins


.campos-observaciones
    .row.flex.flex-wrap
        +field-textarea("textAreaObservaciones",
            { size: "69em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("fechaApertura",
            { label: "Fecha Apertura", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("montoInicial",
            { label: "Monto Inicial", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("sector",
            { label: "Sector", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("residencia",
            { label: "Residencia", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("envioCorrespondencia",
            { label: "Envio Correspondencia", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("tipoCuenta",
            { label: "Tipo Cuenta", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        p#comisionesImpuestosSpan Comisiones/Impuestos*
        +field-input("manejoCuenta",
            { label: "Manejo Cuenta", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("custodiaAdmon",
            { label: "Custodia y Admon*", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("limMaxOperacion",
            { label: "Lim.Máx. de Operación", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("isrMdoDin",
            { label: "ISR Mdo Din*", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("fechaUltMov",
            { label: "Fecha últ Mov", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("porcentajeAcumIsr",
            { label: "Porcentaje Acum. ISR", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("porcentajeAcumIde",
            { label: "Porcentaje de Acum. IDE", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.flex-wrap
        +field-input("imprimeEstadoCuenta",
            { label: "Imprime Estado de Cuenta", size: "18em", disabled: true, orientation: "horizontal" }
        )


