include /mixins/mixins


.campos-observaciones
    .row.flex.flex-wrap
        +field-textarea("text_area_observaciones",
            { size: "69em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("fecha_apertura",
            { label: "Fecha Apertura", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("monto_inicial",
            { label: "Monto Inicial", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("sector",
            { label: "Sector", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("residencia",
            { label: "Residencia", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("envio_correspondencia",
            { label: "Envio Correspondencia", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("tipo_cuenta",
            { label: "Tipo Cuenta", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        p#comisiones-impuestos-span Comisiones/Impuestos*
        +field-input("manejo_cuenta",
            { label: "Manejo Cuenta", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("custodia_admon",
            { label: "Custodia y Admon*", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("lim_max_operacion",
            { label: "Lim.Máx. de Operación", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("isr_mdo_din",
            { label: "ISR Mdo Din*", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("fecha_ult_mov",
            { label: "Fecha últ Mov", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.inline-flex
        +field-input("porcentaje_acum_isr",
            { label: "Porcentaje Acum. ISR", size: "18em", disabled: true, orientation: "horizontal" }
        )
        +field-input("porcentaje_acum_ide",
            { label: "Porcentaje de Acum. IDE", size: "18em", disabled: true, orientation: "horizontal" }
        )
    .row.flex.flex-wrap
        +field-input("imprime_estado_cuenta",
            { label: "Imprime Estado de Cuenta", size: "18em", disabled: true, orientation: "horizontal" }
        )


