+field-input("captura",
    {
    label: "Captura : ",
    orientation: "horizontal",
    disabled : true,
    size: "14em"
    }
)
.row.has_border
    .row.w-full.overflow-auto
        +grid("contratos_directos")
    +grid-records-count("contratos_directos")

.row.pb-50.pt-200
    +button-send({size: "large", disabled: false})
    +button-validate({size: "large", disabled: false})
    +button-clean({size: "large", disabled: false})

.row.pb-64
+field-input("captura",
    {
    label: "Total de Órdenes: ",
    orientation: "horizontal",
    disabled : true,
    size: "8em"
    }
)