#filtros {
  label {
    width: 80px;
  }

  #field_fecha_valor {
    label {
      width: 72px;
    }
  }
}

#table_grid_orden_toppager {
  display: flex;
  justify-content: center;
}

#boton_resert {
  display: flex;
  justify-content: center;
}

#input_errores {
  justify-content: center;
}

#titulo {
  margin-top: 5em;
}

#field_serie {
  span.required {
    display: none;
  }
}

select,
input {
  border-radius: 0em;
}
