.row
    .ui-dialog.hidden(id="configColumns")
        +field-group("groupConsulta")
            .row
                +field-swaplist("listado",{title_source:"Columnas Disponibles",title_destination:"Columnas Seleccionadas"})