+form("criterios-busqueda")
    +field-date-range("rango", {begin_label: "Fecha inicial", end_label: "Fecha final", required: true, size:"10em"})
    +field-plus-minus("tv", {label: "TV"})
    +field-plus-minus("emisora", {label: "Emisora"})
    .row.pt-4
        +field-group("botones-filtros")    
            +button-search({size: "large", disabled: false})
            +button-clean({size: "large", disabled: false})