extends /layouts/bol-jsp

block title
   title Consultas de Mercado de Dinero

block styles
   link(rel="stylesheet" href="../../assets/css/bol/05-monitoreo-captacion/styles.css")

block content

    .content.p-4
        .row.ui-widget-header
            span Monitoreo Captación de Nota Estructurada

        .row.flex
            .column
                include filtros
            .contenido.p-4
                .row.flex.justify-end
                    +field-group("botones-exportar")
                        +button-pdf({size: "large", disabled: false, size: "small"})
                        +button-xls({size: "large", disabled: false, size: "small"})
                .row.w-full.overflow-auto
                    +grid("notas-estructuradas")
                +grid-records-count("notas-estructuradas")

        .contextMenu.hidden#contextMenu
            ul
                li#cierre-definitivo
                    span Cierre definitivo
                li#detalle-captacion
                    span Detalle de captación
                li#cancela-notae
                    span Cancelar nota estructurada
                li#reenvio-cierre
                    span Reenvío de cierre
                li#amplia-horario
                    span Ampliación de horario

block scripts
    script(src="../../assets/scripts/bol/05-monitoreo-captacion/scripts.js")