include /mixins/mixins

.row
    +field-group("groupConsulta")
        +field-input("contrato",
            {
                label: "Contrato",
                orientation: "horizontal",
                size: "10em"
            })
        +field-input("digito",
            {
                label: "Digito",
                orientation: "horizontal",
                disabled: true,
                size: "4em"
            })
        +field-input("dv",
            {
                label: "DV",
                orientation: "horizontal",
                disabled: true,
                size: "4em"
            })
        +field-input("estatus",
            {
                label: "Estatus",
                orientation: "horizontal",
                disabled: true,
                size: "4em"
            })
        +field-input("perfilContrato",
            {
                label: "Perfil contrato",
                orientation: "horizontal",
                disabled: true,
                size: "13em"
            })
        +field-input("libro",
            {
                label: "Libro",
                orientation: "horizontal",
                disabled: true,
                size: "7em"
            })
        +field-input("nombreContrato",
            {
                label: "",
                orientation: "horizontal",
                disabled: true,
                size: "40em"
            })
        +field-input("clabe",
            {
                label: "CLABE",
                orientation: "horizontal",
                disabled: true,
                size: "16.5em"
            })
    +field-options("opciones",
        {
            label:""
        },
            {key:"SI", value:"Detalle"},
            {key:"NO", value:"Resumen"}
        )
    #search-actions-column.pl-12
        +button-search({size: "large", disabled: false})
        +button-clean({size: "large", disabled: false})
        +button-pdf({size: "large", disabled: false})
        +button-xls({size: "large", disabled: false})
        .row#rowBusqueda
            +field-checks("precioMdo",
                {
                    label: ""
                },
                {key: "precioAuto", value:"Precio Mdo."})
            +field-search("buscar", {size:"12em"})