include /mixins/mixins

table.w-full
    tr.bg-gray-400
        td.font-bold Liquidacion
        td
        td
        td
        td
        td
    tr.bg-gray-200
        td.w-64.font-bold Liq Hoy:
        td.w-24.text-center
            p#totalLiqHoy
        td.w-64.font-bold Efectivo Anterior:
        td.w-24.text-center
            p#totalEfectivoA
        td.w-64.font-bold Depositos:
        td.w-24.text-center
            p#totalDepositos
    tr
        td.font-bold Liq 24 Hrs:
        td.text-center
            p#total24
        td.font-bold Efectivo Hoy;
        td.text-center
            p#totalEfectivo
        td.font-bold Retiros
        td.text-center
            p#totalRetiros
    tr.bg-gray-200
        td.font-bold Liq 48 Hrs:
        td.text-center
            p#totalLiq48
        td
        td
        td
        td
    tr
        td.font-bold Liq +48 Hr:
        td.text-center
            p#totalLiqM48
        td
        td
        td
        td
