extends /layouts/html5

block title
    title Posicion

block styles
    link(rel="stylesheet" href="/assets/css/accimarket/posicion/styles.css")

block content
    .content.p-4
        .row
            include _criteriosPosicion
            +tab-group("grupo_posicion",
            {id: "tab_contado", label: "CONTADO"})
                +tab-item("tab_contado")
                    .column.w-full.overflow-auto#tablas
                        +grid("contado")
                        +grid("totales")
                    include _resumen

        include dialogos/_configuracionColumnas
        include dialogos/_detalle

        <div class="contextMenu" id="contextMenu" style="display:none; width:400px;">
            <ul style="width: 400px; font-size: 65%;">
                <li id="personaliza">
                    <span class="ui-icon ui-icon-plus" style="float:left"></span>
                    <span style="font-size:130%; font-family:Verdana">Personalizacion</span>
                </li>
                <li id="consultaMov">
                    <span class="ui-icon ui-icon-pencil" style="float:left"></span>
                    <span style="font-size:130%; font-family:Verdana">Consulta Movimientos</span>
                </li>
            </ul>
        </div>

block scripts
    script(src="/assets/scripts/accimarket/posicion/scripts.js")
    script(src="/assets/scripts/accimarket/posicion/scriptsTables.js")