.content {
  #criterios-busqueda-posicion {
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  #groupConsulta {
    display: flex;
    flex-wrap: wrap;
    width: 75em;

    input {
      text-align: center;
      font-weight: bold;
    }
  }

  #groupDatos {
    display: flex;
    flex-wrap: wrap;
  }

  #search-actions-column {
    display: flex;
    flex-wrap: wrap;
    width: 31em;
  }

  #rowBusqueda {
    width: 25em;
    justify-content: flex-end;
  }

  .tblOpciones {
    width: 25em;
    height: 15em;
  }
}

.field_opcionesRenta {
  display: contents;
}

#mensajesConfig {
  margin-left: 34em;
}

#rowPrincipales {
  display: flex;
  width: 20em;
}

#rowDetalle {
  margin-top: 5em;
}

#criterios-detalle {
  width: 25em;
  justify-content: flex-start;
  margin-left: 1.5em;

  #field_fechaF,
  #field_contratoDetalle {
    label {
      width: 6.7em;
    }
  }
}

#emisionLst,
#operacionLst,
#portafolioLst {
  width: 100%;
}

#tablaFiltros {
  width: 32em;
}

.opcionesGraficaA {
  flex-wrap: wrap;
  width: 33em;
}

table {
  font-size: 1em;
}
