.contextMenu.hidden#menu-pdf
    ul
        li#pdf-reporte-asignacion
            span PDF Reporte de Asignación
        li#pdf-confirmacion-global
            span PDF Confirmación Global
        li#pdf-confirmacion-detallada
            span PDF Confirmación Detallada

.contextMenu.hidden#menu-xls
    ul
        li#xls-reporte-asignacion
            span Excel Reporte de Asignación
        li#xls-confirmacion-global
            span Excel Confirmación Global
        li#xls-confirmacion-detallada
            span Excel Confirmación Detallada

.contextMenu.hidden#AsignadosMenu
    ul
        li#configuracion-de-columnas
            span Configuracion de columnas
        li#copiar-excel
            span Copiar excel
        li#hechos
            span Hechos
        li#compra
            span Compra
        li#venta
            span Venta
        li#reporte-detallado-PDF
            span Reporte detallado PDF
        li#reporte-detallado-Excel
            span Reporte detallado Excel

.contextMenu.hidden#PendientesMenu
    ul
        li#configuracion-de-columnas
            span Configuracion de columnas
        li#copiar-excel
            span Copiar excel
        li#modificar-cantidad
            span Modificar cantidad
        li#cancelar
            span Cancelar
        li#cancelar-ordenes-seleccionadas
            span Cancelar ordenes seleccionadas
        li#hechos
            span Hechos
        li#compra
            span Compra
        li#venta
            span Venta
        li#reporte-detallado-PDF
            span Reporte detallado PDF
        li#reporte-detallado-Excel
            span Reporte detallado Excel

.contextMenu.hidden#AsignarMenu
    ul
        li#configuracion-de-columnas
            span Configuracion de columnas
        li#copiar-excel
            span Copiar excel
        li#cancelar
            span Cancelar
        li#modificar-cantidad
            span Modificar cantidad
        li#compra
            span Compra
        li#venta
            span Venta
        li#reporte-detallado-PDF
            span Reporte detallado PDF
        li#reporte-detallado-Excel
            span Reporte detallado Excel

.contextMenu.hidden#CanceladasMenu
    ul
        li#configuracion-de-columnas
            span Configuracion de columnas
        li#copiar-excel
            span Copiar excel
        li#compra
            span Compra
        li#reporte-detallado-PDF
            span Reporte detallado PDF
        li#reporte-detallado-Excel
            span Reporte detallado Excel

.contextMenu.hidden#DistribuidasMenu
    ul
        li#configuracion-de-columnas
            span Configuracion de columnas
        li#copiar-excel
            span Copiar excel
        li#hechos
            span Hechos
        li#compra
            span Compra
        li#venta
            span Venta

.contextMenu.hidden#BloqueadasMenu
    ul
        li#configuracion-de-columnas
            span Configuracion de columnas
        li#copiar-excel
            span Copiar excel
        li#cancelar
            span Cancelar
        li#modificar-cantidad
            span Modificar cantidad
        li#compra
            span Compra
        li#venta
            span Venta
        li#reporte-detallado-PDF
            span Reporte detallado PDF
        li#reporte-detallado-Excel
            span Reporte detallado Excel