include /mixins/mixins

.row
    +field-group("groupRendimiento")
        +field-input("txtContrato",
            {
                label: "Contrato",
                orientation: "horizontal",
                size: "10em",
                max_length: "10"
            })
        +field-input("txtDigito",
            {
                label: "Digito",
                orientation: "horizontal",
                disabled: true,
                size: "4em"
            })
        +field-input("txtDigitoVerificador",
            {
                label: "DV",
                orientation: "horizontal",
                disabled: true,
                size: "4em"
            })
        +field-input("txtEstatus",
            {
                label: "Estatus",
                orientation: "horizontal",
                disabled: true,
                size: "4em"
            })
        +field-input("txtPerfilContrato",
            {
                label: "Perfil",
                orientation: "horizontal",
                disabled: true,
                size: "13em"
            })
        +field-input("txtNombreContrato",
            {
                label: "",
                orientation: "horizontal",
                disabled: true,
                size: "40em",
                max_length: "50"
            })
        +field-input("txtClabe",
            {
                label: "CLABE",
                orientation: "horizontal",
                disabled: true,
                size: "13em"
            })
        +field-date("dtFecha",
            {
                label: "Fecha Inicial",
                orientation: "horizontal",
                size: "10em"
            })
        +field-date("dtFechaFinal",
            {
                label: "Fecha Final",
                orientation: "horizontal",
                size: "10em"
            })
        +field-select("cmbRenta",
            {
            label: "Renta",
            orientation: "horizontal",
            size: "12.5em"
            },
            {key: "1", value:"Renta Variable"},
            {key:"2", value:"Renta Fija"},
            {key: "3", value:"Renta_Total"},
            {key:"4", value:"Privados"},
            {key: "5", value:"Gubernamentales"},
            {key:"6", value:"SIC"},
            {key: "7", value:"BMV"},
            {key: "8", value:"Cob Cambiaria"},
            {key:"9", value:"Notas Estructuradas"}
            )
.row
    +field-checks("cmbOpcionesRendi",
        {
            label: "",
                position:"fixed"
        },
        {key: "S01", value:"Inflacion", color:"green"},
        {key: "S02", value:"IPC", color:"gray"},
        {key: "S03", value:"Cetes 28", color:"yellow"},
        {key: "S04", value:"Deval", color:"blue"},
        {key: "S05", value:"Soc Inv RF-PM", color:"yellow"},
        {key: "S06", value:"Cetes 91", color:"green"},
        {key: "S07", value:"Soc Inv RV", color:"red"},
        {key: "S08", value:"INMEX", color:"cyan"}
        )
.row
    #search-actions-column.pl-12
        +button-search({size: "large", disabled: false})
        +button-clean({size: "large", disabled: false})
        +button-pdf({size: "large", disabled: false})
        +button-xls({size: "large", disabled: false})
        +field-select("cmbModelosCalculoCombo",
            {
                label: "Modulo de Calculo",
                orientation: "horizontal",
                size: "14em"
            },
            {key: "TI", value:"TIR"},
            {key:"F", value:"Flujo de efectivo"},
            {key: "T", value:"TWP"}
            )