include /mixins/mixins

+splitter("simple")
    .pane
        +grid("resultadosMensuales")
        +canvas("graficaMensual", {width:'600px', height:'400px'})
        +grid("resultadosMensualesTWP")
        +canvas("graficaMensualTWP", {width:'600px', height:'400px'})
    .pane
        +grid("resultadosAcumulados")
        +canvas("graficaAcumulados", {width:'600px', height:'400px'})
        +grid("resultadosAcumuladosTWP")
        +canvas("graficaAcumuladosTWP", {width:'600px', height:'400px'})