extends /layouts/html5

block title
    title Rendimientos

block styles
    link(rel="stylesheet" href="/assets/css/accimarket/rendimientos/styles.css")

block content
    .content.p-4
        +accordion("CriteriosBusquedaRendimientos")
            +accordion-item("BusquedaItem")
                +form("criterios-busqueda-rendimientos")
                    include _criteriosRendimientos
        include _graficasRendimientos
        include _context_menus
        include _dialog_xls
block scripts
    script(src="/assets/scripts/accimarket/rendimientos/scripts.js")