.content {
  .row {
    flex-wrap: wrap;
  }

  #criterios-busqueda-rendimientos {
    display: flex;
  }

  #groupRendimiento {
    flex-wrap: wrap;
    width: 60em;

    input {
      text-align: center;
      font-weight: bold;
    }
  }

  #field_perfilContrato {
    label[for="perfilContrato"] {
      width: 3.5em;
    }
  }

  #field_FechaInicial {
    label {
      width: 7em;
    }
  }

  #field_FechaFinal {
    label {
      width: 6.5em;
    }
  }

  #field_cmbOpcionesRendi {
    width: 20em;

    .field-control {
      div {
        label {
          width: 12em;
        }

        width: 24em;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  #field_cmbModuloCalculo {
    justify-content: flex-end;
  }
}