include /mixins/mixins

+field-group("personaME")
    .amRow
        +field-input("pmeNombreCorto",
            {
            label: "Nombre Corto:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("pmePais",
            {
            label: "Pais:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("pmeRfcgpoPertenencia",
            {
            label: "Gpo. Pertenencia:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
    .amRow
        +field-input("pmeNacionalidad",
            {
            label: "Nacionalidad:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("pmeGpoNacional",
            {
            label: "Gpo. Nacional:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("pmeCustLocal",
            {
            label: "Cust. Local:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
    .amRow
        +field-input("pmeRecompra",
            {
            label: "Recompra:",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
            })
    .amRow#divRowPmeBnmx
        +field-input("pmeCteBnmx",
            {
            label: "Cte Bnmx:",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
            })
    .amRow
        +field-textarea("pmeClasificacion",
            {
                label: "Clasificacion",
                size: "46em",
                disabled: true,
                orientation: "horizontal"
            })