include /mixins/mixins

+field-group("personaMN")
    .row
        +field-input("nombreCorto",
            {
            label: "Nombre Corto:",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("tipoUnidad",
            {
            label: "Tipo de Unidad:",
            size: "20em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("rfc",
            {
            label: "RFC:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
    .row
        +field-input("numNotario",
            {
            label: "Num. Notario:",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("nomNotario",
            {
            label: "Nom. Notario:",
            size: "20em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("numEscConst",
            {
            label: "Num. Esc. Const:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
    .row
        +field-input("fechaEscCons",
            {
            label: "Fecha Esc Cons:",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("regPubComer",
            {
            label: "Reg Pub Comer:",
            size: "20em",
            disabled: true,
            orientation: "horizontal"
            })
        +field-input("fechaRegPubComer",
            {
            label: "Fecha Reg Pub Comer:",
            size: "10em",
            disabled: true,
            orientation: "horizontal"
            })
    .row
        +field-input("recompra",
            {
            label: "Recompra:",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
            })
    .row#rowBnmx
        +field-input("cteBnmx",
            {
            label: "Cte Bnmx:",
            size: "15em",
            disabled: true,
            orientation: "horizontal"
            })
    .row
        +field-input("obsEscritura",
            {
            label: "Obs Escritura:",
            size: "46em",
            disabled: true,
            orientation: "horizontal"
            })
    .row
        +field-textarea("clasificacion",
            {
                label: "Clasificacion",
                size: "46em",
                disabled: true,
                orientation: "horizontal"
            })
    .row
        +field-textarea("clasificacionBanxico",
            {
                label: "Clasificacion Banxico",
                size: "46em",
                disabled: true,
                orientation: "horizontal"
            })