.amRow
    .ui-dialog.hidden(id="divDialogoAviso")
        .amRow.flex
            .amColumn.w-32
                img.w-16.mt-4(src="../../assets/images/msgInfo.png")
            .amColumn.ml-4
                p Esta opci贸n para evaluar el Perfil de Inversi贸n es exclusiva para Clientes Sofisticados, por lo tanto debi贸 firmar primero la "Declaraci贸n de Cliente Sofisticado".
        .amRow.pt-4.flex.justify-center
            +button-accept