.amRow
    .ui-dialog.hidden(id="divDialogoPdf")
        .amRow.flex
            .amColumn.w-40
                img.w-16.mt-4(src="../../assets/images/msgWarning.png")
            .amColumn.ml-4
                p Tiene Solicitudes Pendientes por aplicar. Favor de validar con la Mesa de Control. Si desea continuar las Solicitudes Pendientes se cancelarán.
                br
                p ¿Deseas continuar?
        .amRow.pt-4.flex.justify-center
            +button-accept
            +button-cancel