.row
    .ui-dialog.hidden(id="divDialogoXls")
        .amRow.flex
            .column.w-32
                img.w-16.mt-4(src="../../assets/images/msgCritical.png")
            .column.ml-4
                p El contrato no se puede reperfilar. El contrato no pertenece a una Persona Moral.
        .amRow.pt-4.flex.justify-center
            +button-accept