extends /layouts/jsp

block title
   title 01.Causión Bursátil

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/01-caucion-bursatil/styles.css")

block content
   .amContent.p-4
      .amRow
         +accordion("criteriosBusquedaAccordion")
            +accordion-item("criteriosBusquedaAccordionItem")
               +form("criteriosBusqueda", {class: "amIsSearchForm"})
                  +field-date("fecha", {label: "Fecha", clear:false, tooltip: "DD/MM/AAAA", required:false})
                  +field-date-range("rango", {begin_label: "Fecha inicial", end_label: "Fecha final", required: false, size:"10em",  clear:true, orientation:"vertical"})
                  +field-plus-minus("Contrato", {label: "Contrato", tooltip: "Contrato", required:false})
                  +field-plus-minus("Digito", {label: "Digito", required:false})
                  +field-options("Negocio",
                     {required:false},
                     {key: "CB", value:"Casa de Bolsa"},
                     {key:"B", value:"Banco"}
                  )
                  +field-select-plus-minus("TestSelectPlusMinusContrato", {label: "Contrato", size: "10em", required:false},
                     {key: "", value:""},
                     {key: "C001", value:"Contrato 01"},
                     {key: "C002", value:"Contrato 02"},
                     {key: "C003", value:"Contrato 03"},
                     {key: "C004", value:"Contrato 04"},
                     {key: "C005", value:"Contrato 05"}
                  )
                  +field-checks("Products",
                     {
                     label: "Product Type",
                     orientation: "horizontal", 
                     required:false
                     },
                     {key: "P01", value:"Product 1"},
                     {key: "P02", value:"Product 2"},
                     {key: "P03", value:"Product 3"}
                  )
                  +field-select("Payment",
                     {
                     label: "Payment method",
                     size: "12em", 
                     required:false
                     },
                     {key: "ET", value:"Electronic transfer"},
                     {key:"CHK", value:"Check"}
                  )
                  +field-select-plus-minus("TestSelecPlusMinusAutocomplete", {label: "Contrato", size: "10em", maxsize: 3, required:false}, {key: "", value:""})
                  .column#divBotonesAccion
                     +button-search({size: "large", tooltip: "Consultar", disabled: false})
                     +button-clean({size: "large", tooltip: "Limpiar", disabled: false})
                     +button-pdf({size: "large", tooltip: "PDF", disabled: false})
                     +button-xls({size: "large", tooltip: "XLS", disabled: false})

      .amRow.amHasBorder
         .amRow.w-full.overflow-auto
            +grid("Contratos")
         +grid-records-count("Contratos")

      include _dialog_pdf
      include _dialog_xls
      include _dialog_aviso


block scripts
   script(src="../../assets/scripts/accimarket/01-caucion-bursatil/scripts.js")