extends /layouts/jsp

block title
   title 01.Causión Bursátil

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/01-caucion-bursatil/styles.css")

block content
   .content.p-4
      .row
         +accordion("criterios_busqueda_accordion")
            +accordion-item("criterios_busqueda_accordion_item")
               +form("criterios-busqueda", {class: "is-search-form"})
                  +field-date("fecha", {label: "Fecha", clear:true, tooltip: "DD/MM/AAAA"})
                  +field-date-range("rango", {begin_label: "Fecha inicial", end_label: "Fecha final", required: true, size:"10em",  clear:true, orientation:"vertical"})
                  +field-plus-minus("contrato", {label: "Contrato", tooltip: "Contrato"})
                  +field-plus-minus("digito", {label: "Digito"})
                  +field-options("negocio",
                     {},
                     {key: "CB", value:"Casa de Bolsa"},
                     {key:"B", value:"Banco"}
                  )
                  //- +field-select-plus-minus("contrato1", {label: "Contrato", size: "10em"},
                  //-    {key: "", value:""},
                  //-    {key: "C001", value:"Contrato 01"},
                  //-    {key: "C002", value:"Contrato 02"},
                  //-    {key: "C003", value:"Contrato 03"},
                  //-    {key: "C004", value:"Contrato 04"},
                  //-    {key: "C005", value:"Contrato 05"}
                  //- )
                  +field-checks("products3",
                     {
                     label: "Product Type",
                     orientation: "horizontal"
                     },
                     {key: "P01", value:"Product 1"},
                     {key: "P02", value:"Product 2"},
                     {key: "P03", value:"Product 3"}
                  )
                  +field-select("payment",
                     {
                     label: "Payment method",
                     size: "12em"
                     },
                     {key: "ET", value:"Electronic transfer"},
                     {key:"CHK", value:"Check"}
                  )
                  +field-select-plus-minus("ejemplo", {label: "Contrato", size: "10em", maxsize: 3}, {key: "", value:""})
                  .column#botones-accion
                     +button-search({size: "large", tooltip: "Consultar", disabled: false})
                     +button-clean({size: "large", tooltip: "Limpiar", disabled: false})
                     +button-pdf({size: "large", tooltip: "PDF", disabled: false})
                     +button-xls({size: "large", tooltip: "XLS", disabled: false})

      .row.has_border
         .row.w-full.overflow-auto
            +grid("contratos")
         +grid-records-count("contratos")

      include _dialog_pdf
      include _dialog_xls
      include _dialog_aviso


block scripts
   script(src="../../assets/scripts/accimarket/01-caucion-bursatil/scripts.js")