extends /layouts/html5

block title
   title 01.Causión Bursátil

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/01-caucion-bursatil/styles.css")

block content
   .content.p-4
      .row
         +accordion("criterios_busqueda_accordion")
            +accordion-item("criterios_busqueda_accordion_item")
               form.is-search-form#criterios-busqueda(data-parsley-validate="")
                  +field-date("fecha", {label: "Fecha"})
                  +field-plus-minus("contrato", {label: "Contrato"})
                  +field-plus-minus("digito", {label: "Digito"})
                  +field-options("negocio",
                                 {},
                                 {key: "CB", value:"Casa de Bolsa"},
                                 {key:"B", value:"Banco"}
                  )
                  .column#botones-accion
                     +button-search({size: "large", disabled: false})
                     +button-clean({size: "large", disabled: false})
                     +button-pdf({size: "large", disabled: false})
                     +button-xls({size: "large", disabled: false})

      .row.has_border
         .row.w-full.overflow-auto
            +grid("contratos")
         +grid-records-count("contratos")

block scripts
   script(src="../../assets/scripts/accimarket/01-caucion-bursatil/scripts.js")