include /mixins/mixins

+accordion("criterios_busqueda_accordion")
    +accordion-item("criterios_busqueda_accordion_item")
        form#criterios-busqueda.flex.flex-wrap.justify-between(data-parsley-validate="")
            .campos-filtrado
                .row.flex.flex-wrap
                    +field-input("contrato",
                        { label: "Contrato", orientation: "horizontal" }
                    )
                    +field-input("digito",
                        { label: "Digito", size: "4em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("dv",
                        { label: "DV", size: "4em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("estatus",
                        { label: "Estatus", size: "4em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("perfil",
                        { label: "Perfil", size: "12em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("perfil2",
                        { label: "", size: "12em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("portafolio",
                        { label: "Portafolio", size: "12em", disabled: true, orientation: "horizontal" }
                    )
                .row.flex.flex-wrap
                    +field-input("portafolio_uuid",
                        { label: "", size: "36.5em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("clabe",
                        { label: "Perfil", size: "12em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("clabe2",
                        { label: "", size: "12em", disabled: true, orientation: "horizontal" }
                    )
                    +field-input("stipo_port",
                        { label: "STipo Port", size: "12em", disabled: true, orientation: "horizontal" }
                    )
                .row.flex.flex-wrap
                    +field-input("libro",
                        { label: "Libro", size: "12em", disabled: true, orientation: "horizontal" }
                    )

            .botones
                +button-search({size: "large", disabled: false})
                +button-pdf({size: "large", disabled: false})
                +button-xls({size: "large", disabled: false})