include /mixins/mixins

+tab-group("titular_contrato_tabgroup",
    {id: "tab_persona_fisica_nacional", label: "Persona Física Nacional"},
    {id: "tab_clasificacion_contrato", label: "Clasificación Contrato"},
    {id: "tab_comisionaes", label: "Comisiones"},
    {id: "tab_documentacion", label: "Documentación"},
    {id: "tab_domicilio", label: "Domicilio"},
    {id: "tab_firmas_autorizadas", label: "Firmas Autorizadas"},
    {id: "tab_formatos_fiscales", label: "Formatos Fiscales"},
    {id: "tab_medio_comunicacion", label: "Medio de Comunicación"},
    {id: "tab_medio_liquidacion", label: "Medio de Liquidación"},
    {id: "tab_observaciones", label: "Observaciones"}
)
    +tab-item("tab_persona_fisica_nacional")
    +tab-item("tab_clasificacion_contrato")
    +tab-item("tab_comisionaes")
    +tab-item("tab_documentacion")
    +tab-item("tab_domicilio")
    +tab-item("tab_firmas_autorizadas")
    +tab-item("tab_formatos_fiscales")
    +tab-item("tab_medio_comunicacion")
    +tab-item("tab_medio_liquidacion")
    +tab-item("tab_observaciones")