include /mixins/mixins

+tab-group("TitularContratoTabGroup",
    {id: "TabPersonaFisicaNacional", label: "Persona Física Nacional", img:'male_user.png'},
    {id: "TabPersonaFisicaInter", label: "Persona Fisica Internacional", img:'male_user.png'},
    {id: "TabPersonaMoralNacional", label: "Persona Moral Nacional", img:'male_user.png'},
    {id: "TabPersonaMoralExtranjera", label: "Persona Moral Extranjera", img:'male_user.png'},
    {id: "TabClasificacionContrato", label: "Clasificación Contrato", img:'formatos.png'},
    {id: "TabComisionaes", label: "Comisiones", img:'calculator.png'},
    {id: "TabDocumentacion", label: "Documentación", img:'attachment.png'},
    {id: "TabDomicilio", label: "Domicilio", img:'home.png'},
    {id: "TabFirmasAutorizadas", label: "Firmas Autorizadas", img:'edit_page.png'},
    {id: "TabFormatosFiscales", label: "Formatos Fiscales", img:'documentacion.png'},
    {id: "TabMedioComunicacion", label: "Medio de Comunicación", img:'correo.png'},
    {id: "TabMedioLiquidacion", label: "Medio de Liquidación", img:'credit_cart.png'},
    {id: "TabObservaciones", label: "Observaciones", img:'search_page.png'}
)
    +tab-item("TabPersonaFisicaNacional")
        include tab-titular-contrato/fisica/_personaFisicaNacional
    +tab-item("TabPersonaFisicaInter")
        include tab-titular-contrato/fisica/_personaFisicaInter
    +tab-item("TabPersonaMoralNacional")
        include tab-titular-contrato/moral/_personaMoralNacional
    +tab-item("TabPersonaMoralExtranjera")
        include tab-titular-contrato/moral/_personaMoralExtranjera
    +tab-item("TabClasificacionContrato")
        include tab-titular-contrato/_clasificacion_contrato
    +tab-item("TabComisionaes")
        include tab-titular-contrato/_comisiones
    +tab-item("TabDocumentacion")
        include tab-titular-contrato/_documentacion
    +tab-item("TabDomicilio")
        include tab-titular-contrato/_domicilio
    +tab-item("TabFirmasAutorizadas")
        include tab-titular-contrato/_firmas_autorizadas
    +tab-item("TabFormatosFiscales")
        include tab-titular-contrato/_formato_fiscales
    +tab-item("TabMedioComunicacion")
        include tab-titular-contrato/_medio_comunicacion
    +tab-item("TabMedioLiquidacion")
        include tab-titular-contrato/_medio_liquidacion
    +tab-item("TabObservaciones")
        include tab-titular-contrato/_observaciones