include /mixins/mixins

+tab-group("cotitular2_tabgroup",
    {id: "tab_persona_fisica_nacional", label: "Persona Física Nacional"},
    {id: "tab_clasificacion_contrato", label: "Clasificación Contrato"},
    {id: "tab_comisiones", label: "Comisiones"},
    {id: "tab_documentacion", label: "Documentación"},
    {id: "tab_domicilio", label: "Domicilio"},
    {id: "tab_firmas_autorizadas", label: "Firmas Autorizadas"},
    {id: "tab_formatos_fiscales", label: "Formatos Fiscales"},
    {id: "tab_medio_comunicacion", label: "Medio de Comunicación"},
    {id: "tab_medio_liquidacion", label: "Medio de Liquidación"},
    {id: "tab_observaciones", label: "Observaciones"}
)
    +tab-item("tab_persona_fisica_nacional")
        include tab-cotitular2-pages/_persona_fisica_nacional
    +tab-item("tab_clasificacion_contrato")
        include tab-cotitular2-pages/_clasificacion_contrato
    +tab-item("tab_comisiones")
        include tab-cotitular2-pages/_comisiones
    +tab-item("tab_documentacion")
        include tab-cotitular2-pages/_documentacion
    +tab-item("tab_domicilio")
        include tab-cotitular2-pages/_domicilio
    +tab-item("tab_firmas_autorizadas")
        include tab-cotitular2-pages/_firmas_autorizadas
    +tab-item("tab_formatos_fiscales")
        include tab-cotitular2-pages/_formato_fiscales
    +tab-item("tab_medio_comunicacion")
        include tab-cotitular2-pages/_medio_comunicacion
    +tab-item("tab_medio_liquidacion")
        include tab-cotitular2-pages/_medio_liquidacion
    +tab-item("tab_observaciones")
        include tab-cotitular2-pages/_observaciones