extends /layouts/html5

block title
  title 27.Datos

block styles
  link(rel="stylesheet" href="../../assets/css/accimarket/27-administracion-datos-generales/styles.css")
  link(rel="stylesheet" href="../../assets/css/accimarket/27-administracion-datos-generales/styles_titular.css")

block content
  .content.p-4
    include _criterios_busqueda

    .row
      +tab-group("TitularCotitularTabgroup",
        {id: "TabTitularContrato", label: "TITULAR DEL CONTRATO"}
      )
        +tab-item("TabTitularContrato")
          include _tab_titular_contrato

block scripts
  script(src="../../assets/scripts/accimarket/27-administracion-datos-generales/scripts.js")
  script(src="../../assets/scripts/accimarket/27-administracion-datos-generales/scripts_funciones.js")