#divFieldAsesorInversion {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldTipoManifiesto {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldServicioInversion {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldCartaEjecucion {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldCartaEjecucionDos {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldInstitucionalPractVta {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldSofisticadoNosofisticado {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldElegibleNoelegible {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldCalificadoNocalificado {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldDiscrecionalNodiscrecional {
  label {
    width: 20em;
    text-align: end;
  }
}

#divFieldAnexoDescriptivo {
  label {
    width: 20em;
    text-align: end;
  }
}

/*FECHAS*/

#divFieldFechaCartaEjecucion {
  label {
    width: 3.1em;
    text-align: end;
  }
}

#divFielFechaCartaEjecucionDos {
  label {
    width: 3.1em;
    text-align: end;
  }
}

#divFieldFechaInstitucionalPractVta {
  label {
    width: 2.9em;
    text-align: end;
  }
}

#divFieldFechaSofisticadoNosofisticado {
  label {
    width: 2.9em;
    text-align: end;
  }
}

#divFieldFechaElegibleNoelegible {
  label {
    width: 2.9em;
    text-align: end;
  }
}

#divFieldFechaCalificadoNocalificado {
  label {
    width: 2.9em;
    text-align: end;
  }
}

#divFieldFechaDiscrecionalNodiscrecional {
  label {
    width: 2.9em;
    text-align: end;
  }
}

/*PAGE OBSERVACIONES - COTITULAR2*/

#divFieldTextAreaObservaciones {
  label {
    width: 2em;
    text-align: end;
  }
}

#divFieldFechaApertura {
  label {
    width: 14em;
    text-align: end;
  }
}

#divFieldMontoInicial {
  label {
    width: 17em;
    text-align: end;
  }
}

#divFieldSector {
  label {
    width: 14em;
    text-align: end;
  }
}

#divFieldResidencia {
  label {
    width: 17em;
    text-align: end;
  }
}

#divFieldEnvioCorrespondencia {
  label {
    width: 14em;
    text-align: end;
  }
}

#divFieldTipoCuenta {
  label {
    width: 17em;
    text-align: end;
  }
}

#comisionesImpuestosSpan {
  width: 14em;
  text-align: end;
  font-weight: bold;
}

#divFieldManejoCuenta {
  margin-left: 19.9em;
  label {
    width: 17em;
    text-align: end;
  }
}

#divFieldCustodiaAdmon {
  label {
    width: 14em;
    text-align: end;
  }
}

#divFieldLimMaxOperacion {
  label {
    width: 17em;
    text-align: end;
  }
}

#divFieldIsrMdoDin {
  label {
    width: 14em;
    text-align: end;
  }
}

#divFieldFechaUltMov {
  label {
    width: 17em;
    text-align: end;
  }
}

#divFieldPorcentajeAcumIsr {
  label {
    width: 14em;
    text-align: end;
  }
}

#divFieldPorcentajeAcumIde {
  label {
    width: 17em;
    text-align: end;
  }
}

#divFieldImprimeEstadoCuenta {
  label {
    width: 14em;
    text-align: end;
  }
}

/*Estilos QUIZ - clasificacion contrato*/
#conocimiento_experiencia {
  td.question {
    text-align: right;
  }
}

.amHeigtTabla {
  height: 31em;
}

.amHeigthTablaM {
  height: 27.5em;
}

.amHeigthTablaC {
  height: 15em;
}

// Centrar los textos de los campos de salida
.amField {
  .amInput {
    &:disabled {
      text-align: center;
    }
  }
}

// Menu style with image
.amContainerImg {
  max-width: 100px;
}

.amContainerImgImage {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
}

.amContainerImgText {
  display: inline-block;
  width: 80%;
  @media (max-width: 100px) {
    width: 100%;
  }
}
