#divPersonaFN,
#divPersonaFI {
  display: flex;
  flex-wrap: wrap;
  width: 80em;

  #txtSexo {
    label {
      width: 4.5em;
    }
  }

  #divFieldPfiSexo,
  #divFieldPfiCalidadMigratoria {
    label {
      width: 4.5em;
    }
  }

  #divFieldPfiActividad {
    label {
      width: 3.8em;
    }
  }

  #divFieldPfiRfc {
    label {
      width: 2.6em;
    }
  }
}

#divPersonaMN,
#divPersonaME {
  flex-wrap: wrap;
  width: 83em;

  label {
    width: 11em;
  }

  .amRow {
    display: flex;
  }

  #divRowBnmx,
  #divRowPmeBnmx {
    width: 60em;
  }
}
