extends /layouts/html5

block title
   title Graficos

block styles
   //- link(rel="stylesheet" href="/assets/css/accimarket/graphics/styles.css")

block content
   <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
   <div id="containerBar" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
   //- <div id="containerChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
   
   +canvas("stackChart", {width:'800px', height:'800px'})
   +canvas("barChart", {width:'800px', height:'800px'})
   +canvas("barChartNBar", {width:'800px', height:'800px'})
   +canvas("lineChart", {width:'800px', height:'800px'})
   +canvas("multiChart", {width:'800px', height:'800px'})
   +canvas("pieChart", {width:'800px', height:'800px'})
   +canvas("stackChartH", {width:'500px', height:'800px'})

block scripts
   script(src="/assets/scripts/accimarket/graphics/scripts.js")