extends /layouts/html5

block title
   title Graficos

block styles
   //- link(rel="stylesheet" href="/assets/css/accimarket/graphics/styles.css")

block content
   +chart("container",{min_width: "200px", max_width: "800px", height: "400px"})
   +chart("containerBorder",{min_width: "200px", max_width: "800px", height: "400px"})
   +chart("containerBar",{min_width: "200px", max_width: "800px", height: "150px"})
   //- //- +chart("containerBarMirrow",{min_width: "200px", max_width: "800px", height: "150px"})
   +canvas("stackChart", {width:'800px', height:'800px'})
   +canvas("barChart", {width:'800px', height:'800px'})
   +canvas("barChartNBar", {width:'800px', height:'800px'})
   +canvas("lineChart", {width:'800px', height:'800px'})
   +canvas("multiChart", {width:'800px', height:'800px'})
   +canvas("pieChart", {width:'800px', height:'800px'})
   +canvas("stackChartH", {width:'500px', height:'800px'})

block scripts
   script(src="/assets/scripts/accimarket/graphics/scripts.js")