extends /layouts/html5

block title
   title 10.test

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/10-Test/styles.css")

block content
   .content.p-4
      .row
         .wizard
            h3 Paso 1
            section
               p Contenido del Paso 1
            h3 Paso 2
            section
               p Contenido del Paso 2
            h3 Paso 3
            section
               p Contenido del Paso 3

block scripts
   script(src="../../assets/scripts/accimarket/10-Test/scripts.js")