extends /layouts/html5

block title
   title 04.Consulta de Mercado de Dinero

block styles
  link(rel="stylesheet" href="/assets/css/accimarket/04-consulta-mercado-dinero/styles.css")

block content
   .container
      .row
         +accordion("criterios_busqueda_accordion")
            +accordion-item("criterios_busqueda_accordion_item")
               form#criterios-busqueda(data-parsley-validate="")
                  +field-plus-minus("contrato", {label: "Contrato"})
                  +field-plus-minus("digito", {label: "Digito"})
                  +field-checks("servicio_inversion",
                              {
                                 label: "Servicio de Inversión",
                              },
                              {key: "S01", value:"Asesoría", color:"green"},
                              {key: "S02", value:"Gestión", color:"yellow"},
                              {key: "S03", value:"Comercialización", color:"blue"},
                              {key: "S04", value:"Ejecución", color:"cyan"},
                              {key: "S05", value:"N/A", color:"gray"}
                              )
                  +field-checks("rompe",
                              {
                                 label: "Rompe",
                              },
                              {key: "SI", value:"Si", color:"red"},
                              {key: "NO", value:"No", color:"green"},
                              {key: "N/A", value:"N/A", color:"gray"}
                              )
                  .column#botones-accion
                     +button-search({size: "large", disabled: false})
                     +button-clean({size: "large", disabled: false})
                     +button-pdf({size: "large", disabled: false})
                     +button-xls({size: "large", disabled: false})

      .row.has_border#search-results-section
         +tab-group("resultados_tab_group",
                     {id: "tab_intradia", label: "Intradia"},
                     {id: "tab_historicos", label: "Históricos"})
            +tab-item("tab_intradia")
               +grid("contratos")
            +tab-item("tab_historicos")
               +grid("contratos")

block scripts
   script(src="/assets/scripts/accimarket/04-consulta-mercado-dinero/scripts.js")