extends ../../layouts/html5

block title
   title 01.Causión Bursátil

block styles
   link(rel="stylesheet" href="/assets/css/accimarket/01-caucion-bursatil.css")

block content
   .container
      .row
         +accordion("criterios_busqueda_accordion")
            +accordion-item("criterios_busqueda_accordion_item")
               form#criterios-busqueda(data-parsley-validate="")
                  +field-date("fecha", {label: "Fecha"})
                  +field-plus-minus("contrato", {label: "Contrato"})
                  +field-plus-minus("digito", {label: "Digito"})
                  +field-options("negocio",
                                 {},
                                 {key: "CB", value:"Casa de Bolsa"},
                                 {key:"B", value:"Banco"}
                  )
                  .column#botones-accion
                     +button-search
                     +button-clean
                     +button-pdf
                     +button-xls

      .row.has_border#search-results-section
         +grid("contratos")

block scripts
   script(src="/assets/scripts/accimarket/01-caucion-bursatil.js")