.container {
  #search-criterias-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    #busqueda_contrato {
      flex: 1;

      label {
        width: 11em;
        text-align: right;
      }

      #operaciones_mayores_a,
      #plazo {
        margin-left: 1.5em;
      }
    }

    #datos_contrato_movimientos_tab_group {
      flex: 2.5;
    }

    #datos_contrato {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
      }

      label {
        width: 6em;
      }
    }
  }
}
