extends ../../layouts/html5

block title
   title 00. Distribución de Instrucciones

block styles
   link(rel="stylesheet" href="/assets/css/accimarket/09-distribucion-de-instrucciones.css")

block content
  .container
    +sidebar
      +field-checks("medios_liquidacion",
                    {
                      label: "Medios de Liquidación",
                    },
                    {key: "MEL", value:"Medio Electrónico"},
                    {key: "BIL", value:"Efectivo (Billete)"},
                    {key: "CHE", value:"Cheque"},
                    {key: "OTR", value:"Otros"}
      )
      +field-checks("tipo_movimiento",
                    {
                      label: "Tipo de Movimiento",
                    },
                    {key: "01", value:"Cargo a cta del cliente"},
                    {key: "02", value:"En cuenta"},
                    {key: "03", value:"Entrega en caja"},
                    {key: "04", value:"Ocurre"},
                    {key: "05", value:"Traspaso de Fondos"},
                    {key: "06", value:"Cargo a cta del cliente"},
                    {key: "07", value:"Entrega en nuestra caja"},
                    {key: "08", value:"Cargo en cuenta"}
      )
      +field-select("transaccion",
        {
          label: "Transacción",
          size: "12em"
        },
        {key: "ALL", value:"Todos"}
      )
      +field-select("institucion_financiera",
        {
          label: "Institución Financiera",
          size: "12em"
        },
        {key: "ALL", value:"Todos"}
      )
      +field-select("dispersion",
        {
          label: "Dispersión",
          size: "12em"
        },
        {key: "ALL", value:"Todos"}
      )
      +field-select("subsistema",
        {
          label: "Subsistema",
          size: "12em"
        },
        {key: "ALL", value:"Todos"}
      )
      +field-plus-minus("cuenta", {label: "Cuenta", size: "8em"})
    .content#contenido
      .row#criterios-busqueda
        +accordion("criterios_busqueda_accordion")
          +accordion-item("criterios_busqueda_accordion_item")

            .col#criterios-seleccion-01
              .col
                +field-options("opciones",
                  {},
                  {key: "INTRA", value:"Intradia"},
                  {key: "PROG", value:"Programados"},
                  {key: "HIST", value:"Históricos"}
                )
                +field-checks("capturados",
                              {
                                label: "Capturados",
                              },
                              {key: "CAP", value:"Capturados"}
                )
              +field-plus-minus("contrato", {label: "Contrato"})
              +field-plus-minus("folio_mov", {label: "Folio Mov."})
              +field-plus-minus("digito", {label: "Digito", size: "5em"})
              .col
                +field-input("importe_neto", {label: "Importe Neto"})
                +field-select("comparacion",
                  {
                    label: "",
                    size: "12em"
                  },
                  {key: "ALL", value:"Todos"},
                  {key: "EQ", value:"Igual"},
                  {key: "GT", value:"Mayor que"},
                  {key: "LT", value:"Menor que"},
                  {key: "GE", value:"Mayor o igual que"},
                  {key: "LE", value:"Menor o igual que"}
                )
              +field-checks("depositos_retiros",
                            {
                              label: "",
                            },
                            {key: "DEP", value:"Depósitos"},
                            {key: "RET", value:"Retiros"}
              )
              +field-checks("estatus",
                            {
                              label: "",
                            },
                            {key: "APL", value:"Aplicados", color: "green"},
                            {key: "CAN", value:"Cancelados", color: "red"},
                            {key: "PEN", value:"Pendientes", color: "yellow"},
                            {key: "REV", value:"En Revisión", color: "grey"},
                            {key: "PRO", value:"En Proceso", color: "grey"},
                            {key: "RVS", value:"En Revisión Sans", color: "grey"}
              )
              .col#botones_accion
                .col
                  +button-search
                  +button-clean
                .col
                  +button-pdf
                  +button-xls

            .col#criterios-seleccion-02
              +field-select("sucursal",
                {
                  label: "Sucursal",
                  size: "10em"
                },
                {key: "REF", value:"Reforma"},
                {key: "INS", value:"Insurgentes"},
                {key: "TLA", value:"Tlalpan"},
                {key: "CEN", value:"Centro"}
              )

      .row.has_border#resultados-busqueda
        +tab-group("tabs_resultados_busqueda",
                    {id: "tab_promocion", label: "Promoción"},
                    {id: "tab_administrativas", label: "Administrativas"},
                    {id: "tab_fiduciario", label: "Fiduciario"})
          +tab-item("tab_promocion")
            +grid("grid_promocion")
          +tab-item("tab_administrativas")
            +grid("grid_administrativas")
          +tab-item("tab_fiduciario")
            +grid("grid_fiduciario")
block scripts
   script(src="/assets/scripts/accimarket/09-distribucion-de-instrucciones.js")