extends ../../layouts/html5

block title
   title 00. Distribución de Instrucciones

block styles
   link(rel="stylesheet" href="/assets/css/main.css")
   link(rel="stylesheet" href="/assets/css/accimarket/09-distribucion-de-instrucciones.css")

block content
  .container
    .column#barra-lateral
    .column#contenido
      .row#criterios-busqueda
        +accordion("criterios_busqueda_accordion")
          +accordion-item("criterios_busqueda_accordion_item")
            .row
              .col#criterios-seleccion-01
                .col
                  +field-options("opciones",
                    false,
                    {key: "INTRA", value:"Intradia"},
                    {key: "PROG", value:"Programados"},
                    {key: "HIST", value:"Históricos"}
                  )
                  +field-checks("capturados",
                                "Capturados",
                                false,
                                {key: "CAP", value:"Capturados"}
                  )
                +field-plus-minus("contrato", "Contrato")
                +field-plus-minus("folio_mov", "Folio Mov.")
                +field-plus-minus("digito", "Digito", "5em")
                .col
                  +field-input("importe_neto", "Importe Neto")
                  +field-select("comparacion",
                    "",
                    false,
                    "12em",
                    {key: "ALL", value:"Todos"},
                    {key: "EQ", value:"Igual"},
                    {key: "GT", value:"Mayor que"},
                    {key: "LT", value:"Menor que"},
                    {key: "GE", value:"Mayor o igual que"},
                    {key: "LE", value:"Menor o igual que"}
                  )
                +field-checks("depositos_retiros",
                              "",
                              false,
                              {key: "DEP", value:"Depósitos"},
                              {key: "RET", value:"Retiros"}
                )
                +field-checks("estatus",
                              "",
                              false,
                              {key: "APL", value:"Aplicados", color: "green"},
                              {key: "CAN", value:"Cancelados", color: "red"},
                              {key: "PEN", value:"Pendientes", color: "yellow"},
                              {key: "REV", value:"En Revisión", color: "grey"},
                              {key: "PRO", value:"En Proceso", color: "grey"},
                              {key: "RVS", value:"En Revisión Sans", color: "grey"}
                )
                .col#botones_accion
                  .col
                    +button-search
                    +button-clean
                  .col
                    +button-pdf
                    +button-xls
            .row
              .col#criterios-seleccion-02
                +field-select("sucursal",
                  "Sucursal",
                  false,
                  "10em",
                  {key: "REF", value:"Reforma"},
                  {key: "INS", value:"Insurgentes"},
                  {key: "TLA", value:"Tlalpan"},
                  {key: "CEN", value:"Centro"}
                )

      .row.has_border#resultados-busqueda
        +tab-group("tabs_resultados_busqueda",
                    {id: "tab_promocion", label: "Promoción"},
                    {id: "tab_administrativas", label: "Administrativas"},
                    {id: "tab_fiduciario", label: "Fiduciario"})
          +tab-item("tab_promocion")
            +grid("grid_promocion")
          +tab-item("tab_administrativas")
            +grid("grid_administrativas")
          +tab-item("tab_fiduciario")
            +grid("grid_fiduciario")
block scripts
   script(src="/assets/scripts/common.js")
   script(src="/assets/scripts/accimarket/09-distribucion-de-instrucciones.js")