include /mixins/mixins

+sidebar
  span.bg-gray-300.block.p-3.font-bold.text-lg.mb-3 CONSULTA DE BANDAS
  #divConsulta
    +form("criterios-busqueda", {})
      +field-date("fBanda",
        {
          label: "Fecha Banda",
          orientation: "horizontal",
          size: "10em"
        },
        {}
      )
      +field-select("cboGrupo",
        {
          label: "Grupo",
          orientation: "horizontal",
          size: "12em",
          max_length: "15"
        },
        {}
      )
      +field-select("cboInstrumento",
        {
          label: "Instrumento",
          orientation: "horizontal",
          tooltip: "Monto a invertir",
          size: "12em",
          max_length: "15"
        },
        {}
      )
    .row.mt-6.flex.justify-center
      +button-search({size:"large", disabled: false})

  span.bg-gray-300.block.p-3.font-bold.text-lg.mb-3 CONSULTA DE BANDAS
  #filtros
    +form("Criterios-Filtros", {})
      +field-input("cboContrato",
        {
          label: "Contrato",
          orientation: "horizontal",
          tooltip: "Contrato",
          size: "12em",
          max_length: "15"
        }
      )
      +field-input("cboDigito",
        {
          label: "Digito",
          orientation: "horizontal",
          tooltip: "Digito",
          size: "12em",
          max_length: "15"
        }
      )
      .row.mt-6.flex.justify-center
        +button-search({size:"large", disabled: false})

  span.bg-gray-300.block.p-3.font-bold.text-lg.mb-3 DATOS POR APLICAR
  #DatosAplicar
    +form("Criterios-Datos",{})
      +field-input("tazaPactada",
        {
          label:"Taza Pactada",
          orientacion:"horizontal",
          size:"10em",
          required: true
        }
      )
      +field-input("plazo",
        {
          label:"Plazo",
          orientacion:"horizontal",
          size:"10em",
          required: true
        }
      )
      +field-input("montoInvertir",
        {
          label:"Monto a Invertir",
          orientacion:"horizontal",
          size:"10em"
        }
      )
      .row.mt-6.flex.justify-center
        +button-add({size:"large",disabled:false})
        +button-clean({size:"large", disabled: false})
