.px-0.mb-1#buscadorTabla
  +field-input("buscaBandasInput",
    {
      label: "Bandas: ",
      orientation: "horizontal",
      size: "8em",
      disabled:true
    })

.justify-center.mx-32
  +field-group("botones-group")
    .row.w-full.overflow-auto#div-bandas-reportos-grid
      .text-black
        +grid("gridBandas")
    .row.mt-6.mx-16.flex.justify-center
      +button-reset({size:"large", disabled: false})

.px-0.mt-32.mb-1#buscadorTabla
  +field-input("buscaContratosInput",
    {
      label: "Contratos: ",
      orientation: "horizontal",
      size: "8em",
      disabled:true
    })

.row.w-full.overflow-auto.text-black#div-contratos-reportos-grid
  +grid("gridContratos")

.row.mt-6.flex
+field-group("botones-group")
  +button-send({size:"large", label: "Enviar", disabled: false})
  +button-validate({size:"large", disabled: false})
  +button-clean({size: "large", disabled: false})
  +field-input("totales",
    {
        label: "$Total:",
        orientation: "horizontal",
        size: "8em"
    })

