.row.has_border
  .row.w-full.overflow-auto.text-black#div-bandas-reportos-grid
    +grid("gridBandas")
.row.mt-6.flex.justify-center
  +button-reset({size:"large", disabled: false})
.row.has_border
  .row.w-full.overflow-auto.text-black#div-contratos-reportos-grid
    +grid("gridContratos")
.row.mt-6.flex
+field-group("botones-group")
  +button-send({size:"large", label: "Enviar", disabled: false})
  +button-validate({size:"large", disabled: false})
  +button-clean({size: "large", disabled: false})
  +field-input("totales",
    {
        label: "$Total:",
        orientation: "horizontal",
        size: "8em"
    })