extends /layouts/jsp

block title
   title 201. Captura de reportos

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/201-captura-reportos/styles.css")

block content
   +sidebar-wrapper("aside")
      +sidebar({expanded: true})
         include _leftdiv
      +sidebar-content()
         include _maindiv
   +field-group("modales-group")
      #modalEnvia
         #dialog-modalEnvia
      #modalIKE
         #dialog-modalIKE
      #modalTablaDialog2
         #dialog-modal2
            table.innerTable#idtablaModal
   
block scripts
   script(src="../../assets/scripts/accimarket/201-captura-reportos/scripts.js")