extends /layouts/jsp

block title
   title 201. Captura de reportos

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/201-captura-reportos/styles.css")

block content
  .page.pl-8.pr-6.flex
    include _sidebar
    include _maindiv
   
block scripts
   script(src="../../assets/scripts/accimarket/201-captura-reportos/scripts.js")