#divConsulta,
#DatosAplicar {
  label {
    width: 80px;
  }
}

button,
select {
  border-radius: 6px !important;
}

#wilsonDiv {
  display: none;
}

.content.is_sidebar_open {
  padding-left: 233px !important;
}

html {
  color: black;
}

#div-bandas-reportos-grid,
#div-contratos-reportos-grid,
#div-envios-reportos-grid,
#div-errores-reportos-grid {
  border: 1px solid #919eab;
}

#div-bandas-reportos-grid {
  width: 700px;
}

.ui-th-div {
  color: #000;
}

// Para IE11
.sidebar {
  width: 500px;
  &.isClosed {
    width: 1.5em;
  }
}

.sidebar-wrapper {
  height: 100vh;
}

.sidebar-content {
  overflow-y: scroll;
}

.currency-prefix {
  margin-right: 4px;
}

#wilsonDiv {
  display: none;
}

#gbox_table_gridBandas,
#gview_table_gridBandas,
#table_gridBandas_toppager,
#gview_table_gridBandas div:nth-child(2),
#gview_table_gridBandas div:nth-child(3),
#gview_table_gridBandas div:nth-child(3) div,
#gview_table_gridBandas div:nth-child(4),
#gview_table_gridBandas div:nth-child(4) div {
  width: 100% !important;
}

#gbox_table_gridContratos,
#gview_table_gridContratos,
#table_gridContratos_toppager,
#gview_table_gridEnviados div:nth-child(2),
#gbox_table_gridEnviados,
#gview_table_gridEnviados,
#table_gridEnviados_toppager,
#gview_table_gridEnviados div:nth-child(2),
#gbox_table_gridErrores,
#gview_table_gridErrores,
#table_gridErrores_toppager,
#gview_table_gridErrores div:nth-child(2) {
  width: 100% !important;
}

#pg_table_gridBandas_toppager,
#pg_table_gridContratos_toppager,
#pg_table_gridEnviados_toppager,
#pg_table_gridErrores_toppager {
  text-align: -webkit-center;
}

#tab_uno,
#tab_dos {
  padding: 0px;
}

#buscadorTabla {
  background: #e2e8f0;
}

#buscadorTabla input {
  height: 18px;
}
