.row
    .ui-dialog.hidden(id="dialogo_pdf")
        .row.flex
            .column.w-40
                img.w-16.mt-4(src="../../assets/images/msgWarning.png")
            .column.ml-4
                p Tiene Solicitudes Pendientes por aplicar. Favor de validar con la Mesa de Control. Si desea continuar las Solicitudes Pendientes se cancelarán.
                br
                p ¿Deseas continuar?
        .row.pt-4.flex.justify-center
            +button-accept
            +button-cancel