include /mixins/mixins

.block.overflow-y-auto
  span.bg-gray-300.block.p-3.font-bold.text-lg.mb-3 CONSULTA DE BANDA
  #filtros
    +form("criterios-busqueda", {})
      +field-date("fecha_valor",
        {
          label: "Fecha valor",
          orientation: "horizontal",
          size: "10em",
          required: true,
          tooltip: "DD/MM/AAAA"
        }
      )
      +field-select("operacion",
        {
          label: "Operación",
          orientation: "horizontal",
          size: "12em",
          required: true
        },
        {key: "ALL", value:"Todos"}
      )
      .row.flex.items-center
        +field-select("emisora",
          {
            label: "Emisora/serie",
            orientation: "horizontal",
            size: "12em",
            required:true
          },
          {key: "ALL", value:"Todos"}
          )
      +field-select("tipo_valor",
        {
          label: "Tipo Valor",
          orientation: "horizontal",
          size: "12em",
          required:true
        },
          {key: "ALL", value:"Todos"}
        )
      +field-input("precio_banda",
        {
          label: "Precio Banda",
          orientation: "horizontal",
          disabled : true,
          size: "12em"
        })

      .row.mt-8.flex.justify-center
        +button-search({size: "large", disabled: false})

  .row#titulo
  span.bg-gray-300.block.p-3.bottom-80.font-bold.text-lg.mb-30 Filtros
  #filtros
    +form("criterios-Filtros", {})
      +field-plus-minus("contrato", {label: "Contrato", tooltip: "Contrato",  size: "14em"})
      +field-plus-minus("digito", {label: "Digito", tooltip: "Digito", size: "14em"})
      .row.mt-6.flex.justify-center
        +button-search({size: "large", disabled: false})

  .row#titulo
  span.bg-gray-300.block.p-3.font-bold.text-lg.mb-3 Datos por aplicar
  #filtros
    +form("Criterios-Datos", {})
      +field-input("titulos",
        {
          label: "Titulos",
          orientation: "horizontal",
          size: "12em",
          required: true
        }
      )
      +field-input("precio_pactado",
        {
          label: "Precio Pactado",
          orientation: "horizontal",
          size: "12em",
          required: true
        }
      )
      +field-input("monto",
        {
          label: "Monto  ",
          orientation: "horizontal",
          disabled : true,
          size: "12em",
          type: "currency"
        })
      .row.my-16.flex.justify-center
        +field-group("botones-group-md")
          +button-add({size:"large", disabled: false})
          +button-clean({size: "large", disabled: false})
      
      
