span.bg-gray-200.block#buscadorTabla
    +field-input("captura",
        {
        label: "Captura : ",
        orientation: "horizontal",
        disabled : true,
        size: "8em"
        }
    )

    .row.w-full.overflow-auto#div-contratos-reportos-grid
        +grid("contratos_directos")
    +grid-records-count("contratos_directos")


.row.mt-6.flex.pb-64.pt-64
    +button-send({size: "large", disabled: false})
    +button-validate({size: "large", disabled: false})
    +button-clean({size: "large", disabled: false})
    +field-input("captura",
        {
        label: "Total de Órdenes: ",
        orientation: "horizontal",
        disabled : true,
        size: "8em"
        }
    )