+field-input("captura",
    {
    label: "Captura : ",
    orientation: "horizontal",
    disabled : true,
    size: "12em"
    }
)
.row.mt-6.flex.justify-center
+button-send({size: "large", disabled: false})
+button-validate({size: "large", disabled: false})
+button-clean({size: "large", disabled: false})

+field-input("captura",
    {
    label: "Total de órdenes: ",
    orientation: "horizontal",
    disabled : true,
    size: "12em"
    }
)