span.bg-gray-200.block#divBuscadorTabla
    +field-input("captura",
        {
        label: "Captura : ",
        orientation: "horizontal",
        disabled : true,
        size: "8em"
        }
    )

    .amRow.w-full.overflow-auto#divContratosReportosGrid
        +grid("contratosDirectos")
    +grid-records-count("contratosDirectos")


.amRow.mt-6.flex.pb-64.pt-64
    +button-send({size: "large", disabled: false})
    +button-validate({size: "large", disabled: false})
    +button-clean({size: "large", disabled: false})
    +field-input("captura",
        {
        label: "Total de Órdenes: ",
        orientation: "horizontal",
        disabled : true,
        size: "8em"
        }
    )