+field-input("captura",
    {
    label: "Captura : ",
    orientation: "horizontal",
    disabled : true,
    size: "14em"
    }
)



.row.has_border
    .row.w-full.overflow-auto
        +grid("contratos_directos")
    +grid-records-count("contratos_directos")

.row.has_border
    .row.w-full.overflow-auto
        +grid("envios_directos")
    +grid-records-count("envios_directos")

.row.has_border
    .row.w-full.overflow-auto
        +grid("errores_directos")
    +grid-records-count("errores_directos")

.row#botones
    +button-send({size: "large", disabled: false})
    +button-validate({size: "large", disabled: false})
    +button-clean({size: "large", disabled: false})

.row#total_ordenes
+field-input("captura",
    {
    label: "Total de Órdenes: ",
    orientation: "horizontal",
    disabled : true,
    size: "8em"
    }
)