span.bg-gray-200.block#divBuscadorTabla
    .amRow
        +field-input("envio",
            {
                label: "Envío :",
                orientation: "horizontal",
                disabled : true,
                size: "8em"
            })


    .amRow.w-full.overflow-auto#divBandasReportosGrid
        +grid("EnviosDirectos")
    +grid-records-count("EnviosDirectos")

.amRow#botonResert.pb-50.pt-20
    +button-reset({size: "large", disabled: false})

span.bg-gray-200.block.p-0#buscadorTabla
    .amRow#divInputErrores.mt-6.justify-center
    +field-input("errores",
            {
            label: "Errores:",
            orientation: "horizontal",
            disabled : true,
            size: "8em"
            })

    .amRow.w-full.overflow-auto#divErroresReportosGrid
        +grid("ErroresDirectos")
    +grid-records-count("ErroresDirectos")
