extends /layouts/html5

block title
   title 202. Ordenes

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/202-ordenes/styles.css")

block content
  +sidebar-wrapper ("aside")
    +sidebar
      include _leftDiv
    +sidebar-content
      span.bg-gray-300.block.p-3.font-bold.text-lg Listado de Órdenes
      .row
        +tab-group("grupoGrids",
            {id: "tabOrdenes", label: "Órdenes"},
            {id: "tabEnviosErrores", label: "Envios y Errores"}
        )
          +tab-item("tabOrdenes")
            include _tab_ordenes
          +tab-item("tabEnviosErrores")
            include _tab_envios_errores
  +field-group("modalesGroup")
        #modalEnvia
          #dialogModalEnvia
        #modalIKE
          #dialogModalIKE
        #modalTablaDialog2
          #dialogModal2
              table.innerTable#idtablaModal
  
  
  include _dialog_pdf
  include _dialog_xls
  include _dialog_aviso
  include _dialog_denegado
  include _dialog_seleccion
block scripts
   script(src="../../assets/scripts/accimarket/202-ordenes/scripts.js")