extends /layouts/html5

block title
   title 202. Ordenes

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/202-ordenes/styles.css")

block content
  +sidebar-wrapper ("aside")
    +sidebar
      include _sidebar
    +sidebar-content
      span.bg-gray-300.block.p-3.font-bold.text-lg Listado de Órdenes
      .row
        +tab-group("grupo_grids",
            {id: "tab_ordenes", label: "Órdenes"},
            {id: "tab_envios_errores", label: "Envios y Errores"}
        )
          +tab-item("tab_ordenes")
            include _tab_ordenes
          +tab-item("tab_envios_errores")
            include _tab_envios_errores

block scripts
   script(src="../../assets/scripts/accimarket/202-ordenes/scripts.js")