#filtros {
  label {
    width: 80px;
  }

  #field_fecha_valor {
    label {
      width: 72px;
    }
  }
}

#table_grid_orden_toppager {
  display: flex;
  justify-content: center;
}

#boton_resert {
  display: flex;
  justify-content: center;
}

#input_errores {
  justify-content: center;
}

#titulo {
  margin-top: 5em;
}

#field_serie {
  span.required {
    display: none;
  }
  .field-label {
    display: none;
  }
  .field-control {
    margin-left: 0px;
  }
}

#btn_reset {
  span.button.big-button {
    margin-top: 100em;
  }
}

// Para IE11
.sidebar {
  width: 650px;
  &.isClosed {
    width: 1.5em;
  }
}

.sidebar-wrapper {
  height: 100vh;
}

.sidebar-content {
  overflow-y: scroll;
}

#wilsonDiv {
  display: none;
}

select,
input {
  border-radius: 0em;
  height: 15px;
}


#tab_envios_errores,#tab_ordenes {
  padding: 0px 0px 6px 0px !important;
  
}
.currency-prefix {
  margin-right: 4px;
}

#buscadorTabla{
  background: #e2e8f0;
}

#buscadorTabla input{
  height: 18px;
}

#div-bandas-reportos-grid,
#div-contratos-reportos-grid,
#div-envios-reportos-grid,
#div-errores-reportos-grid {
  border: 1px solid #919eab;
}

html {
  color: black;
}
.ui-th-div {
  color: #000;
}