#divFiltros {
  label {
    width: 80px;
  }

  #divFieldFechaValor {
    label {
      width: 72px;
    }
  }
}

#table_grid_orden_toppager {
  display: flex;
  justify-content: center;
}

#botonResert {
  display: flex;
  justify-content: center;
}

#divInputErrores {
  justify-content: center;
}

#divTitulo {
  margin-top: 5em;
}

#divFieldSerie {
  span.required {
    display: none;
  }
  .amFieldLabel {
    display: none;
  }
  .amFieldControl {
    margin-left: 0px;
  }
}

#btnReset {
  span.button.big-button {
    margin-top: 100em;
  }
}

// Para IE11
.amSidebar {
  width: 650px;
  &.amIsClosed {
    width: 1.5em;
  }
}

.amSidebarWrapper {
  height: 100vh;
}

.amSidebarContent {
  overflow-y: scroll;
}

#wilsonDiv {
  display: none;
}

select,
input {
  border-radius: 0em;
  height: 15px;
}

#divTabEnviosErrores,
#divTabOrdenes {
  padding: 0px 0px 6px 0px !important;
}
.amCurrencyPrefix {
  margin-right: 4px;
}

#divBuscadorTabla {
  background: #e2e8f0;
}

#divBuscadorTabla input {
  height: 18px;
}

#divBandasReportosGrid,
#divContratosReportosGrid,
#divEnviosReportosGrid,
#divErroresReportosGrid {
  border: 1px solid #919eab;
}

html {
  color: black;
}
.ui-th-div {
  color: #000;
}
