#filtros {
    label {
      width: 80px;
    }
  
    #field_fecha_valor {
      label {
        width: 72px;
      }
    }
  }
  
  #table_grid_orden_toppager {
    display: flex;
    justify-content: center;
  }
  
  