extends /layouts/jsp

block title
   title 200. Cotización reportos

block styles
   link(rel="stylesheet" href="../../assets/css/accimarket/200-cotizacion-reportos/styles.css")

block content
  +sidebar-wrapper("aside")
    +sidebar({expanded: true})
      include _filtros
    +sidebar-content()
      .row
        span.bg-gray-300.block.p-3.font-bold.text-lg Datos de la cotización
      .row.has_border.w-full.overflow-auto
        +tab-group("tabs_resultados_busqueda",
                   {id: "tab_detalle", label: "Detalle"})
          +tab-item("tab_detalle")
            .row.w-full.overflow-auto#div-cotizacion-reportos-grid
              +grid("grid_cotizacion_reportos")
            +grid-records-count("cotizacion_reportos")

block scripts
   script(src="../../assets/scripts/accimarket/200-cotizacion-reportos/scripts.js")