#filtros {
  label {
    width: 80px;
  }

  #field_fecha_banda {
    label {
      width: 72px;
    }
  }
}

#wilsonDiv {
  display: none;
}

// Para IE11
.sidebar {
  width: 230px;
  &.isClosed {
    width: 1.5em;
  }
}

.sidebar-wrapper {
  height: 100vh;
}

#div-cotizacion-reportos-grid{
  border: 1px solid #919eab;
}


#gbox_table_gridCotizacion,
#gview_table_gridCotizacion,
#table_gridCotizacion_toppager,
#gview_table_gridCotizacion div:nth-child(2),
#gview_table_gridCotizacion div:nth-child(3),
#gview_table_gridCotizacion div:nth-child(3) div,
#gview_table_gridCotizacion div:nth-child(4),
#gview_table_gridCotizacion div:nth-child(4) div {
  width: 100% !important;
}

select, input{
  border-radius: 6px;
}

html {
  color: black;
}
.ui-th-div {
  color: #000;
}