#filtros {
  label {
    width: 80px;
  }

  #field_fecha_banda {
    label {
      width: 72px;
    }
  }
}

#wilsonDiv {
  display: none;
}

// Para IE11
.sidebar {
  width: 230px;
  &.isClosed {
    width: 1.5em;
  }
}

.sidebar-wrapper {
  height: 100vh;
}

// .sidebar-content {
//   overflow-y: scroll;
// }
