extends /layouts/html5

block title
   title .::Bosquejo Ejercicio de Derechos Corporativos

block content
    +tab-group("consultas_tab_group",
                  {id: "tab_avisos_convocatoria_asamblea", label: "Avisos Convocatoria Asamblea"},
                  {id: "tab_consultar_derechos_capital", label: "Consultar Derechos de Capital"},
                  {id: "tab_consultar_derechos_deuda", label: "Consultar Derechos de Deuda"},
                  {id: "tab_consulta_liquidacion_derechos", label: "Consulta Liquidación de Derechos"}
      )
        +tab-item("tab_avisos_convocatoria_asamblea")
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})
                +field-plus-minus("tipo_asamble", {label: "Tipo Asamblea"})


block scripts
   script(src="../../assets/scripts/accimarket/angelc-pantallas/script.js")

